<div class="container">
    <div class="row">
        <div class="col-10 estilo_title">
            <h2 mat-dialog-title class="title_popup">{{estado}} Usuario</h2>
        </div>
        <div class="col-2 estilo_close" (click)="cerrar_popup()">
            <mat-icon matSuffix>close</mat-icon>
        </div>
    </div>
    <div mat-dialog-content>
        <form [formGroup]="usuarioForm" (ngSubmit)="onSubmitClick()">
            <div class="container">
                <div *ngIf="noImage then imageBlock else dropZoneBlock" ></div>
                <ng-template #imageBlock>
                    <div class="content_img">
                        <img class="empty_image" src="{{usuario.usu_foto}}" alt="" onerror="this.onerror=null;this.src='/assets/images/sin_imagen.png';">
                        <div class="edition_image">
                            <button (click)="updateImage()" class="btn btn-primary">
                                <!-- <em class="icon ni ni-edit-alt-fill"></em> -->
                                <mat-icon>mode_edit</mat-icon>
                            </button>
                        </div>
                    </div>
                </ng-template>
                <ng-template #dropZoneBlock>
                                
                    <div class="form-group">
                        <div class="container">
                        <div class="remove_image" *ngIf="usuario!=null">
                            <button (click)="removeImage()" class="btn btn-danger">
                                <!-- <em class="icon ni ni-property-remove"></em> -->
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                        <!-- <label class="form-label" for="full-name">Imagen de Usuario</label> -->
                        
                        <div id="imagen_actualizar" >                            
                            <div class="custom-dropzone" ngx-dropzone accept="image/png, image/jpeg" [multiple] ='false' (change)="onSelectmultimedia($event)">
                              <div class="etiqueta" *ngIf="filesmultimedia.length<1">
                                <h3 class="letra_anuncio">Sube una Imagen</h3>
                              </div>                
                              <ngx-dropzone-label class="label_preview">
                                  <!-- <h3 class="letra_anuncio">Actualiza tu imagen</h3> -->
                              </ngx-dropzone-label>
                              <div class="prevista">
                                  <ngx-dropzone-image-preview class="imagen_previa" ngProjectAs="ngx-dropzone-preview"  *ngFor="let f of filesmultimedia" [file]="f"  [removable]="true" (removed)="onRemovemultimedia(f)">                          
                                  </ngx-dropzone-image-preview>
                              </div>             
                            </div>
                        </div>
                    </div>
                    </div>
                </ng-template>
        
                <div class="row">
                    <div class="col-6 estilo_row" >
                        <mat-form-field class="example-full-width"  appearance="outline">
                            <mat-label>Nombre</mat-label>
                            <input matInput formControlName="nombre" type="text" 
                                 required autocomplete="off">   
                        </mat-form-field>
                    </div>
                    <div class="col-6 estilo_row" >
                        <mat-form-field class="example-full-width"  appearance="outline">
                            <mat-label>Codigo</mat-label>
                            <input matInput formControlName="codigo" type="text" 
                                 required autocomplete="off">   
                        </mat-form-field>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-6 estilo_row" >
                        <mat-form-field class="example-full-width"  appearance="outline">
                            <mat-label>Email</mat-label>
                            <input matInput formControlName="email" type="text"
                                 required autocomplete="off">   
                        </mat-form-field>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 estilo_row" >
                        <mat-form-field class="example-full-width"  appearance="outline">
                            <mat-label>Usuario</mat-label>
                            <input matInput formControlName="usuario" type="text" 
                                 required autocomplete="off">   
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 estilo_row" >
                        <mat-form-field class="example-full-width"  appearance="outline">
                            <mat-label>Telefono</mat-label>
                            <input matInput formControlName="telefono" type="text" 
                                 required autocomplete="off">   
                        </mat-form-field>
                    </div>
                    <div class="col-6 estilo_row">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Tipo de Usuario</mat-label>
                                <mat-select formControlName="tipoUsu" required (selectionChange)="selectTipoUsuario($event.value)">
                                    <mat-option *ngFor="let tipo of lista_tipo_usuario" [value]="tipo">
                                    {{tipo.nombre}}
                                    </mat-option>
                                </mat-select>
                        </mat-form-field>
                      </div>
                </div>

                <!-- <div class="row" *ngIf="usuario != null"> -->
                    <div class="row col-6" *ngIf="usuario != null">
                        <mat-slide-toggle color="primary" class="toggle_estado"
                            [checked]="isPassword"
                            (change)="cambiarEstado($event)">
                            <p class="letra_toggle">Cambiar Contraseña</p>  
                        </mat-slide-toggle>
                    </div>
                    <div class="row" *ngIf="isPassword==true"> 
                        <div class="col-6 estilo_row" >
                            <mat-form-field class="example-full-width"  appearance="outline">
                                <mat-label>Contraseña</mat-label>
                                <input matInput formControlName="pwd_new" [type]="hide ? 'password' : 'text'"
                                        required autocomplete="off">   
                            </mat-form-field>
                        </div>
                        <div class="col-6 estilo_row" >
                            <mat-form-field class="example-full-width"  appearance="outline">
                                <mat-label>Repita Contraseña </mat-label>
                                <input [type]="hide ? 'password' : 'text'" matInput formControlName="pwd_new_re"
                                        required autocomplete="off">   
                            </mat-form-field>
                        </div>
                        <p class="text-danger" *ngIf="pwdEqual == true">*Las contraseñas no coinciden</p>
                    </div>
                    
                <!-- </div> -->

            </div>

            <div class="btn-sec">                
                <button type="button" mat-button (click)="closeDialog()">Cancelar</button>
                <button class="mr-3" mat-raised-button color="primary">{{estado}}</button>
            </div>
        </form>
    </div>
</div>