
.btn-sec
    text-align: center; 
.mr-3
    margin: 0 0 0 25px;

.estilo_close
    cursor: pointer;    
.title_popup
    text-align: center; 
    padding-left: 70px; 
.etiqueta
    width: 100%;
    text-align: center;

#imagen_actualizar
    max-height: 180px;
    margin-bottom: 20px;
    border-radius: 10px;
    margin-top: 10px;
.custom-dropzone
    width: 100% !important;
    height: 100% !important;
    display: inherit !important;
    max-height : 150px

.label_preview
    border: none;
.prevista
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);

.imagen_previa
    width: 90%;
    min-height: 50px !important;
    height: 50px !important;



.content_img
    text-align: center;


.empty_image
    width: 150px;
    height: 150px;


.edition_image
   text-align: right


.remove_image
    
   


    
