<div>
  <div class="row">
    <div class="col-10 estilo_title">
        <h2 mat-dialog-title class="title_popup">Agregar Nueva Cuota</h2>
    </div>
    <div class="col-2 estilo_close" (click)="cerrar_popup()">
        <mat-icon matSuffix>close</mat-icon>
    </div>
</div>
    <div mat-dialog-content>
        <form [formGroup]="addCuota" (ngSubmit)="onSubmitClick()">           
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 estilo_row">
                <mat-form-field class="example-full-width " appearance="outline">
                  <mat-label>Fecha de Vencimiento</mat-label>
                  <input matInput [matDatepicker]="rpicker"  formControlName="fechaVencimiento"
                    required autocomplete="off" readonly>
                  <mat-datepicker-toggle matSuffix [for]="rpicker"></mat-datepicker-toggle>
                  <mat-datepicker #rpicker></mat-datepicker>
                  <mat-error *ngIf="addCuota.get('fechaVencimiento').hasError('required')">
                    Fecha de Vencimiento es obligatorio
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 estilo_row">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Monto Cuota</mat-label>
                    <input matInput class="right" formControlName="montoCuota" type="number" step="1"
                         required autocomplete="off" (keyup)="filterNumero($event.target.value)">
                    
                     <mat-error *ngIf="addCuota.get('montoCuota').hasError('required')">
                        Monto de Cuota es obligatorio
                    </mat-error>
                </mat-form-field>
            </div> 
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 estilo_row">
                <h4 mat-dialog-title >Resumen</h4>
                <div class="pb-4">                        
                    <ul class="list-group list-group-unbordered">
                        <li class="gCenter">
                            <b>Total Venta:</b>
                            <div class="profile-desc-item pull-right" *ngIf="monedaID=='308'">s/.{{montoTotal | number:'1.2-2'}}</div>
                            <div class="profile-desc-item pull-right" *ngIf="monedaID=='100'">$ {{montoTotal | number:'1.2-2'}}</div>
                        </li>
                        <li class="gCenter">
                            <b>Saldo:</b>
                            <div class="profile-desc-item pull-right" *ngIf="monedaID=='308'">s/.{{montoSaldo | number:'1.2-2'}}</div>
                            <div class="profile-desc-item pull-right" *ngIf="monedaID=='100'">$ {{montoSaldo | number:'1.2-2'}}</div>
                        </li>
                    
                      <!-- <li class="gCenter">
                        <b>Saldo:</b>
                      </li>          
                      <li>
                        <div class="profile-desc-item pull-center" *ngIf="monedaID=='308'">s/. {{montoSaldo | number:'1.2-2'}}</div>
                        <div class="profile-desc-item pull-center" *ngIf="monedaID=='100'">$ {{montoSaldo | number:'1.2-2'}}</div>
                      </li>                                                                                                              -->
                    </ul>
                  </div>
            </div>    
            <div class="btn-sec">                
                <button type="button" mat-button (click)="closeDialog()">Cancelar</button>
                <button [disabled]="!addCuota.valid" class="mr-3" mat-raised-button color="primary" >Guardar</button>
            </div>
        </form>
    </div>
</div>