.breadcrumb .page-title
    border-right : none !important

.breadcrumb .page-title
    border-right : none !important



.toggle_add
    padding-right: 18px

::ng-deep .mat-slide-toggle.mat-primary.mat-checked .mat-slide-toggle-thumb
    background-color: rgb(217,39 ,42 )

::ng-deep .mat-slide-toggle.mat-primary.mat-checked .mat-slide-toggle-bar
    background-color: rgba(241,22,64,.54)

.boton_busqueda
    padding-top : 10px
.boton_opcion
    width: 100%
    background-color: #0E99C1
    color: white
.btn_opcion
    background-color: #0E99C1
    color: white
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline
  background-color: white
  border-radius: 7px
  
.clase_cabecera
    background-color: #706f6fad

.titulo
    color : white
    font-weight : bold
    
.boton_opcion
    background-color: #0E99C1
    color: white

.toggle_estilo
    padding-top: 6px
    text-align: right

.nueva_clase_fila
    width : 100%
    display : flex

.nueva_clase_columna
    width : 50%
    padding-left: 10px
    padding-right: 10px

.contenedor_fechas
    display : flex
    width : 100%

.fecha_caja_desde
    width : 50%
    text-align : left

.fecha_caja_hacia
    width : 50%
    text-align : right

.mat-form-field-wrapper 
    padding-bottom: 0 px !important

.mat-form-field-appearance-outline
    margin: 0px !important

.mat-form-field-wrapper
    margin: 0px !important

.descargar_excel
    margin-right: 6px

.clase_opciones
    padding-top : 5px
    text-align : end

.conten_lupa
    margin-top : 10px

#fecha_inicial
    width : 100% !important

#fecha_final
    width : 100% !important

.muestra
    display : none

.informe_imagen
    height : 100px
    width : 200px
    margin-right : auto
    margin-left : 10px

.cabecera_informe
    display : flex

.informe_titulo
    margin-right : 38%

.contenedor_toggle
    width : 100%
    text-align : center
    padding-top: 15px
    display : flex

.chip_color_primary
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1)
    display: inline-flex
    padding: 7px 12px
    border-radius: 16px
    align-items: center
    cursor: default
    min-height: 32px
    height: 1px
    background-color: #3f51b5
    color: #fff;
.border_item
    padding: 5px 8px
    line-height: 12px
    border: 1px solid
    font-weight: 400
    font-size: 13px
    color: rgba(0,0,0,.54) !important;
    display: inline-block;
    text-align: center;
    
.chip_color_accent
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1)
    display: inline-flex
    padding: 7px 12px
    border-radius: 16px
    align-items: center
    cursor: default
    min-height: 32px
    height: 1px
    background-color: #ff4081
    color: #fff;

.estilo_row
    margin-bottom: 0px !important
    
.card .body
    padding: 25px 10px 5px 10px !important

#loader
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    width: 100%
    background: rgba(0, 0, 0, 0.70)
    z-index: 2


.estilo_block
    position: absolute
    left: 50%
    top: 40%
    color: white
    font-size: 50px

.boton_espacio
    width : 100%

.caja_boton
    padding-top : 12px

.letra_anulado
    font-weight: bold
    line-height: 100%
    font-size: 18px
    color : rgb(217,39 ,42)
    margin-left : 10px
    justify-content: center

.letra_toggle
    color: white
    font-weight: bold
    line-height: 100%
    padding-top: 15px
    font-size: 20px

.estilo_rol
    font-size: 12px
    line-height: 100%
    margin-right: 3px
    margin-bottom: 3px

.tag_regular
    background-color: #02167F
    color: white

.tag_guardiania
    background-color: #0048FF
    color: white

.tag_abonado
    background-color: #12F218
    color: white

.tag_parqueo
    background-color: #535354
    color: white

.dinero
    width : 100%
    text-align : right

.mat-column-numero
    flex: 0 0 5%


.numero
    width : 100%
    text-align : right
    padding-right : 5px

.detalles_esp
    display : flex
    justify-content: space-evenly
    align-items: center
    padding-top: 11px

.detalle_reporte
    font-size : 18px
    color : rgb(217,39 ,42 )
    font-weight : bold


.boton_busqueda
    padding-top : 10px

.mat-cell
    font-size : 12px
    padding-left : 2px


.mat-column-infoPago
    flex: 0 0 5%

.mat-column-fecha
    flex: 0 0 7%
.mat-column-banco
    flex: 0 0 7%
.mat-column-monto
    flex: 0 0 7%

.mat-column-url
    flex: 0 0 5%

.mat-column-nombre
    flex: 0 0 15%

.mat-column-dni
    flex: 0 0 9%

.mat-column-telefono
    flex: 0 0 10%

.mat-column-programa
    flex: 0 0 12%

.mat-column-curso
    flex: 0 0 15%

.mat-column-tipoMatricula
    flex: 0 0 8%
.mat-form-field-wrapper
    padding-bottom: 1.34375 em !important; 