.fondo_page
    background-image : url('/assets/images/fondo.jpg')
    background-repeat: no-repeat
    background-attachment: fixed
    background-position: center center
    background-size: cover
    min-height: 100vh
    justify-content: center
    align-items: center
    vertical-align: middle
    padding-top: 35px
    display: flex


.noArts
    width: unset !important
    padding-top : 20px
    padding-bottom : 20px

.imagen_register
    height: 50px
    margin: 10px

.centrador
    text-align : center

.titulo
    padding-top : 10px

.programa_completo
    background-color : red

.fondo_azul
    background-color: blue

.fondo_rojo
    background-color: red

.centrador
    text-align :center

.clase_cuerpo
    padding-top : 10px
    padding-right : 10px
    padding-left : 10px

.estilo_row
    margin-bottom: 0px !important

.clase_programa
    color: rgb(0, 166, 219)
    font-weight : bold
    font-size : 15px

.cursiva
    font-style: italic
    opacity: 0.5

.mensaje
    font-style: italic

.resultado
    display : flex
    width: 100%
    border-radius: 10px
    justify-content: space-between
    align-content: center
    align-items: center
    padding-left: 10px

.clase_valido
    color : #00FE29
    border: 1px solid #00FE29

.clase_invalido
    color : red
    border: 1px solid red

.container_boton
    width : 100%
    text-align: center

.info_telefono
    display : flex
    width : 100%

.pais_cod
    width : 20%
    padding-right: 5px

.numero_telefono
    width : 80%
    padding-left: 5px

.input_codigo
    text-align : center

.mensaje_error
    width: 100%
    text-align: center

.texto_error
    font-size: 16px
    line-height: 100%
    color: black

.caja_boton
    text-align: center

.clase_alerta
    font-size: 100px
    color: #D33F3F

.seccion_pago
    display: flex
    margin-top: 15px !important
    width: 100%

.letra_seccion
    margin-top: auto
    margin-right: 7px
    font-size: 15px
    font-weight: 500
.total_seccion
    margin-top: auto
    margin-left: 55%
    font-size: 15px
    font-weight: 500

.linea_pago
    //border: 3px solid #00FFEA
    border-radius: 1px
    width: 100%
    background-color: #697070

.boton_buscar
    width: 100%
    background-color: #0E99C1
    color : white

.col_boton
    padding-top: 8px
    padding-bottom: 8px
    height: 100%

.caja_info
    height: 300px;
    overflow-y: auto;
.scroll_x     
    height: 250px;  
    overflow-y: auto;

.color_status_val
    padding: 5px 8px
    line-height: 12px
    border: 1px solid
    font-weight: 400
    font-size: 13px
    color: #198754 !important;
    display: inline-block;
    text-align: center;
.color_status_pen
    padding: 5px 8px
    line-height: 12px
    border: 1px solid
    font-weight: 400
    font-size: 13px
    color: red !important;
    display: inline-block;
    text-align: center;
.color_status_proc 
    padding: 5px 8px
    line-height: 12px
    border: 1px solid
    font-weight: 400
    font-size: 13px
    color: orange !important;
    display: inline-block;
    text-align: center;

    