<body class="mainBG fondo_page">
    <div class="container" >
      <div class="row justify-content-center">

        <div class="col-xl-8 col-lg-8 col-md-10 col-sm-10" *ngIf="estado_asesor=='VALIDO'">
          <div class="row justify-content-center">
            <div class="col-12">
              <div class="card">
                <div class="body">
                  <div class="row justify-content-center">
                    <div class="col-12 centrador">
                      <img src="/assets/images/infox_logo.png" class="imagen_register" alt="">
                    </div>
                    <div class="titulo centrador">
                      <h2>Registrar Pago de Cuenta</h2>
                    </div>
                  </div>
  
                  <div class="row clase_cuerpo" >
                    <div class="col-12">
                      <form [formGroup]="cuotaForm">
                      
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 estilo_row">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>País</mat-label>
                                    <mat-select formControlName="pais" required (selectionChange)="selecPais($event.value)">
                                        <mat-option [value]="pais" *ngFor="let pais of paises_lista">
                                        {{pais.pai_nombre}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-icon matSuffix>account_balance</mat-icon>
                                    <mat-error *ngIf="cuotaForm.get('pais').hasError('required')">
                                        Pais es obligatorio
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 estilo_row">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>Tipo Documento</mat-label>
                                    <mat-select formControlName="tipo_doc" (selectionChange)="selectTipoDoc($event.value)"
                                    required>
                                    <mat-option [value]="doc" *ngFor="let doc of documentos">
                                        {{doc.nombre}}
                                    </mat-option>
        
                                    </mat-select>
                                    <mat-icon matSuffix>credit_card</mat-icon>
                                    <mat-error *ngIf="cuotaForm.get('tipo_doc').hasError('required')">
                                    Tipo de documento es obligatorio
                                    </mat-error>
                                </mat-form-field>
                            </div>                            
                        </div>
  
                        <div class="row">                          
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 estilo_row">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>{{nombre_documento}}</mat-label>
                                    <input matInput formControlName="documento" type="text"
                                        (keyup)="buscarDocumento($event.target.value)" required autocomplete="off">
                                    <mat-icon matSuffix>credit_card</mat-icon>
                                    <mat-error *ngIf="cuotaForm.get('documento').hasError('required')">
                                        Documento es obligatorio
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 estilo_row col_boton" >
                                <button [disabled]="eButton()" type="button" mat-raised-button class="boton_buscar" (click)="buscarUsuario()">
                                    <i class="material-icons">search</i>
                                </button>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 estilo_row">
                                <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Programa</mat-label>
                                <mat-select formControlName="curso_pago"  (selectionChange)="selectCurso($event.value)">
                                    <mat-option *ngFor="let curso of cursos" [value]="curso">
                                    {{curso.pro_nombre}}
                                    </mat-option>
                                </mat-select>
                                <mat-icon matSuffix>account_balance</mat-icon>
                                <mat-error  *ngIf="cuotaForm.get('curso_pago').hasError('required')">
                                    Programa es obligatorio
                                </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 estilo_row">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>{{nombre_curso}}</mat-label>
                                    <input matInput formControlName="nombres" autocomplete="off" readonly>
                                    <mat-icon matSuffix>person</mat-icon>
                                    <mat-error *ngIf="cuotaForm.get('nombres').hasError('required')">
                                        Nombres es obligatorio
                                    </mat-error>
                                </mat-form-field>
                            </div>
    
                        </div>

                        <div class="row" *ngIf="resultado_consulta">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 estilo_row caja_info">
                                <p class="letra_seccion">Lista de Pagos</p>
                                <table class="table table-hover scroll_x">
                                    <thead>
                                      <tr>       
                                        <th scope="col"></th>      
                                        <th scope="col">Vencimiento</th>                           
                                        <th scope="col">Monto</th>           
                                        <th scope="col">Fecha de Pago</th>
                                        <th scope="col">Estado</th>
                                      </tr>
                                    </thead>
                                    <tbody>                                   
                                      <tr *ngFor="let programa of cuotas_pago;let i = index">
                                        <td>
                                            <mat-checkbox (change)="seleccionCuota($event,programa,i)" [disabled]="programa.cuota_estado=='Validando' || programa.cuota_estado=='Procesado'">
                                            </mat-checkbox>
                                        </td>
                                        <td>{{programa.cuota_f_vencimiento}}</td>    
                                        <td>{{programa.cuota_monto}}</td>
                                        <td>{{programa.cuota_f_pago}}</td>
                                        <td>                                          
                                          <div [ngClass]="{'color_status_val':programa.cuota_estado=='Validando','color_status_proc':programa.cuota_estado=='Procesado','color_status_pen':programa.cuota_estado=='Pendiente'}">{{programa.cuota_estado}}</div></td>
                                      </tr>                                     
                                    </tbody>
                                  </table>
                            </div>
                        </div>

                        <!-- <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 estilo_row">
                                <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Curso</mat-label>
                                <mat-select formControlName="curso_pago" required (selectionChange)="selectCurso($event.value)">
                                    <mat-option [value]="curso" *ngFor="let curso of cursos_pagos">
                                    {{curso.nombre}}
                                    </mat-option>
                                </mat-select>
                                <mat-icon matSuffix>account_balance</mat-icon>
                                <mat-error *ngIf="cuotaForm.get('curso_pago').hasError('required')">
                                    Curso es obligatorio
                                </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 estilo_row">
                                <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Cuota</mat-label>
                                <mat-select formControlName="cuota_pago" required (selectionChange)="selectCuota($event.value)">
                                    <mat-option [value]="cuota" *ngFor="let cuota of cuotas_pago">
                                    {{cuota.nombre}}
                                    </mat-option>
                                </mat-select>
                                <mat-icon matSuffix>account_balance</mat-icon>
                                <mat-error *ngIf="cuotaForm.get('cuota_pago').hasError('required')">
                                    Cuota es obligatorio
                                </mat-error>
                                </mat-form-field>
                            </div>
                        </div> -->

                        <!-- <div class="row">
                          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 estilo_row">
                            <mat-form-field class="example-full-width" appearance="outline">
                              <mat-label>Email</mat-label>
                              <input matInput formControlName="correo" required autocomplete="off">
                              <mat-icon matSuffix>email</mat-icon>
                              <mat-error
                                *ngIf="cuotaForm.get('correo').hasError('required') && cuotaForm.get('correo').touched">
                                ingresa un correo electrónico
                              </mat-error>
                              <mat-error
                                *ngIf="cuotaForm.get('correo').hasError('email') && cuotaForm.get('correo').touched">
                                ingresa un correo electrónico Válido
                              </mat-error>
                            </mat-form-field>
                          </div>
                          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 estilo_row">
                            <div class="info_telefono">
                              <div class="pais_cod">
                                <mat-form-field class="example-full-width" appearance="outline">                                
                                  <input matInput formControlName="cod_pais" type="text" autocomplete="off" readonly class="input_codigo">                                                           
                                </mat-form-field>
                              </div>
                              
                              <div class="numero_telefono">
                                <mat-form-field class="example-full-width" appearance="outline">
                                  <mat-label>Telefono</mat-label>
                                  <input matInput formControlName="telefono" type="number" required autocomplete="off">
                                  <mat-icon matSuffix>phone</mat-icon>
                                  <mat-error *ngIf="cuotaForm.get('telefono').hasError('required')">
                                    Telefono es obligatorio
                                  </mat-error>
                                </mat-form-field>
                              </div>
                            </div>
                            
                          </div>
  
                        </div> -->
  
                        <!-- <div class="row">
                          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 estilo_row">
                            <mat-form-field class="example-full-width" appearance="outline">
                              <mat-label>Universidad</mat-label>
                              <mat-select formControlName="universidad" required
                                (selectionChange)="selectUniversidad($event.value)">
                                <mat-option [value]="uni" *ngFor="let uni of universidades_lista">
                                  {{uni.uni_nombre}}
                                </mat-option>
                              </mat-select>
                              <mat-icon matSuffix>account_balance</mat-icon>
                              <mat-error *ngIf="cuotaForm.get('universidad').hasError('required')">
                                Universidad es obligatorio
                              </mat-error>
                            </mat-form-field>
                          </div>
                          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 estilo_row" *ngIf="otra_universidad">
                            <mat-form-field class="example-full-width" appearance="outline">
                              <mat-label>Universidad</mat-label>
                              <input matInput formControlName="otros" required autocomplete="off">
                              <mat-icon matSuffix>account_balance</mat-icon>
                              <mat-error *ngIf="cuotaForm.get('otros').hasError('required')">
                                Universidad es obligatorio
                              </mat-error>
                            </mat-form-field>
                          </div>
                        </div> -->
  
                        <!-- <div class="row">
                          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 estilo_row">
                            <mat-form-field class="example-full-width" appearance="outline">
                              <mat-label>Programa</mat-label>
                              <mat-select formControlName="programa" (selectionChange)="selectPrograma($event.value)">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Buscar..." (keyup)="onKey($event.target.value)"
                                    autocomplete="off" [formControl]="buscador_programa">
                                </mat-form-field>
                                <mat-option *ngFor="let curso of programas_filtrados" [value]="curso"
                                  [ngClass]="{'clase_programa':curso.tipo=='PR' || curso.tipo=='CO','cursiva':curso.bloqueado}"
                                  [disabled]="curso.bloqueado">
                                  {{curso.nombre}}
                                </mat-option>
                              </mat-select>
                              <mat-icon matSuffix>school</mat-icon>
                              <mat-error *ngIf="cuotaForm.get('programa').hasError('required')">
                                Programa es obligatorio
                              </mat-error>
                            </mat-form-field>
                          </div>
  
                          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 estilo_row" *ngIf="combo">
                            <mat-form-field class="example-full-width" appearance="outline">
                              <mat-label>Programas</mat-label>
                              <mat-select formControlName="cursos" multiple>
                                <mat-option *ngFor="let curso of cursos_combo" [value]="curso"
                                  (onSelectionChange)="selectCurso($event)" [disabled]="desabilitado(curso)">
                                  {{curso.cur_nombre}}
                                </mat-option>
                              </mat-select>
                              <mat-icon matSuffix>school</mat-icon>
                              <mat-error *ngIf="cuotaForm.get('cursos').value.length<cursos_permitidos">
                                Debes Seleccionar {{cursos_permitidos}} Programa(s)
                              </mat-error>
                            </mat-form-field>
                          </div>
  
                          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 estilo_row" *ngIf="tipo_programa">
                            <mat-form-field class="example-full-width" appearance="outline">
                              <mat-label>Duracion</mat-label>
                              <mat-select formControlName="meses_programa" multiple>
                                <mat-option *ngFor="let mes of meses_combo" [value]="mes"
                                  (onSelectionChange)="selectMeses($event)" [disabled]="desabilitadoMeses(mes)">
                                  {{mes.duracion}}
                                </mat-option>
                              </mat-select>
                              <mat-icon matSuffix>school</mat-icon>
                              <mat-error *ngIf="cuotaForm.get('meses_programa').value.length<1">
                                Debes Seleccionar 1 Opción
                              </mat-error>
                            </mat-form-field>
                          </div>
  
                        </div> -->
  
                        

                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 estilo_row">
                                <div class="seccion_pago">
                                    <p class="letra_seccion">Información del Pago</p>
                                    <p *ngIf="resultado_consulta" class="total_seccion">Total  s/ {{monto_total_cuotas}}</p>
                                    <!-- <hr class="linea_pago"> -->
                                </div>
                                
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 estilo_row">
                                <mat-form-field class="example-full-width " appearance="outline">
                                <mat-label>Imagen Comprobante</mat-label>
                                <ngx-mat-file-input formControlName="imagen">
                                </ngx-mat-file-input>
                                <mat-icon matSuffix>image_aspect_ratio</mat-icon>
                                <mat-error *ngIf="cuotaForm.get('imagen').hasError('required')">
                                    Imagen es obligatorio
                                </mat-error>
                                </mat-form-field>
                            </div>
    
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 estilo_row">
                                <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Número de Operación</mat-label>
                                <input matInput formControlName="operacion" required autocomplete="off">
                                <mat-icon matSuffix>chrome_reader_mode</mat-icon>
                                <mat-error *ngIf="cuotaForm.get('operacion').hasError('required')">
                                    Número de Operación es obligatorio
                                </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                        
                          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 estilo_row">
                            <mat-form-field class="example-full-width" appearance="outline">
                              <mat-label>Banco</mat-label>
                                <mat-select required (selectionChange)="selecBanco($event.value)">
                                  <mat-option *ngFor="let banco of lista_bancos" [value]="banco">
                                    {{banco.ban_nombre}}
                                  </mat-option>
                                </mat-select>
                                <mat-icon matSuffix>account_balance</mat-icon>
                                <mat-error *ngIf="cuotaForm.get('banco_nom').hasError('required')">
                                  Banco es obligatorio
                                </mat-error>                        
                            </mat-form-field>
                          </div> 
                          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 estilo_row">
                            <mat-form-field class="example-full-width " appearance="outline">
                              <mat-label>Monto</mat-label>
                              <input matInput formControlName="monto" required autocomplete="off">
                              <mat-icon matSuffix>chrome_reader_mode</mat-icon>
                              <mat-error *ngIf="cuotaForm.get('monto').hasError('required')">
                                Monto es obligatorio
                            </mat-error>
                            </mat-form-field>
                          </div>
                        </div>
  
                        <!-- <p class="mensaje">*Si cuenta con un código promocional, ingrésalo aqui:</p>
                        <div class="row">
                          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 estilo_row">
                            <mat-form-field class="example-full-width " appearance="outline">
                              <mat-label>Codigo Promocional</mat-label>
                              <input matInput formControlName="codigo_promo" autocomplete="off">
                              <mat-icon matSuffix>local_offer</mat-icon>
                            </mat-form-field>
                          </div>                        
                        </div> -->
  
  
                        <!-- <p class="mensaje">*Si cuenta con un referido, ingrésalo aqui:</p>
                        <div class="row">
                          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 estilo_row">
                            <mat-form-field class="example-full-width " appearance="outline">
                              <mat-label>Codigo Referido</mat-label>
                              <input matInput formControlName="codigo_referido" autocomplete="off"
                                (keyup)="buscarReferido($event.target.value)">
                              <mat-icon matSuffix>bookmark</mat-icon>
                            </mat-form-field>
                          </div>
                          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 estilo_row">
                            <div *ngIf="envio_referido">
                              <div class="resultado mt-2 clase_valido" *ngIf="referido_valido">
                                <mat-icon>check</mat-icon>
                                <div class="media-title font-12">
                                  {{cuotaForm.get('nombre_referido').value.result?.usu_nombre}}</div>
                                <button type="button" mat-icon-button color="warn" (click)="quitarReferido()"
                                  aria-label="Example icon-button with a heart icon">
                                  <mat-icon>delete</mat-icon>
                                </button>
                              </div>
                              <div class="resultado mt-2 clase_invalido" *ngIf="!referido_valido">
                                <div class="media-title font-16">Referido Invalido</div>
                                <button type="button" mat-icon-button color="warn" (click)="quitarReferido()"
                                  aria-label="Example icon-button with a heart icon">
                                  <mat-icon>delete</mat-icon>
                                </button>
                              </div>
                            </div>
                          </div>
                        </div> -->
                        <div class="row">
                          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 estilo_row">
                            <mat-form-field class="example-full-width " appearance="outline">
                              <mat-label>Fecha de Abono</mat-label>
                              <input matInput [matDatepicker]="rpicker" [max]="fecha_maxima" formControlName="fecha"
                                required autocomplete="off" readonly>
                              <mat-datepicker-toggle matSuffix [for]="rpicker"></mat-datepicker-toggle>
                              <mat-datepicker #rpicker></mat-datepicker>
                              <mat-error *ngIf="cuotaForm.get('fecha').hasError('required')">
                                Fecha de abono es obligatorio
                              </mat-error>
                            </mat-form-field>
                          </div>
                          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 estilo_row">
                            <mat-form-field class="example-full-width" appearance="outline">
                              <mat-label>Asesor</mat-label>
                              <input matInput formControlName="asesor" autocomplete="off" readonly>
                              <mat-icon matSuffix>person</mat-icon>
                            </mat-form-field>
                          </div>

                          <!-- <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 estilo_row">
                              <mat-form-field class="example-full-width" appearance="outline">
                              <mat-label>Monto</mat-label>
                              <input matInput formControlName="monto" required type="text" autocomplete="off" readonly>                            
                              <mat-error *ngIf="cuotaForm.get('monto').hasError('required')">
                                  Monto es obligatorio
                              </mat-error>
                              </mat-form-field>
                          </div>
                          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 estilo_row">
                              <mat-form-field class="example-full-width" appearance="outline">
                              <mat-label>Vencimiento</mat-label>
                              <input matInput formControlName="vencimiento" required autocomplete="off" readonly>
                              <mat-icon matSuffix>chrome_reader_mode</mat-icon>
                              <mat-error *ngIf="cuotaForm.get('vencimiento').hasError('required')">
                                  Número de Operación es obligatorio
                              </mat-error>
                              </mat-form-field>
                          </div> -->
                      </div>
                        <div class="row">
                          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 centrador estilo_row">                          
                            <button mat-raised-button [disabled]="!cuotaForm.valid || enviandoformulario==true" (click)="enviarFormulario()"
                              color="primary">Registrar</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
  
                  <!-- <div class="row justify-content-center" *ngIf="estado_asesor=='ERROR'">
                    <div class="col-6">
                      <div class="mensaje_error">
                        <p class="texto_error">Tenemos Problemas Internos</p>
                        <p class="texto_error">Intentelo más tarde</p>
                      </div>
  
                      <div class="caja_boton">
                        <button mat-raised-button (click)="reintentar()"
                              color="primary">Reintentar</button>
                      </div>
                      
                    </div>
                  </div> -->
  
                </div>
              </div>
            </div>
  
          </div>
  
        </div>
        <div class="col-xl-4 col-lg-4 col-md-10 col-sm-10" *ngIf="estado_asesor=='ERROR'">
          <div class="row justify-content-center">
            <div class="col-12">
              <div class="card">
                <div class="body">
                  <div class="mensaje_error">
                    <i class="material-icons clase_alerta">warning</i>
                    <p class="texto_error">Tenemos Problemas Internos</p>
                    <p class="texto_error">Intentelo más tarde</p>
                  </div>
        
                  <div class="caja_boton">
                    <button mat-raised-button (click)="reintentar()"
                          color="primary">Reintentar</button>
                  </div>
                </div>
              </div>
            </div>  
            
          </div>
        </div>
      </div>
    </div>
    
  </body>



  