<section class="content">
  <div class="container-fluid">
      <div class="block-header">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <ul class="breadcrumb breadcrumb-style ">
                <li class="breadcrumb-item">
                  <h4 class="ventas-title">Pendientes Pago
                  </h4>
                </li>
              </ul>
            </div>
          </div>
      </div>

      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="card h-100">
            <div class="card-body">
              <div class="task-module paginador">
                <div class="row">
                  <div class="col-md-12 col-sm-12">
                        <div class="materialTableHeader clase_cabecera">
                          <div class="row">
                            <div class="col-8">
                              <ul class="header-buttons-left ml-0">
                                <li class="dropdown m-l-20">
                                  <label for="search-input"><i class="material-icons search-icon">search</i></label>
                                  <input [(ngModel)]=txtNuevo placeholder="Buscar" type="text" #filter (keyup)="applyFilter($event.target.value)" class="browser-default search-field"
                                    aria-label="Search box">
                                </li>

                              </ul>
                            </div>
                            <div class="col-4">
                              <ul class="header-buttons">
                                <li>
                                  <div class="icon-button-demo">
                                    <button mat-mini-fab class="boton_opcion" (click)="actualizarLista()">
                                      <mat-icon class="col-white">refresh
                                      </mat-icon>
                                    </button>
                                  </div>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <mat-table #table [dataSource]="DSlistaPagosPendientes" matSort (matSortChange)="sortData($event)" class="mat-cell" >

                          <ng-container matColumnDef="infoPago">
                            <mat-header-cell *matHeaderCellDef>
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row; let i = index" >
                              <div class="">
                                <span aria-hidden="true" (click)="detallePendiente(row,i)"><i class="material-icons color_icono">zoom_out_map</i></span>

                              </div>
                            </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="fecha">
                              <mat-header-cell *matHeaderCellDef mat-sort-header>Fecha
                              </mat-header-cell>
                              <mat-cell *matCellDef="let row" >{{row.pag_fecha_abono}}
                              </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="banco">
                              <mat-header-cell *matHeaderCellDef mat-sort-header>Banco
                              </mat-header-cell>
                              <mat-cell *matCellDef="let row" >{{row.ban_nombre}}
                              </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="monto">
                              <mat-header-cell *matHeaderCellDef mat-sort-header>Monto
                              </mat-header-cell>
                              <mat-cell *matCellDef="let row" >s/. {{row.pag_monto | number:'1.2-2'}}
                              </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="url">
                              <mat-header-cell *matHeaderCellDef>Voucher
                              </mat-header-cell>
                              <mat-cell *matCellDef="let row" >
                                <!-- <span (click)="verImageVoucher(row)"> -->
                                <span>
                                  <div class="border_item">
                                   <a href="{{row.pag_url}}" target="_blank"> ver </a>
                                  <mat-icon class="estilo_icon" *ngIf="row.validado_estado == 'Aprobado'" >done</mat-icon>
                                  <mat-icon class="estilo_icon" *ngIf="row.validado_estado == 'Pendiente'" >question_mark</mat-icon>
                                </div>
                                </span>

                              </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="nombre">
                              <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre
                              </mat-header-cell>
                              <mat-cell *matCellDef="let row" > {{row.pag_nombre}}
                              </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="dni">
                              <mat-header-cell *matHeaderCellDef mat-sort-header>DNI
                              </mat-header-cell>
                              <mat-cell *matCellDef="let row" >{{row.pag_dni}}
                              </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="telefono">
                              <mat-header-cell *matHeaderCellDef mat-sort-header>Telefono
                              </mat-header-cell>
                              <mat-cell *matCellDef="let row" >{{row.pag_telefono}}
                              </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="programa">
                              <mat-header-cell *matHeaderCellDef mat-sort-header>Programa
                              </mat-header-cell>
                              <mat-cell *matCellDef="let row" >{{row.pro_nombre}}
                              </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="curso">
                              <mat-header-cell *matHeaderCellDef mat-sort-header>Curso
                              </mat-header-cell>
                              <mat-cell *matCellDef="let row" >{{row?.cur_nombre}}
                              </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="tipoMatricula">
                              <mat-header-cell *matHeaderCellDef mat-sort-header>Tipo Matricula
                              </mat-header-cell>
                              <mat-cell *matCellDef="let row" >
                                <mat-chip [ngClass]="{'chip_color_primary':row.pag_tipo == 'CUOTA','chip_color_accent':row.pag_tipo == '1ER PAGO'}">
                                  {{row.pag_tipo}}
                                </mat-chip>

                              </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="acciones">
                              <mat-header-cell *matHeaderCellDef mat-sort-header>Acciones
                              </mat-header-cell>
                              <mat-cell *matCellDef="let row" >
                                <div class="btn" (click)="eliminarPendiente(row)">
                                  <mat-icon>delete</mat-icon>
                                </div>
                              </mat-cell>
                            </ng-container>

                          <mat-header-row *matHeaderRowDef="displayedColumns">
                          </mat-header-row>

                          <mat-row *matRowDef="let row; columns: displayedColumns;"
                            [style.cursor]="'pointer'">
                          </mat-row>
                        </mat-table>
                        <mat-paginator #paginatorCaja [pageIndex]="0"
                        [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
                        </mat-paginator>
                        <!-- <button mat-raised-button (click)="exporter.exportTable('xlsx', {fileName:'test', sheet: 'sheet_name', Props: {Author: 'Talha'},hiddenColumns:[]})">Excel</button>
                        <button mat-raised-button (click)="generarReporte()">Generar Reporte</button> -->
                  </div>
                </div>

              </div>

            </div>
          </div>
        </div>
      </div>
  </div>
</section>
