
    <div class="mainBG fondo_page">
      <div class="container">
          <div class="row justify-content-center">
              <div class="col-xl-4 col-lg-4 col-md-10 col-sm-10"> 
                  <div class="row justify-content-center">
                      <div class="col-12">
                          <div class="card">                    
                              <div class="body">
                                  <div class="row justify-content-center">
                                      <div class="col-12 centrador">
                                          <img src="/assets/images/infox_logo.png"  class="imagen_register" alt="">
                                      </div>
                      
                                      <div class="titulo centrador">
                                          <h2>INGRESAR </h2>                        
                                      </div>
                                  </div>
              
                                  <div class="row clase_cuerpo">    
                                      <div class="col-12">
                                          <form [formGroup]="loginForm">                                                                                                       
                                            <div class="row ">
                                              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                                  <mat-form-field class="example-full-width" appearance="outline">
                                                      <mat-label>Usuario</mat-label>
                                                      <input matInput formControlName="username" autocomplete="off">
                                                      <mat-icon matSuffix>person</mat-icon>
                                                  </mat-form-field>
                                              </div>
                                               
                                          </div>
                                          <div class="row">
                                              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                                  <!-- <mat-form-field class="example-full-width" appearance="outline">
                                                      <mat-label>Contraseña</mat-label>
                                                      <input matInput formControlName="password" required autocomplete="off">
                                                      <mat-icon matSuffix>email</mat-icon>
                                                      <mat-error
                                                          *ngIf="loginForm.get('password').hasError('password') && loginForm.get('password').touched">
                                                          ingresa tu contraseña
                                                      </mat-error>
                                                  </mat-form-field> -->
                                                  <mat-form-field class="example-full-width" appearance="outline">
                                                    <mat-label>Contraseña</mat-label>
                                                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                                                    <a class="show-pwd-icon" href="#" onClick="return false;" matSuffix (click)="hide = !hide"
                                                      [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                                    </a>
                                                  </mat-form-field> 
                                              </div>                                                                                            
                                          </div>                                          
                                          <div class="row">
                                              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 centrador">
                                                  <button  mat-raised-button
                                                      (click)="iniciarSesion()" color="primary">Ingresar</button>
                                                  <!-- <button type="button" mat-button>Cancel</button> -->
                                              </div>
                                          </div>
                                          <div class="row">
                                            <div class="contenedor centrador">
                                              <div class="spinner_content" *ngIf="enviando">                                    
                                                <div class="preloader pl-size-xs">
                                                  <div class="spinner-layer pl-cyan">
                                                    <div class="circle-clipper left">
                                                      <div class="circle"></div>
                                                    </div>
                                                    <div class="circle-clipper right">
                                                      <div class="circle"></div>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                            </div> 
                                          </div>
                                          <div class="row">
                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 centrador">
                                              <div *ngIf="error_auth" class="alert alert-danger mt-3 mb-0">{{mensaje_error}}</div>
                                          </div>
                                          </div>
                                        </form>
                                      </div>                                                                    
                                  </div>                    
                              </div>
                          </div>
                      </div>
                      
                  </div>
                  
              </div>
          </div>
      </div>        
  </div>