.fondo_page{
    background-image : url('/assets/images/fondo.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    display: flex;
}

.noArts{
    width: unset !important;
    padding-top : 20px;
    padding-bottom : 20px;
}

.imagen_register{
    width : 90%;
    height : 75px;
}

.centrador{
    text-align : center;
}
    

.titulo{
    padding-top : 10px;
}


.centrador{
    text-align :center;
}
.clase_cuerpo{
    padding-top : 10px;
    padding-right : 10px;
    padding-left : 10px;
}

.contenedor{
    width: 100%;
}