.fondo_page
    background-image : url('/assets/images/fondo.jpg')
    background-repeat: no-repeat
    background-attachment: fixed
    background-position: center center
    background-size: cover
    min-height: 100vh
    justify-content: center
    align-items: center
    vertical-align: middle
    display: flex


.noArts
    width: unset !important
    padding-top : 20px
    padding-bottom : 20px


.imagen_register
    width : 90%
    height : 75px


.centrador
    text-align : center

    

.titulo
    padding-top : 10px



.centrador
    text-align :center

.clase_cuerpo
    padding-top : 10px
    padding-right : 10px
    padding-left : 10px


.contenedor
    width: 100%

.exito_icono
    font-size : 120px
    color : green

.error_icono
    font-size : 120px
    color : red

.estilo_exito
    width : 100%
    display: flex
    justify-content: center
    align-items: center
    align-content: center

.estilo_error
    width : 100%
    display: flex
    justify-content: center
    align-items: center
    align-content: center

.estilo_row
    margin-bottom: 0px !important

.fila_botones
    padding-top : 10px

.item
    font-size : 13px

.item_valor
    font-size : 15px

.mensaje_error
    width : 100%
    text-align : center
    color : red