<!-- 
    <body class="mainBG fondo_page">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-8 col-md-10 col-sm-10"> 
                    <div class="row justify-content-center">
                        <div class="col-12">
                            <div class="card">                    
                                <div class="body">
                                    <div class="row justify-content-center">
                                        <div class="col-12 centrador">
                                            <img src="http://registro.infoxeduca.com/Utils/theme01/assets/img/infox_logo.png"  class="imagen_register" alt="">
                                        </div>
                        
                                        <div class="titulo centrador">
                                            <h2>Validar Certificado</h2>                        
                                        </div>
                                    </div>
                
                                    <div class="row clase_cuerpo">
                                        <div class="col-12">
                                            <form [formGroup]="envioForm">       
                                                <div class="row justify-content-center">
                                                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 estilo_row">
                                                        <mat-form-field class="example-full-width" appearance="outline">
                                                            <mat-label>DNI</mat-label>
                                                            <input matInput formControlName="dni" required autocomplete="off">
                                                            <mat-icon matSuffix>chrome_reader_mode</mat-icon>
                                                            <mat-error *ngIf="envioForm.get('dni').hasError('required')">
                                                                DNI es Obligatorio
                                                            </mat-error>
                                                        </mat-form-field>
                                                    </div>                                                   
                                                </div>
                                                <div class="row justify-content-center">
                                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 estilo_row">
                                                        <mat-form-field class="example-full-width" appearance="outline">
                                                            <mat-label>Numero</mat-label>
                                                            <input matInput formControlName="numero" autocomplete="off">
                                                            <mat-icon matSuffix>person</mat-icon>
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 centrador">
                                                        <button  mat-raised-button
                                                            (click)="enviarCertificado()" color="primary">Validar</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>                                                                    
                                    </div>
                                    
                                    <div class="row justify-content-center" *ngIf="estado && valido">
                                        <div class="col-6 columna_estilo">
                                            <div class="estilo_exito">
                                                <i class="material-icons exito_icono">done</i> 
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row justify-content-center" *ngIf="estado && !valido">
                                        <div class="col-6 columna_estilo">
                                            <div class="estilo_error">
                                                <i class="material-icons error_icono">error</i> 
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row clase_cuerpo" *ngIf="estado && valido">    
                                        <div class="col-12">
                                            <form [formGroup]="respuestaForm">       
                                                <div class="row justify-content-center">
                                                                                                      
                                                </div>
                                                <div class="row justify-content-center">
                                                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 estilo_row">
                                                        <mat-form-field class="example-full-width" appearance="outline">
                                                            <mat-label>Programa</mat-label>                                                        
                                                            <mat-select formControlName="programa">     
                                                                <mat-option *ngFor="let curso of programas_procesados" [value]="curso" class="opcion">
                                                                    {{curso.nombre}}
                                                                  </mat-option>                                                               
                                                              </mat-select>
                                                              <mat-icon matSuffix>school</mat-icon>                        
                                                            <mat-error *ngIf="respuestaForm.get('programa').hasError('required')">
                                                                Programa es obligatorio
                                                            </mat-error>
                                                        </mat-form-field>
                                                    </div>
                                                     
                                                </div>
                                                <div class="row justify-content-center">
                                                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 estilo_row">
                                                        <mat-form-field class="example-full-width" appearance="outline">
                                                            <mat-label>Curso</mat-label>                                                        
                                                            <mat-select formControlName="programa">     
                                                                <mat-option *ngFor="let curso of programas_procesados" [value]="curso" class="opcion">
                                                                    {{curso.nombre}}
                                                                  </mat-option>                                                               
                                                              </mat-select>
                                                              <mat-icon matSuffix>school</mat-icon>                        
                                                            <mat-error *ngIf="respuestaForm.get('curso').hasError('required')">
                                                                Programa es obligatorio
                                                            </mat-error>
                                                        </mat-form-field>
                                                    </div>
                                                </div>

                                                <div class="row justify-content-center">
                                                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 estilo_row" >
                                                        <mat-form-field class="example-full-width " appearance="outline">
                                                            <mat-label>Fecha </mat-label>
                                                            <input matInput [matDatepicker]="rpicker" formControlName="fecha" required autocomplete="off">                                                            
                                                            <mat-datepicker-toggle matSuffix [for]="rpicker"></mat-datepicker-toggle>
                                                            <mat-datepicker #rpicker></mat-datepicker>
                                                            <mat-error *ngIf="respuestaForm.get('fecha').hasError('required')">
                                                                Fecha de abono es obligatorio
                                                            </mat-error>
                                                        </mat-form-field>
                                                    </div>                                                    
                                                </div>
                                                
                                               

                                                <div class="row">
                                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 centrador">
                                                        <button  mat-raised-button
                                                             color="primary">Enviar</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body> -->



    
    <div class="mainBG fondo_page">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-5 col-lg-5 col-md-10 col-sm-10"> 
                    <div class="row justify-content-center">
                        <div class="col-12">
                            <div class="card">                    
                                <div class="body">
                                    <div class="row justify-content-center">
                                        <div class="col-12 centrador">
                                            <img src="/assets/images/infox_logo.png"  class="imagen_register" alt="">
                                        </div>
                                        <div class="titulo centrador">
                                            <h2 >{{titulo}}</h2>
                                        </div>
                                    </div>

                                    <div class="row justify-content-center" *ngIf="estado && !valido && !enviando">
                                        <div class="col-8 columna_estilo">
                                            <div class="estilo_error">
                                                <i class="material-icons error_icono">error</i> 
                                            </div>
                                            <div class="mensaje_error">
                                                Certificado No encontrado
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row clase_cuerpo" *ngIf="!estado || !valido">
                                        <div class="col-12">
                                            <form [formGroup]="envioForm">       
                                                <div class="row justify-content-center">
                                                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 estilo_row">
                                                        <mat-form-field class="example-full-width" appearance="outline">
                                                            <mat-label>DNI</mat-label>
                                                            <input matInput formControlName="dni" required autocomplete="off">
                                                            <mat-icon matSuffix>chrome_reader_mode</mat-icon>
                                                            <mat-error *ngIf="envioForm.get('dni').hasError('required')">
                                                                DNI es Obligatorio
                                                            </mat-error>
                                                        </mat-form-field>
                                                    </div>                                                   
                                                </div>
                                                <div class="row justify-content-center">
                                                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 estilo_row">
                                                        <mat-form-field class="example-full-width" appearance="outline">
                                                            <mat-label>Numero</mat-label>
                                                            <input matInput formControlName="numero" autocomplete="off">
                                                            <mat-icon matSuffix>person</mat-icon>
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                                <div class="row" *ngIf="!enviando">
                                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 centrador">
                                                        <button  mat-raised-button [disabled]="!envioForm.valid"
                                                            (click)="enviarCertificado()" color="primary">Validar</button>
                                                    </div>
                                                </div>
                                                <div class="row" *ngIf="enviando">
                                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 centrador">
                                                        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>                                                                    
                                    </div> 
                                    
                                    <div class="row justify-content-center" *ngIf="estado && valido">
                                        <div class="col-8 columna_estilo">
                                            <div class="estilo_exito">
                                                <i class="material-icons exito_icono">done</i> 
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="row clase_cuerpo" *ngIf="estado && valido">    
                                        <div class="col-12">
                                            <div class="row justify-content-center">
                                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 estilo_row">
                                                    <div>
                                                        <label for="" class="item"><b>DNI</b></label>
                                                    </div>
                                                    
                                                </div>
                                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 estilo_row">
                                                    <div>
                                                        <label for="" class="item_valor">{{respuesta.cer_dni_alumno}}</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row justify-content-center">
                                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 estilo_row">
                                                    <div>
                                                        <label for="" class="item"><b>Nombre</b></label>
                                                    </div>
                                                    
                                                </div>
                                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 estilo_row">
                                                    <div>
                                                        <label for="" class="item_valor">{{respuesta.cer_alumno_nombre}}</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row justify-content-center">
                                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 estilo_row">
                                                    <div>
                                                        <label for="" class="item"><b>Programa</b></label>
                                                    </div>
                                                    
                                                </div>
                                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 estilo_row">
                                                    <div>
                                                        <label for="" class="item_valor">{{respuesta.pro_nombre}}</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row justify-content-center">
                                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 estilo_row">                                                        
                                                    <div>
                                                        <label for="" class="item"> <b>Curso</b> </label>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 estilo_row">
                                                    <div>
                                                        <label for="" class="item_valor">{{respuesta.cur_nombre}}</label>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row justify-content-center">
                                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 estilo_row" >                                                        
                                                    <div>
                                                        <label for="" class="item"><b>Fecha</b></label>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 estilo_row">
                                                    <div>
                                                        <label for="" class="item_valor">{{obtenerFecha(respuesta.cer_fecha)}}</label>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row fila_botones">
                                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 centrador">
                                                    <button  mat-raised-button (click)="cancelarOperacion()"
                                                            color="warn">Cancelar</button>
                                                </div>
                                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 centrador">
                                                    <!-- <button  mat-raised-button
                                                            color="primary">Descargar</button> -->
                                                    <a href="{{respuesta.cer_descarga}}" target="_blank" mat-raised-button type="button"color="primary">
                                                        Descargar
                                                        </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    
                </div>
            </div>
        </div>        
    </div>