<div class="container">
    
    <div class="text-center"><h2>¿Esta seguro de reenviar las credenciales?</h2></div>
    <div><p><b>{{usuario.alumno_nombre}}</b> con dni <b>{{usuario.alumno_dni}}</b> <br> Matriculado en el curso de <b>{{usuario.programa_nombre}}</b>,<br> se enviara al correo <b>{{usuario.usuario_correo}}</b></p></div>
    <!-- <div class="col-12 estilo_btn">
        <mat-button-toggle-group
       (change)="onChange($event)">
       <mat-button-toggle [value]="1">soles</mat-button-toggle>
       <mat-button-toggle [value]="2">dolares</mat-button-toggle>
    </mat-button-toggle-group>
    </div> -->
    <div class="row ">
        <div class="col-12 estilo_row">
            <button mat-raised-button color="warn" class="margin_btn" (click)="closeDialog()">No</button>
            <button [disabled]="credencialesForm.valid" type="submit" class="margin_btn_l" mat-raised-button color="primary" (click)="reenviarCredenciales()">Si</button>
        </div>
    </div> 
</div>