.tamanio_i
    font-size: 48px;
 
.chart_est
    padding: 3.3em !important;
    
.boton_espacio
    width : 100%

.boton_opcion
    background-color: #0E99C1
    color: white
.estilo_txt
    margin-bottom: 0px !important

.graph-container 
    border: 2px solid #DDDDDD;
    width: 100%;
    height: 370px;
    position: relative;
    justify-content: center;
    align-items: center; 
.echart-height
    height: 270px !important;



 