<div>
    <h2 mat-dialog-title>Prospecto</h2>
    <div mat-dialog-content>


        <div class="text-inside">
            <form [formGroup]="prospectoForm" class="form_width">

                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Programa</mat-label>
                    <mat-select matSelect formControlName="programa">
                      <mat-option  *ngFor="let pro of programas" [value]="pro.pro_id">
                        {{pro.pro_nombre}}
                      </mat-option>
                    </mat-select>                    
                    <mat-error *ngIf="prospectoForm.get('programa').hasError('required')">
                        Selecciona un Programa
                    </mat-error>
                </mat-form-field>
                
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Nombre</mat-label>
                    <input matInput placeholder="Promocion" formControlName="nombre" required autocomplete="off"> 
                    <mat-error *ngIf="prospectoForm.controls.nombre.hasError('required')">
                        Ingresa nombre De Prospecto
                    </mat-error>
                </mat-form-field> 

                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>DNI</mat-label>
                    <input matInput placeholder="DNI" formControlName="dni" required autocomplete="off"> 
                    <mat-error *ngIf="prospectoForm.controls.dni.hasError('required')">
                        Ingresa codigo de DNI
                    </mat-error>
                </mat-form-field> 
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Detalles</mat-label>
                    <textarea matInput  matInput placeholder="Descripción" formControlName="descripcion" required autocomplete="off"> </textarea>
                    <!-- <input matInput placeholder="Código Promoción" formControlName="codigo_pro" required autocomplete="off">  -->
                    <mat-error *ngIf="prospectoForm.controls.descripcion.hasError('required')">
                        Ingresa descripción
                    </mat-error>
                </mat-form-field> 
                            
                <!-- <div class="fechas">
                    <div class="contenedor_fecha_desde">
                        <mat-form-field class="example-full-width form_campo" appearance="outline">
                            <mat-label>Desde</mat-label>
                            <input matInput [matDatepicker]="picker" formControlName="desde">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="contenedor_fecha_hacia">
                        <mat-form-field class="example-full-width form_campo" appearance="outline">
                            <mat-label>Hasta</mat-label>
                            <input matInput [matDatepicker]="picker2" formControlName="hacia">
                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker #picker2></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div> -->

                <div class="btn-sec contenedor_botones">                
                    <div class="fila_botones">
                        <div class="btn_izquierda">
                            <button type="button" mat-raised-button color="warn" (click)="closeDialog()">Cancelar</button>
                        </div>
                        <div class="btn_derecha">
                            <button class="mr-3" mat-raised-button color="primary" (click)="enviarFormulario()">Guardar</button>
                        </div>
                    </div>                
                </div>
            </form>
        </div>
    </div>
</div>