.fondo_page
    background-image : url('/assets/images/fondo.jpg')
    background-repeat: no-repeat
    background-attachment: fixed
    background-position: center center
    background-size: cover
    min-height: 100vh
    justify-content: center
    align-items: center
    vertical-align: middle
    padding-top: 35px
    display: flex


.noArts
    width: unset !important
    padding-top : 20px
    padding-bottom : 20px

.imagen_register
    height: 50px
    margin: 10px

.centrador
    text-align : center

.titulo
    padding-top : 10px

.programa_completo
    background-color : red

.fondo_azul
    background-color: blue

.fondo_rojo
    background-color: red

.centrador
    text-align :center

.clase_cuerpo
    padding-top : 10px
    padding-right : 10px
    padding-left : 10px

.estilo_row
    margin-bottom: 0px !important

.clase_programa
    color: rgb(0, 166, 219)
    font-weight : bold
    font-size : 15px

.cursiva
    font-style: italic
    opacity: 0.5

.mensaje
    font-style: italic

.resultado
    display : flex
    width: 100%
    border-radius: 10px
    justify-content: space-between
    align-content: center
    align-items: center
    padding-left: 10px

.clase_valido
    color : #00FE29
    border: 1px solid #00FE29

.clase_invalido
    color : red
    border: 1px solid red

.container_boton
    width : 100%
    text-align: center

.info_telefono
    display : flex
    width : 100%

.pais_cod
    width : 20%
    padding-right: 5px

.numero_telefono
    width : 80%
    padding-left: 5px

.input_codigo
    text-align : center

.mensaje_error
    width: 100%
    text-align: center

.texto_error
    font-size: 16px
    line-height: 100%
    color: black

.caja_boton
    text-align: center

.clase_alerta
    font-size: 100px
    color: #D33F3F