<div>
    <h2 mat-dialog-title>Pago</h2>
    <div mat-dialog-content>
        <div class="text-inside">
            <form [formGroup]="pagoForm" class="form_width">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Nombre</mat-label>
                            <input matInput placeholder="Nombre" formControlName="nombre" required autocomplete="off"> 
                            <mat-error *ngIf="pagoForm.controls.nombre.hasError('required')">
                                Ingresa nombre
                            </mat-error>
                        </mat-form-field> 
                    </div>
                </div>
                <div class="row">
                    
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>DNI</mat-label>
                            <input matInput placeholder="DNI" formControlName="dni" required autocomplete="off"> 
                            <mat-error *ngIf="pagoForm.controls.dni.hasError('required')">
                                Ingresa codigo de DNI
                            </mat-error>
                        </mat-form-field> 
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Correo</mat-label>
                            <input matInput placeholder="Correo" formControlName="correo" required autocomplete="off"> 
                            <mat-error *ngIf="pagoForm.controls.correo.hasError('required')">
                                Ingresa Correo
                            </mat-error>
                        </mat-form-field> 

                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Programa</mat-label>
                            <mat-select matSelect formControlName="programa">
                              <mat-option  *ngFor="let pro of programas_lista" [value]="pro.pro_id">
                                {{pro.pro_nombre}}
                              </mat-option>
                            </mat-select>                    
                            <mat-error *ngIf="pagoForm.get('programa').hasError('required')">
                                Selecciona un Programa
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Correo</mat-label>
                            <input matInput placeholder="Correo" formControlName="correo" required autocomplete="off"> 
                            <mat-error *ngIf="pagoForm.controls.correo.hasError('required')">
                                Ingresa Correo
                            </mat-error>
                        </mat-form-field> 

                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Universidad</mat-label>
                            <mat-select matSelect formControlName="universidad">
                              <mat-option  *ngFor="let uni of universidades_lista" [value]="uni.uni_id">
                                {{uni.uni_nombre}}
                              </mat-option>
                            </mat-select>                    
                            <mat-error *ngIf="pagoForm.get('universidad').hasError('required')">
                                Selecciona una Universidad
                            </mat-error>
                        </mat-form-field>

                        

                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Curso</mat-label>
                            <mat-select matSelect formControlName="curso">
                              <mat-option  *ngFor="let curso of cursos_lista" [value]="curso.cur_id">
                                {{curso.cur_nombre}}
                              </mat-option>
                            </mat-select>                    
                            <mat-error *ngIf="pagoForm.get('curso').hasError('required')">
                                Selecciona un curso
                            </mat-error>
                        </mat-form-field>

                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                        
        
                        <mat-form-field class="example-full-width form_campo" appearance="outline">
                            <mat-label>Fecha</mat-label>
                            <input matInput [matDatepicker]="picker" formControlName="fecha">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>

                

                

                
                
                

                
                <div class="btn-sec contenedor_botones">                
                    <div class="fila_botones">
                        <div class="btn_izquierda">
                            <button type="button" mat-raised-button color="warn" (click)="closeDialog()">Cancelar</button>
                        </div>
                        <div class="btn_derecha">
                            <button class="mr-3" mat-raised-button color="primary" (click)="enviarFormulario()">Guardar</button>
                        </div>
                    </div>                
                </div>
            </form>
        </div>
    </div>
</div>