
    <div class="mainBG fondo_page">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-8 col-md-10 col-sm-10"> 
                    <div class="row justify-content-center">
                        <div class="col-12">
                            <div class="card">                    
                                <div class="body">
                                    <div class="row justify-content-center">
                                        <div class="col-12 centrador">
                                            <img src="/assets/images/infox_fronteras.png"  class="imagen_register" alt="">
                                        </div>
                        
                                        <div class="titulo centrador">
                                            <h2>Registro de Participante</h2>                        
                                        </div>
                                    </div>
                
                                    <div class="row clase_cuerpo">    
                                        <div class="col-12">
                                            <form [formGroup]="formPromo">                                                                                                       
                                                <div class="row">
                                                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                                        <mat-form-field class="example-full-width" appearance="outline">
                                                            <mat-label>DNI</mat-label>
                                                            <input matInput formControlName="dni" required autocomplete="off" type="number">
                                                            <mat-icon matSuffix>credit_card</mat-icon>
                                                            <mat-error *ngIf="formPromo.get('dni').hasError('required')">
                                                                DNI es requerido
                                                            </mat-error>
                                                        </mat-form-field>
                                                    </div>
                                                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                                        <mat-form-field class="example-full-width" appearance="outline">
                                                            <mat-label>Nombres</mat-label>
                                                            <input matInput formControlName="nombres" autocomplete="off">
                                                            <mat-icon matSuffix>person</mat-icon>
                                                        </mat-form-field>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                                        <mat-form-field class="example-full-width" appearance="outline">
                                                            <mat-label>Email</mat-label>
                                                            <input matInput formControlName="correo" required autocomplete="off">
                                                            <mat-icon matSuffix>email</mat-icon>
                                                            <mat-error
                                                                *ngIf="formPromo.get('correo').hasError('correo') && formPromo.get('email').touched">
                                                                ingresa un correo electrónico
                                                            </mat-error>
                                                        </mat-form-field>
                                                    </div>
                                                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                                        <mat-form-field class="example-full-width" appearance="outline">
                                                            <mat-label>Telefono</mat-label>
                                                            <input matInput formControlName="telefono" type="number" required autocomplete="off">
                                                            <mat-icon matSuffix>phone</mat-icon>
                                                        </mat-form-field>
                                                    </div>
                                                    
                                                </div>

                                                <div class="row" >
                                                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 ">
                                                        <mat-form-field class="example-full-width" appearance="outline">
                                                            <mat-label>Universidad</mat-label>
                                                            <mat-select formControlName="universidad" required>
                                                                <mat-option [value]="uni" *ngFor="let uni of universidades_lista">
                                                                    {{uni.uni_nombre}}
                                                                </mat-option>                                                                             
                                                            </mat-select>
                                                            <mat-icon matSuffix>account_balance</mat-icon>
                                                            <mat-error *ngIf="formPromo.get('universidad').hasError('required')">
                                                                Universidad es obligatorio
                                                            </mat-error>
                                                        </mat-form-field>
                                                    </div>
                                                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                                        <mat-form-field class="example-full-width" appearance="outline">
                                                            <mat-label>Universidad</mat-label>
                                                            <input matInput formControlName="otros" required autocomplete="off" >
                                                            <mat-icon matSuffix>account_balance</mat-icon>
                                                            <mat-error *ngIf="formPromo.get('otros').hasError('required')">
                                                                Universidad es obligatorio
                                                            </mat-error>
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                                
                                                <div class="row">
                                                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 ">
                                                        <mat-form-field class="example-full-width" appearance="outline">
                                                            <mat-label>Programa</mat-label>                                                        
                                                            <mat-select formControlName="curso">                                        
                                                                <mat-optgroup *ngFor="let pro of programas_cursos_lista" [label]="pro.pro_nombre"
                                                                              >
                                                                  <mat-option *ngFor="let curso of pro.pro_cursos" [value]="curso">
                                                                    {{curso.cur_nombre}}
                                                                  </mat-option>
                                                                </mat-optgroup>
                                                              </mat-select>
                                                              <mat-icon matSuffix>school</mat-icon>                        
                                                            <mat-error *ngIf="formPromo.get('curso').hasError('required')">
                                                                Programa es obligatorio
                                                            </mat-error>
                                                        </mat-form-field>
                                                    </div>
                                                   
                                                </div>

                                                <div class="row">
                                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 centrador">
                                                        <button  mat-raised-button
                                                            (click)="enviarFormulario()" color="primary">Registrar</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>                                                                    
                                    </div>                    
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    
                </div>
            </div>
        </div>        
    </div>