<div>
    <h2 mat-dialog-title>{{nombre}}</h2>
    <div mat-dialog-content>


        <div class="text-inside">
            <form [formGroup]="paisForm" class="form_width">
                <div class="col-12">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <input matInput placeholder="Pais" formControlName="pais" required autocomplete="off"> 
                        <mat-error *ngIf="paisForm.controls.pais.hasError('required')">
                            Ingresa nombre de curso
                        </mat-error>
                    </mat-form-field> 
                </div>
                <div class="col-12">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <input matInput placeholder="Glosa Documento" formControlName="glosaDoc" required autocomplete="off"> 
                        <mat-error *ngIf="paisForm.controls.glosaDoc.hasError('required')">
                            Ingresa descipcion del curso
                        </mat-error>
                    </mat-form-field> 
                </div>
                <div class="col-12">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <input matInput placeholder="Codigo Pais" formControlName="codPais" required autocomplete="off"> 
                        <mat-error *ngIf="paisForm.controls.codPais.hasError('required')">
                            Ingresa descipcion del curso
                        </mat-error>
                    </mat-form-field> 
                </div>
            </form>
        </div>
        

        <div class="btn-sec contenedor_botones">                
            <div class="fila_botones">
                <div class="btn_izquierda">
                    <button type="button" mat-raised-button color="warn" (click)="closeDialog()">Cancelar</button>
                </div>
                <div class="btn_derecha">
                    <button class="mr-3" mat-raised-button color="primary" (click)="enviarFormulario()">Guardar</button>
                </div>
            </div>                
        </div>

    </div>
</div>