::ng-deep .mat-slide-toggle.mat-primary.mat-checked .mat-slide-toggle-thumb
    background-color: #0E99C1

::ng-deep .mat-slide-toggle.mat-primary.mat-checked .mat-slide-toggle-bar
    background-color: #0E99C1

.toggle_add
    padding-right: 15px

.letra_toggle
    color: white
    font-weight: bold
    line-height: 100%
    padding-top: 15px
    font-size: 20px
.clase_cabecera
    background: #706f6fad

.boton_opcion
    background-color: #0E99C1
    color: white;
    
.inactivo
    color:#f00
    text-decoration-line: line-through;

.chip_color_primary
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    padding: 7px 12px;
    border-radius: 16px;
    align-items: center;
    cursor: default;
    min-height: 32px;
    height: 1px;
    background-color: #3f51b5;
    color: #fff;
.chip_color_secondary
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    padding: 7px 12px;
    border-radius: 16px;
    align-items: center;
    cursor: default;
    min-height: 32px;
    height: 1px;
    background-color: #28a745;
    color: #fff;

.chip_color_t
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    padding: 7px 12px;
    border-radius: 16px;
    align-items: center;
    cursor: default;
    min-height: 32px;
    height: 1px;
    background-color: #2e86c1;
    color: #fff;

.chip_color_accent
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    padding: 7px 12px;
    border-radius: 16px;
    align-items: center;
    cursor: default;
    min-height: 32px;
    height: 1px;
    background-color: #ff4081;
    color: #fff;

.mat-column-expandir
    flex: 0 0 5%;

.mat-column-perfil
    flex: 0 0 10%;

.mat-column-codigo
    flex: 0 0 10%;

.mat-column-nombre_completo
    flex: 0 0 15%;

.mat-column-telefono
    flex: 0 0 10%;

.mat-column-usuario
    flex: 0 0 10%;

.mat-column-email
    flex: 0 0 15%;

.mat-column-tipo_usu
    flex: 0 0 10%;

.mat-column-activo
    flex: 0 0 10%;
    
.mat-column-acciones
    flex: 0 0 5%;
