<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <ul class="breadcrumb breadcrumb-style ">
                    <li class="breadcrumb-item">
                    <h4 class="page-title">Usuarios
                    </h4>
                    </li>
                </ul>
                </div>
            </div>    
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="task-module paginador">
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <div class="materialTableHeader clase_cabecera">
                                        <div class="row">
                                          <div class="col-8">
                                            <ul class="header-buttons-left ml-0">                                
                                              <li class="dropdown m-l-20">                                 
                                                <label for="search-input"><i class="material-icons search-icon">search</i></label>
                                                <input placeholder="Buscar" type="text" #filter (keyup)="applyFilter($event.target.value)" class="browser-default search-field"
                                                  aria-label="Search box">
                                              </li>
                                            </ul>
                                          </div> 
                                          <div class="col-4">                                
                                            <ul class="header-buttons"> 
                                              <li>
                                                <div class="toggle_add">                                        
                                                  <mat-slide-toggle [formControl]="filtro_control" color="primary" class="toggle_estado">
                                                      <p class="letra_toggle">Todos</p>  
                                                  </mat-slide-toggle>                                                                  
                                                </div>  
                                              </li> 
                                                <li>
                                                    <div class="icon-button-demo">
                                                      <button mat-mini-fab class="boton_opcion" (click)="addUser()">
                                                        <mat-icon class="col-white">add
                                                        </mat-icon>
                                                      </button>
                                                    </div>
                                                  </li>                               
                                              <li>
                                                <div class="icon-button-demo">
                                                  <button mat-mini-fab class="boton_opcion" (click)="actualizarLista()">
                                                    <mat-icon class="col-white">refresh
                                                    </mat-icon>
                                                  </button>
                                                </div>
                                              </li>                            
                                            </ul>
                                          </div>                                                         
                                        </div>                          
                                    </div>
                                    <mat-table #table [dataSource]="dataSource_locales_totales" matSort (matSortChange)="sortData($event)" class="mat-cell" id="tabla_total">                                                      
                                      <ng-container matColumnDef="expandir">
                                        <mat-header-cell *matHeaderCellDef class="cabecera">
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row;let i = index" class="boton_editar">
                                          <div class="centrador"><button mat-icon-button (click)="detalleUsuario(row,i)">
                                            <mat-icon>zoom_out_map</mat-icon>
                                          </button></div>
                                        </mat-cell>
                                      </ng-container>
                                      <ng-container matColumnDef="perfil">
                                        <mat-header-cell *matHeaderCellDef>Perfil
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row" [ngClass]="{'inactivo':row.usu_activo==='N'}" class="table-img">
                                          <div class="centrador">
                                            <div *ngIf="row.usu_foto!=null &&  row.usu_foto!='0' &&  row.usu_foto!='' then logoBlock else iconBlock"></div>
                                            <ng-template #logoBlock>
                                              <img [src]="row.usu_foto" onerror="this.onerror=null;this.src='/assets/images/sin_imagen.png';"/>
                                            </ng-template>
                                            <ng-template #iconBlock>
                                              <img src="/assets/images/sin_imagen.png"/>
                                            </ng-template>
                                          </div>
                                        </mat-cell>
                                      </ng-container>
                           
                                      <!-- <ng-container matColumnDef="nombre">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre 
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row" [ngClass]="{'inactivo':row.usu_activo=='N'}">{{row.usu_nombre}}                                                      
                                        </mat-cell>
                                      </ng-container> -->
                                      <ng-container matColumnDef="codigo">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>Codigo 
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row" [ngClass]="{'inactivo':row.usu_activo=='N'}">{{row.usu_codigo}}                                                      
                                        </mat-cell>
                                      </ng-container>
                                      <ng-container matColumnDef="nombre_completo">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre Completo
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row" [ngClass]="{'inactivo':row.usu_activo=='N'}">{{row.usu_nombre_compleo || ''}}                                                      
                                        </mat-cell>
                                      </ng-container>
                                      <ng-container matColumnDef="usuario">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>Usuario
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row" [ngClass]="{'inactivo':row.usu_activo=='N'}"> {{row.usu_usuario}}
                                        </mat-cell>
                                      </ng-container> 
                                      <ng-container matColumnDef="telefono">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>Telefono
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row" [ngClass]="{'inactivo':row.usu_activo=='N'}"> {{row.usu_telefono || ''}}
                                        </mat-cell>
                                      </ng-container>   
                                      <ng-container matColumnDef="email">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>Email
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row" [ngClass]="{'inactivo':row.usu_activo=='N'}"> {{row.usu_email}}
                                        </mat-cell>
                                      </ng-container>
                                      <ng-container matColumnDef="tipo_usu">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>Tipo Usuario
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row" [ngClass]="{'inactivo':row.usu_activo=='N'}">
                                            <mat-chip *ngIf="row.usu_tipo == '000' || row.usu_tipo == '100'" [ngClass]="{'chip_color_primary':row.usu_tipo == '000','chip_color_accent':row.usu_tipo == '100'}" >{{row.usu_tipo == '000' ? 'Vendedor' : 'Caja'}}
                                            </mat-chip>
                                            <mat-chip *ngIf="row.usu_tipo == '200' || row.usu_tipo == '300'" [ngClass]="{'chip_color_secondary':row.usu_tipo == '200','chip_color_t':row.usu_tipo == '300'}" >{{row.usu_tipo == '200' ? 'Admin' : 'Embajador'}}
                                            </mat-chip>  
                                            <!-- <mat-chip *ngIf="" [ngClass]="{'chip_color_t':row.usu_tipo == '300'}" >Embajador
                                            </mat-chip>   -->
                                        </mat-cell>
                                      </ng-container>   
                                      <ng-container matColumnDef="activo">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header>Activo
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row" [ngClass]="{'inactivo':row.usu_activo=='N'}"> 
                                          <mat-chip *ngIf="row.usu_activo == 'N'" [ngClass]="{'chip_color_primary':row.usu_activo == 'Y','chip_color_accent':row.usu_activo == 'N'}" >Inactivo
                                          </mat-chip>                          
                                          <mat-chip *ngIf="row.usu_activo == 'Y'" [ngClass]="{'chip_color_primary':row.usu_activo == 'Y','chip_color_accent':row.usu_activo == 'N'}" >Activo
                                          </mat-chip>                          
                                        </mat-cell>
                                      </ng-container>                     
                                                                                                                
                                      <ng-container matColumnDef="acciones">
                                        <mat-header-cell *matHeaderCellDef>Acciones
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row;let i = index">                                          
                                          <div class="acciones_locales" (click)="editUser(row)"><mat-icon class="col-black">edit</mat-icon></div> 
                                          <div class="acciones_locales" (click)="ocultarRow(row)">
                                            <mat-icon *ngIf="row.usu_activo=='Y'" class="col-black">visibility</mat-icon>
                                            <mat-icon *ngIf="row.usu_activo=='N'" class="col-black">visibility_off</mat-icon>
                                          </div>                                                                                                                                                                                                
                                        </mat-cell>    
                                      </ng-container>                    
                                      <mat-header-row *matHeaderRowDef="displayedColumns">
                                      </mat-header-row>
                                      
                                      <mat-row *matRowDef="let row; columns: displayedColumns;"
                                        [style.cursor]="'pointer'">
                                      </mat-row>
                                    </mat-table>
                                      <mat-paginator #paginator [pageIndex]="0"
                                      [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
                                      </mat-paginator> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="row">
          <input id="my-file-selector" type="file" matImput (change)="onFileChange($event)" name="uploadExcel">
        </div> -->
    </div>
</section>