<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-8 col-xl-9">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">Detalle {{ventana}}</h4>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <mat-toolbar>
                        <mat-toolbar-row>
                        <mat-paginator #paginator style-paginator showFirstLastButtons          
                                [length]="length"
                                [pageIndex]="pageIndex"           
                                [pageSize] = pageSize
                                [hidePageSize]= true
                                (page)="pageEvent = getServerData($event)">
                            </mat-paginator>
                        <mat-icon style="cursor:pointer;color: red;"(click)="cerrarDetalle()" >close</mat-icon>
                        </mat-toolbar-row>
                    </mat-toolbar>
                </div>
            </div>
        </div>
        <div class="row">
            <div class='col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4'>
                <div class="card">
                  <div class="contact-grid"> 
                      <div class="profile-header estilo_header">
                          <div class="name-center">Programa:</div>
                          <div class="user-name">{{rowPrograma?.pro_nombre || ''}}</div>                    
                        </div>
                       </div>
                  
                  <div class="card-body">              
                      <form [formGroup]="formCurso">
                          <div class="row">
                            <div class="col-12">
                                <small class="text-muted">Descripcion: </small>
                                <p>{{rowPrograma?.pro_descripcion || ''}}</p>
                            </div>
                          </div>
                          <div class="row">
                              
                              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                  <!-- <div class="caja_checks"> -->
                                      <mat-checkbox  [disabled]="true" [checked]= "isActivo" class="example-margin">Activo</mat-checkbox>                                
                                  <!-- </div> -->
                              </div>
                              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                <!-- <div class="caja_checks"> -->
                                    <mat-checkbox  [disabled]="true" [checked]= "isPro0" class="example-margin">1 Meses</mat-checkbox>    
                                    <mat-checkbox  [disabled]="true" [checked]= "isPro1" class="example-margin">3 Meses</mat-checkbox>    
                                    <mat-checkbox  [disabled]="true" [checked]= "isPro2" class="example-margin">6 Meses</mat-checkbox>    
                                    <mat-checkbox  [disabled]="true" [checked]= "isPro3" class="example-margin">12 meses</mat-checkbox>    
                                <!-- </div> -->
                            </div>  
                          </div>
                          <!-- <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                <mat-checkbox  [disabled]="true" [checked]= "isPro1" class="example-margin">3 Meses</mat-checkbox>    
                                <mat-checkbox  [disabled]="true" [checked]= "isPro2" class="example-margin">6 Meses</mat-checkbox>    
                                <mat-checkbox  [disabled]="true" [checked]= "isPro3" class="example-margin">12 meses</mat-checkbox>    
                            </div>  
                          </div> -->
                          <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                <small class="text-muted">Tipo: </small>
                                <p>{{tipo_programa}}</p>
                            </div>
                            <div *ngIf="this.tipo_programa == 'Combo'" class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                <small class="text-muted">Seleccion maxima: </small>
                                <p>{{rowPrograma?.pro_qty_combo || ''}}</p>
                            </div>
                          </div>
                          <div class="row">
                              <div Class='col-xl-12 col-lg-12 col-md-12 col-sm-12 caja_boton'>
                                  <button [disabled]="" type="button" mat-raised-button class="mr-3 boton_procesar" color="primary" (click)="editarPrograma()">Editar</button>
                              </div>                       
                          </div>                   
                      </form>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8" >
                <div class="card">
                    <mat-tab-group>
                        <mat-tab>
                            <ng-template mat-tab-label>
                                <mat-icon class="example-tab-icon mr-2">format_list_bulleted
                                </mat-icon>Cursos
                            </ng-template>
                            <div class="col-lg-12 col-md-12 col-sm-12 p-t-25">
                                <div class="materialTableHeader clase_cabecera">
                                    <div class="row">
                                      <div class="col-8">
                                        <ul class="header-buttons-left ml-0">                                
                                          <li class="dropdown m-l-20">                                 
                                            <label for="search-input"><i class="material-icons search-icon">search</i></label>
                                            <input placeholder="Buscar" type="text" #filter (keyup)="applyFilter($event.target.value)" class="browser-default search-field"
                                              aria-label="Search box">
                                          </li>
                                          
                                        </ul>
                                      </div> 
                                      <div class="col-4">                                
                                        <ul class="header-buttons">                                
                                          <!-- <li>
                                            <div class="icon-button-demo">
                                              <button mat-mini-fab class="boton_opcion" (click)="actualizarLista()">
                                                <mat-icon class="col-white">refresh
                                                </mat-icon>
                                              </button>
                                            </div>
                                          </li>-->                            
                                          <li> 
                                            <div class="icon-button-demo">
                                              <button mat-mini-fab class="boton_opcion" (click)="addCurso()">
                                                <mat-icon class="col-white">add
                                                </mat-icon>
                                              </button>
                                            </div>
                                          </li>                            
                                        </ul>
                                      </div>                                                         
                                    </div>                          
                                  </div> 
                                <mat-table #table [dataSource]="dsCursos" matSort (matSortChange)="sortData($event)" class="mat-cell" >          
                                    <ng-container matColumnDef="curso">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Curso
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row" [ngClass]="{'inactivo':row.pro_activo=='N'}">{{row.cur_nombre}}
                                    </mat-cell>                                               
                                    </ng-container>  
        
                                    <ng-container matColumnDef="descripcion">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Descripcion
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row" [ngClass]="{'inactivo':row.pro_activo=='N'}">{{row.cur_descripcion}}
                                    </mat-cell>
                                    </ng-container>
                                 
                                    <ng-container matColumnDef="estado">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Estado
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row" [ngClass]="{'inactivo':row.pro_activo=='N'}">
                                        <mat-chip [ngClass]="{'chip_color_primary':row.pro_activo == 'Y','chip_color_accent':row.pro_activo == 'N'}">
                                        {{row.pro_activo == 'Y' ? 'ACTIVO':'INACTIVO'}}
                                        </mat-chip>
                                    </mat-cell>                                               
                                    </ng-container>  
                                    <ng-container matColumnDef="acciones">
                                    <mat-header-cell *matHeaderCellDef>Acciones
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row" >
                                        <div class="acciones_reg">
                                            <div class="estado_reg">
                                              <span (click)="chageState(row)"aria-hidden="true"><i class="material-icons color_icono">{{row.pro_activo=='Y' ? 'visibility' : 'visibility_off'}}</i></span>
                                            </div>
                                            <div class="edit_reg">
                                              <span aria-hidden="true" (click)="editCurso(row)"><i class="material-icons color_icono">edit</i></span>
                                            </div>
                                          </div>
                                    </mat-cell>                                               
                                    </ng-container> 
                                                                                                                                                      
                                    <mat-header-row *matHeaderRowDef="displayedColumns">
                                    </mat-header-row>
                                    
                                    <mat-row *matRowDef="let row; columns: displayedColumns;"
                                      [style.cursor]="'pointer'">
                                    </mat-row>
                                </mat-table>
                                <mat-paginator #paginadorCurso [pageIndex]="0"
                                [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
                                </mat-paginator> 
                            </div>
                        </mat-tab>
                        <mat-tab>
                          <ng-template mat-tab-label>
                            <mat-icon class="example-tab-icon mr-2">notifications
                            </mat-icon>Notificaciones
                        </ng-template>
                            <div class="col-lg-12 col-md-12 col-sm-12 p-t-25">
                              <div class="materialTableHeader clase_cabecera">
                                <div class="row">
                                  <div class="col-8">
                                    <ul class="header-buttons-left ml-0">                                
                                      <li class="dropdown m-l-20">                                 
                                        <label for="search-input"><i class="material-icons search-icon">search</i></label>
                                        <input placeholder="Buscar" type="text" #filter (keyup)="applyFilter($event.target.value)" class="browser-default search-field"
                                          aria-label="Search box">
                                      </li>
                                      
                                    </ul>
                                  </div> 
                                  <div class="col-4">                                
                                    <ul class="header-buttons">                                                          
                                      <li> 
                                        <div class="icon-button-demo">
                                          <button mat-mini-fab class="boton_opcion" (click)="addNotificacion()">
                                            <mat-icon class="col-white">add
                                            </mat-icon>
                                          </button>
                                        </div>
                                      </li>                            
                                    </ul>
                                  </div>                                                         
                                </div>                          
                              </div> 
                            </div>
                            <mat-table #table [dataSource]="dsNotificaciones" matSort (matSortChange)="sortData2($event)" class="mat-cell" >          
                              <ng-container matColumnDef="tipo">
                              <mat-header-cell *matHeaderCellDef mat-sort-header>Tipo
                              </mat-header-cell>
                              <mat-cell *matCellDef="let row" [ngClass]="{'inactivo':row.isActive=='N'}">
                                <mat-icon *ngIf="row?.typeNotification == 'LL'" class="">call</mat-icon>
                                <mat-icon *ngIf="row?.typeNotification == 'EM'" class="">mail</mat-icon>
                                <i *ngIf="row?.typeNotification == 'WA'" class="fab fa-whatsapp" style="font-size: 24px;"></i>                                
                              </mat-cell>                                               
                              </ng-container>  
  
                              <ng-container matColumnDef="dia">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Dia
                                </mat-header-cell>
                                <mat-cell *matCellDef="let row" [ngClass]="{'inactivo':row.isActive=='N'}">{{row.daysNext}}
                                </mat-cell>
                              </ng-container>
                              <ng-container matColumnDef="hora">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Hora
                                </mat-header-cell>
                                <mat-cell *matCellDef="let row" [ngClass]="{'inactivo':row.isActive=='N'}">{{row.hourAction}}
                                </mat-cell>
                              </ng-container>
                              <ng-container matColumnDef="mensaje">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Mensaje
                                </mat-header-cell>
                                <mat-cell *matCellDef="let row" [ngClass]="{'inactivo':row.isActive=='N'}">{{row.message}}
                                </mat-cell>
                              </ng-container>
                              <ng-container matColumnDef="vendedor">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Vendedor
                                </mat-header-cell>
                                <mat-cell *matCellDef="let row" [ngClass]="{'inactivo':row.isActive=='N'}">{{row.userID == 100 ? "Sistema" : "Usuario"}}
                                </mat-cell>
                              </ng-container>
                              <ng-container matColumnDef="estado">
                              <mat-header-cell *matHeaderCellDef mat-sort-header>Estado
                              </mat-header-cell>
                              <mat-cell *matCellDef="let row" [ngClass]="{'inactivo':row.isActive=='N'}">
                                  <mat-chip [ngClass]="{'chip_color_primary':row.isActive == 'Y','chip_color_accent':row.isActive == 'N'}">
                                  {{row.isActive == 'Y' ? 'ACTIVO':'INACTIVO'}}
                                  </mat-chip>
                              </mat-cell>                                               
                              </ng-container>  
                              <ng-container matColumnDef="acciones">
                              <mat-header-cell *matHeaderCellDef>Acciones
                              </mat-header-cell>
                              <mat-cell *matCellDef="let row" >
                                  <div class="acciones_reg">
                                      <div class="estado_reg">
                                        <span (click)="chageState(row)"aria-hidden="true"><i class="material-icons color_icono">{{row.isActive=='Y' ? 'visibility' : 'visibility_off'}}</i></span>
                                      </div>
                                      <div class="edit_reg">
                                        <span aria-hidden="true" (click)="editarNotificacion(row)"><i class="material-icons color_icono">edit</i></span>
                                      </div>
                                    </div>
                              </mat-cell>                                               
                              </ng-container> 
                                                                                                                                                
                              <mat-header-row *matHeaderRowDef="displayedColumns2">
                              </mat-header-row>
                              
                              <mat-row *matRowDef="let row; columns: displayedColumns2;"
                                [style.cursor]="'pointer'">
                              </mat-row>
                          </mat-table>
                          <mat-paginator #paginadorNotificacion [pageIndex]="0"
                          [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
                          </mat-paginator> 
                        </mat-tab>
                    </mat-tab-group>
                </div>
              </div>
        </div>
    </div>
</section>

