.estilo_row
    margin-bottom: 0px !important


.list-group-item    
    padding: 5px 7.5px;
.caja_checks
    padding-top: 20px
.mat-paginator, .mat-paginator-page-size .mat-select-trigger
    background-color: initial !important;
.estilo_header
    color: white !important
    background:#96a2b4
    padding: 25px 0px;

.chip_color_primary
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    padding: 7px 12px;
    border-radius: 16px;
    align-items: center;
    cursor: default;
    min-height: 32px;
    height: 1px;
    background-color: #3f51b5;
    color: #fff;
    
.chip_color_accent
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1)
    display: inline-flex
    padding: 7px 12px
    border-radius: 16px
    align-items: center
    cursor: default
    min-height: 32px
    height: 1px
    background-color: #ff4081
    color: #fff

.inactivo
    color:#f00
    text-decoration-line: line-through
.letra_toggle
    color: white
    font-weight: bold
    line-height: 100%
    padding-top: 15px
    font-size: 20px
.boton_opcion
    background-color: #0E99C1;
.clase_cabecera
    background-color: #A0AAAB

.color_icono
    color: #0E99C1

.acciones_reg
    display : flex
    flex-direction: row
    width: 100%

.estado_reg
    margin-left : 5px
    margin-right : 5px

.edit_reg
    margin-left : 5px
    margin-right : 5px

    
/*estilos para el paginador

.mat-paginator, .mat-paginator-page-size .mat-select-trigger
    background-color: initial !important;
.mat-toolbar-multiple-rows
    background: rgba(0,0,0,0);
.inactivo
    color:#f00
    text-decoration-line: line-through

    
.boton_procesar
    width : 100%
.mat-column-curso
    flex: 0 0 35%
.mat-column-descripcion
    flex: 0 0 35%
.mat-column-estado
    flex: 0 0 20%
.mat-column-acciones
    flex: 0 0 10%