<div>
    <h2 mat-dialog-title>{{nombre}}</h2>
    <div mat-dialog-content>
        <div class="container">
            <form [formGroup]="certificadoForm" class="">
                <div class="row">
                    <div class="col-6">
                        <mat-form-field class="example-full-width" appearance="outline">
                          <mat-label>Codigo</mat-label>
                            <input matInput placeholder="Codigo" formControlName="codigo" required autocomplete="off"> 
                            <mat-error *ngIf="certificadoForm.controls.codigo.hasError('required')">
                                Ingresa un Codigo
                            </mat-error>
                        </mat-form-field> 
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-6">
                        <mat-form-field class="example-full-width" appearance="outline">
                          <mat-label>Nombre</mat-label>
                            <input matInput placeholder="Nombre" formControlName="nombre" required autocomplete="off"> 
                            <mat-error *ngIf="certificadoForm.controls.nombre.hasError('required')">
                                Ingresa nombre
                            </mat-error>
                        </mat-form-field> 
                    </div>
                    
                    <div class="col-6">
                      <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Dni</mat-label>
                        <input matInput placeholder="DNI" formControlName="dni" type="text" required autocomplete="off">
                        <mat-error *ngIf="certificadoForm.get('dni').hasError('required')">
                          Dni es obligatorio
                        </mat-error>
                      </mat-form-field>
                    </div>                    
                </div>
                <!-- <div class="row">
                    <div class="col-6">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <input matInput placeholder="Programa" formControlName="programa" required autocomplete="off"> 
                            <mat-error *ngIf="certificadoForm.controls.programa.hasError('required')">
                                Ingresa un Programa
                            </mat-error>
                        </mat-form-field> 
                    </div>
                    <div class="col-6">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <input matInput placeholder="Curso" formControlName="curso" required autocomplete="off"> 
                            <mat-error *ngIf="certificadoForm.controls.curso.hasError('required')">
                                Ingresa Curso
                            </mat-error>
                        </mat-form-field> 
                    </div>
                    
                </div> -->
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 estilo_row">
                      <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Programa</mat-label>
                        <mat-select matSelect formControlName="programa" (selectionChange)="selectPrograma($event.value)">
                          <mat-option  *ngFor="let pro of programas" [value]="pro">
                            {{pro.pro_nombre}}
                          </mat-option>
                        </mat-select>                    
                        <mat-error *ngIf="certificadoForm.get('programa').hasError('required')">
                            Selecciona un Programa
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div *ngIf="isSelect==true || editar == true" class="col-xl-6 col-lg-6 col-md-12 col-sm-12 estilo_row">
                      <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Curso</mat-label>
                        <mat-select matSelect formControlName="cursos" (selectionChange)="selectCurso($event.value)">
                          <mat-option  *ngFor="let cur of cursos" [value]="cur">
                            {{cur.cur_nombre}}
                          </mat-option>
                        </mat-select>                    
                        <mat-error *ngIf="certificadoForm.get('cursos').hasError('required')">
                            Selecciona un Curso
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <!-- <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 estilo_row">
                      <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Programa</mat-label>
                        <mat-select formControlName="programa" (selectionChange)="selectPrograma($event.value)">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Buscar..." (keyup)="onKey($event.target.value)"
                              autocomplete="off" [formControl]="buscador_programa">
                          </mat-form-field>
                          <mat-option *ngFor="let curso of programas_filtrados" [value]="curso"
                            [ngClass]="{'clase_programa':curso.tipo=='PR' || curso.tipo=='CO','cursiva':curso.bloqueado}"
                            [disabled]="curso.bloqueado">
                            {{curso.nombre}}
                          </mat-option>
                        </mat-select>
                        <mat-icon matSuffix>school</mat-icon>
                        <mat-error *ngIf="certificadoForm.get('programa').hasError('required')">
                          Programa es obligatorio
                        </mat-error>
                      </mat-form-field>
                    </div>

                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 estilo_row" *ngIf="combo">
                      <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Programas</mat-label>
                        <mat-select formControlName="cursos" multiple>
                          <mat-option *ngFor="let curso of cursos_combo" [value]="curso"
                            (onSelectionChange)="selectCurso($event)" [disabled]="desabilitado(curso)">
                            {{curso.cur_nombre}}
                          </mat-option>
                        </mat-select>
                        <mat-icon matSuffix>school</mat-icon>
                        <mat-error *ngIf="certificadoForm.get('cursos').value.length<cursos_permitidos">
                          Debes Seleccionar {{cursos_permitidos}} Programa(s)
                        </mat-error>
                      </mat-form-field>
                    </div>

                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 estilo_row" *ngIf="tipo_programa">
                      <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Duracion</mat-label>
                        <mat-select formControlName="meses_programa" multiple>
                          <mat-option *ngFor="let mes of meses_combo" [value]="mes"
                            (onSelectionChange)="selectMeses($event)" [disabled]="desabilitadoMeses(mes)">
                            {{mes.duracion}}
                          </mat-option>
                        </mat-select>
                        <mat-icon matSuffix>school</mat-icon>
                        <mat-error *ngIf="certificadoForm.get('meses_programa').value.length<1">
                          Debes Seleccionar 1 Opción
                        </mat-error>
                      </mat-form-field>
                    </div> -->

                  </div>
                <div class="row">
                    <div class="col-6">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Fecha</mat-label>
                            <input matInput [matDatepicker]="picker" formControlName="fecha"
                            required autocomplete="off">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                            <mat-error *ngIf="certificadoForm.get('fecha').hasError('required')">
                            Fecha es obligatorio
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-6">
                        <mat-form-field class="example-full-width" appearance="outline">
                          <mat-label>Url de archivo</mat-label>
                            <input matInput placeholder="Url de archivo" formControlName="archivo" required autocomplete="off"> 
                            <mat-error *ngIf="certificadoForm.controls.archivo.hasError('required')">
                                Ingresa Url de archivo
                            </mat-error>
                        </mat-form-field> 
                    </div>
                </div>
                
            </form>
        </div>
        

        <div class="btn-sec contenedor_botones">                
            <div class="fila_botones">
                <div class="btn_izquierda">
                    <button type="button" mat-raised-button color="warn" (click)="closeDialog()">Cancelar</button>
                </div>
                <div class="btn_derecha">
                    <button class="mr-3" mat-raised-button color="primary" (click)="enviarFormulario()">Guardar</button>
                </div>
            </div>                
        </div>

    </div>
</div>