.form_width
    width : 350px

.fila_botones
    display: flex
    width: 100%

.btn_izquierda
    width: 50%
    text-align: center

.btn_derecha
    width: 50%
    text-align: center

.estilo_row
    margin-bottom: 0px !important

.clase_programa
    color: rgb(0, 166, 219)
    font-weight : bold
    font-size : 15px

.cursiva
    font-style: italic
    opacity: 0.5
