<section class="content">
    <div class="container-fluid">
      <div class="block-header">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="breadcrumb breadcrumb-style ">
              <li class="breadcrumb-item">
                <h4 class="page-title">Universidades
                </h4>
              </li>
            </ul>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="card h-100">
            <div class="card-body">
              <div class="task-module paginador">
                <div class="row">
                  <div class="col-md-12 col-sm-12">                    
                        <div class="materialTableHeader clase_cabecera">
                          <div class="row">
                            <div class="col-8">
                              <ul class="header-buttons-left ml-0">                                
                                <li class="dropdown m-l-20">                                 
                                  <label for="search-input"><i class="material-icons search-icon">search</i></label>
                                  <input placeholder="Buscar" type="text" #filter (keyup)="applyFilter($event.target.value)" class="browser-default search-field"
                                    aria-label="Search box">
                                </li>
                              </ul>
                            </div> 
                            <div class="col-4">                                
                                <ul class="header-buttons">
                                  <li>
                                    <div class="toggle_add">                                        
                                      <mat-slide-toggle [formControl]="filtro_control" color="primary" class="toggle_estado">
                                          <p class="letra_toggle">Todos</p>  
                                      </mat-slide-toggle>                                                                  
                                    </div> 
                                  </li>
                                  <li>
                                    <div class="icon-button-demo">
                                      <button mat-mini-fab class="boton_opcion" (click)="nuevaUniversidad()">
                                        <mat-icon class="col-white ">add</mat-icon>
                                      </button>
                                    </div>
                                  </li>
                                  <li>
                                    <div class="icon-button-demo">
                                      <button mat-mini-fab class="boton_opcion" (click)="actualizarLista()">
                                        <mat-icon class="col-white">refresh
                                        </mat-icon>
                                      </button>
                                    </div>
                                  </li>                            
                                </ul>
                            </div>                                                         
                          </div>                          
                        </div>                     
                        <mat-table #table [dataSource]="dataSource_universidades_totales" matSort (matSortChange)="sortData($event)" class="mat-cell" id="tabla_total">                                                      
                          
                          <ng-container matColumnDef="codigo">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Codigo
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row" [ngClass]="{'inactivo':row.uni_activo=='N'}"> {{row.uni_id}}
                            </mat-cell>
                            </ng-container>
                          <ng-container matColumnDef="universidad">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row" [ngClass]="{'inactivo':row.uni_activo=='N'}"> {{row.uni_nombre}}
                            </mat-cell>
                          </ng-container>
                          <ng-container matColumnDef="descripcion">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Descripcion
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row" [ngClass]="{'inactivo':row.uni_activo=='N'}"> {{row.uni_descripcion}}
                            </mat-cell>
                          </ng-container>
                          <ng-container matColumnDef="pais">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Pais
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row" [ngClass]="{'inactivo':row.uni_activo=='N'}"> {{row.pais_nombre}}
                            </mat-cell>
                          </ng-container>      
                          <ng-container matColumnDef="acciones">
                            <mat-header-cell *matHeaderCellDef>Acciones
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                              <div class="acciones_reg">
                                <div class="estado_reg">
                                  <span aria-hidden="true" (click)="cambiarEstado(row)"><i class="material-icons color_icono">{{row.uni_activo=='N' ? 'visibility' : 'visibility_off'}}</i></span> 
                                  <!-- <span aria-hidden="true" *ngIf="row.uni_activo=='N'" (click)="cambiarEstado(row)"><i class="material-icons color_icono">visibility</i></span>              
                                  <span aria-hidden="true" *ngIf="row.uni_activo=='Y'" (click)="cambiarEstado(row)"><i class="material-icons color_icono">visibility_off</i></span> -->
                                </div>
                                <div class="edit_reg">
                                  <span aria-hidden="true" (click)="mostarModalUniversidad(row)"><i class="material-icons color_icono">edit</i></span>
                                </div>
                              </div>                                                            
                            </mat-cell>
                          </ng-container>                                                                                            
                          <mat-header-row *matHeaderRowDef="displayedColumns">
                          </mat-header-row>
                          
                          <mat-row *matRowDef="let row; columns: displayedColumns;" 
                            [style.cursor]="'pointer'">
                          </mat-row>
                        </mat-table>
                        <mat-paginator #paginator [pageIndex]="0"
                        [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
                        </mat-paginator> 
                        <!-- <button mat-raised-button (click)="exporter.exportTable('xlsx', {fileName:'test', sheet: 'sheet_name', Props: {Author: 'Talha'},hiddenColumns:[]})">Excel</button>
                        <button mat-raised-button (click)="generarReporte()">Generar Reporte</button> -->
                  </div>
                </div>   

              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>