.breadcrumb .page-title
    border-right : none !important

::ng-deep .mat-slide-toggle.mat-primary.mat-checked .mat-slide-toggle-thumb
    background-color: #0E99C1

::ng-deep .mat-slide-toggle.mat-primary.mat-checked .mat-slide-toggle-bar
    background-color: #0E99C1

.toggle_add
    padding-right: 15px

.letra_toggle
    color: white
    font-weight: bold
    line-height: 100%
    padding-top: 15px
    font-size: 20px

.boton_opcion
    background-color: #0E99C1
    color: white

.acciones_reg
    display : flex
    flex-direction: row
    width: 100%

.estado_reg
    margin-left : 5px
    margin-right : 5px

.edit_reg
    margin-left : 5px
    margin-right : 5px

.inactivo
    color:#f00
    text-decoration-line: line-through

.clase_cabecera
    background-color: #A0AAAB

.color_icono
    color: #0E99C1

.mat-column-codigo
    flex: 0 0 10%
.mat-column-universidad
    flex: 0 0 40%
.mat-column-universidad
    flex: 0 0 20%
.mat-column-pais
    flex: 0 0 20%
.mat-column-acciones
    flex: 0 0 10%