<div class="container">
    <div class="row">
        <div class="col-10 estilo_title">
            <h2 mat-dialog-title class="title_popup">Editar Curso</h2>
        </div>
        <div class="col-2 estilo_close" (click)="closeDialog()">
            <mat-icon matSuffix>close</mat-icon>
        </div>
    </div>
    <div mat-dialog-content>
        <form [formGroup]="formEditar" (ngSubmit)="onSubmitClick()">
            <div class="container" >
              <div *ngIf="this.ventana == 'reporte'" class="row">
                <div  class="col-xl-12 col-lg-12 col-md-12 col-sm-12 estilo_row">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Correo Electronico</mat-label>
                    <input matInput placeholder="example@hotmail.com" formControlName="correoCaja" required autocomplete="off"> 
                    <mat-error *ngIf="formEditar.controls.correoCaja.hasError('required')">
                        Ingresa un correo electronico
                    </mat-error>
                  </mat-form-field> 
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 estilo_row">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Usuario</mat-label>
                    <input matInput placeholder="Usuario" formControlName="usuario" required autocomplete="off"> 
                    <mat-error *ngIf="formEditar.controls.usuario.hasError('required')">
                        Ingresa nombre de usuario
                    </mat-error>
                  </mat-form-field> 
                </div>
                <div  class="col-xl-12 col-lg-12 col-md-12 col-sm-12 estilo_row">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Clave</mat-label>
                    <input matInput placeholder="Clave" formControlName="clave" required autocomplete="off"> 
                    <mat-error *ngIf="formEditar.controls.clave.hasError('required')">
                        Ingresa una clave
                    </mat-error>
                </mat-form-field> 
                </div>  
              </div>
                <div class="row">
                  <div *ngIf="this.ventana != 'reporte'" class="col-xl-6 col-lg-6 col-md-6 col-sm-12 estilo_row">
                      <mat-form-field class="example-full-width"  appearance="outline">
                        <mat-label>DNI</mat-label>
                        <input matInput  formControlName="dni" type="text" 
                             required autocomplete="off">                            
                         <mat-error *ngIf="formEditar.get('dni').hasError('required')">
                            DNI es obligatorio
                        </mat-error>         
                    </mat-form-field>
                  </div>
                  <div *ngIf="this.ventana != 'reporte'" class="col-xl-6 col-lg-6 col-md-6 col-sm-12 estilo_row">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Correo Electronico</mat-label>
                        <input matInput  formControlName="correo" type="text" 
                             required autocomplete="off">                            
                         <mat-error *ngIf="formEditar.get('correo').hasError('required')">
                            Correo electronico es obligatorio
                        </mat-error>                      
                    </mat-form-field>
                  </div>
                  <div *ngIf="this.ventana != 'reporte'" class="col-xl-6 col-lg-6 col-md-6 col-sm-12 estilo_row">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Telefono</mat-label>
                        <input matInput  formControlName="telefono" type="text" 
                             required autocomplete="off">                            
                         <mat-error *ngIf="formEditar.get('telefono').hasError('required')">
                            Numero de Telefono es obligatorio
                        </mat-error>
                    </mat-form-field>
                  </div>
                  <div *ngIf="this.ventana != 'reporte'" class="col-xl-6 col-lg-6 col-md-6 col-sm-12 estilo_row">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Fecha Inicio</mat-label>
                      <input matInput [matDatepicker]="picker" formControlName="ini_curso">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                  </div>

                  <div *ngIf="this.ventana != 'reporte'" class="col-xl-6 col-lg-6 col-md-6 col-sm-12 estilo_row">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Universidad</mat-label>
                          <mat-select formControlName="univerdad" required (selectionChange)="selectUniversidad($event.value)">
                              <mat-option *ngFor="let uni of lista_universidades" [value]="uni">
                              {{uni.uni_nombre}}
                              </mat-option>
                          </mat-select>
                          <mat-error *ngIf="formEditar.get('univerdad').hasError('required')">
                            Universidad es obligatorio
                          </mat-error>                        
                    </mat-form-field>
                  </div>
                  <div *ngIf="this.ventana != 'reporte'" class="col-xl-6 col-lg-6 col-md-6 col-sm-12 estilo_row">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Semestre</mat-label>
                          <mat-select formControlName="semestre" required (selectionChange)="selectSemestre($event.value)">
                              <mat-option *ngFor="let sem of lista_semestres" [value]="sem">
                              {{sem.sem_nombre}}
                              </mat-option>
                          </mat-select>
                          <mat-error *ngIf="formEditar.get('univerdad').hasError('required')">
                            Universidad es obligatorio
                          </mat-error>                        
                    </mat-form-field>
                  </div>
                  

                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 estilo_row">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Programa</mat-label>
                      <mat-select matSelect formControlName="programa" (selectionChange)="selectPrograma($event.value)">
                        <mat-option  *ngFor="let pro of programas" [value]="pro">
                          {{pro.pro_nombre}}
                        </mat-option>
                      </mat-select>                    
                      <mat-error *ngIf="formEditar.get('programa').hasError('required')">
                          Selecciona un Programa
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 estilo_row" *ngIf="combo">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Cursos</mat-label>
                      <mat-select formControlName="cursos" multiple (selectionChange)="selectCurso($event.value)">
                        <mat-option *ngFor="let curso of cursos" [value]="curso"
                           [disabled]="desabilitado(curso)">
                          {{curso.cur_nombre}}
                        </mat-option>
                      </mat-select>
                      <mat-icon matSuffix>school</mat-icon>
                      <mat-error *ngIf="formEditar.get('cursos').value.length<cursos_permitidos">
                        Debes Seleccionar {{cursos_permitidos}} Programa(s)
                      </mat-error>
                    </mat-form-field>
                  </div>

                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 estilo_row" *ngIf="tipo_programa">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Cursos</mat-label>
                      <mat-select formControlName="curso" (selectionChange)="selectCurso($event.value)">
                        <mat-option *ngFor="let curso of cursos" [value]="curso">
                          {{curso.cur_nombre}}
                        </mat-option>
                      </mat-select>
                      <mat-icon matSuffix>school</mat-icon>
                      <mat-error *ngIf="formEditar.get('curso').value.length<cursos_permitidos">
                        Debes Seleccionar {{cursos_permitidos}} Programa(s)
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 estilo_row" *ngIf="isMeses">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Duracion</mat-label>
                      <input matInput formControlName="meses_programa" readonly autocomplete="off"> 
                      <!-- <mat-error *ngIf="formEditar.controls.meses_programa.hasError('required')">
                          Ingresa nombre de usuario
                      </mat-error> -->
                    </mat-form-field> 
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 estilo_row" *ngIf="showMeses">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Duracion</mat-label>
                      <mat-select formControlName="meses_programa" multiple>
                        <mat-option *ngFor="let mes of meses_combo" [value]="mes"
                          (onSelectionChange)="selectMeses($event)" [disabled]="desabilitadoMeses(mes)">
                          {{mes.duracion}}
                        </mat-option>
                      </mat-select>
                      <mat-icon matSuffix>school</mat-icon>
                      <mat-error *ngIf="formEditar.get('meses_programa').value.length<1">
                        Debes Seleccionar 1 Opción
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 estilo_row" *ngIf="cambioPrograma">
                    <mat-label>Cursos</mat-label>
                    <mat-form-field class="example-full-width" appearance="outline">
                      <textarea matInput readonly>{{combo_descripcion}}</textarea>
                    </mat-form-field>
                  </div>
                </div>
            </div>
            <div class="btn-sec contenedor_botones">
              <div class="fila_botones">
                <div class="btn_izquierda">
                  <button type="button" mat-raised-button color="warn" (click)="closeDialog()">Cancelar</button>
                </div>
                <div class="btn_derecha">
                  <button class="mr-3" mat-raised-button color="primary" [disabled]="" >Guardar</button>
                </div>
              </div>                
                
            </div>
        </form>
    </div>
</div>