<div class="container">
    <div class="row">
        <div class="col-10 estilo_title">
            <h2 mat-dialog-title class="title_popup">Confirmación Matricula</h2>
        </div>
        <div class="col-2 estilo_close" (click)="cerrar_popup()">
            <mat-icon matSuffix>close</mat-icon>
        </div>
    </div>
    <div mat-dialog-content>
        <form [formGroup]="matriculaForm" (ngSubmit)="onSubmitClick()">
            <div class="container" >
                <h5>Acceso Aula</h5>
                <div class="row">
                    <div class="col-6 estilo_row" >
                        <mat-form-field class="example-full-width"  appearance="outline">
                            <mat-label>Usuario</mat-label>
                            <input matInput  formControlName="usu_nombre" type="text" 
                                 required autocomplete="off">                            
                             <!-- <mat-error *ngIf="matriculaForm.get('usu_nombre').hasError('required')">
                                Fecha de abono es obligatorio
                            </mat-error> -->
                        </mat-form-field>
                    </div>
                    <div class="col-6 estilo_row" >
                        <mat-form-field class="example-full-width"  appearance="outline">
                            <mat-label>Clave</mat-label>
                            <input matInput  formControlName="usu_clave" type="text" 
                                 required autocomplete="off">                            
                             <!-- <mat-error *ngIf="matriculaForm.get('usu_clave').hasError('required')">
                                Fecha de abono es obligatorio
                            </mat-error> -->
                        </mat-form-field>
                    </div>
                    <div class="col-12 estilo_row" >
                        <mat-form-field class="example-full-width"  appearance="outline">
                            <mat-label>Correo</mat-label>
                            <input matInput  formControlName="usuario_correo" type="text" 
                                 required autocomplete="off">                            
                             <!-- <mat-error *ngIf="matriculaForm.get('usuario_correo').hasError('required')">
                                Fecha de abono es obligatorio
                            </mat-error> -->
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="container">
                <h5>Datos Curso</h5>
                <div class="row">                    
                    <div class="col-6 estilo_row" >
                        <mat-form-field class="example-full-width"  appearance="outline">
                            <mat-label>Programa</mat-label>
                            <input matInput  formControlName="programa_nombre" type="text"  readonly
                                 required autocomplete="off">                            
                             <!-- <mat-error *ngIf="matriculaForm.get('programa_nombre').hasError('required')">
                                Fecha de abono es obligatorio
                            </mat-error> -->
                        </mat-form-field>
                    </div>
                    <div class="col-6 estilo_row" >
                        <mat-form-field class="example-full-width"  appearance="outline">
                            <mat-label>Curso</mat-label>
                            <input matInput  formControlName="curso_nombre" type="text" readonly
                                 required autocomplete="off">                            
                             <!-- <mat-error *ngIf="matriculaForm.get('curso_nombre').hasError('required')">
                                Fecha de abono es obligatorio
                            </mat-error> -->
                        </mat-form-field>
                    </div>
                    <div class="col-6 estilo_row" >
                        <mat-form-field class="example-full-width"  appearance="outline">
                            <mat-label>Tiempo</mat-label>
                            <input matInput  formControlName="tiempo_contratado" type="text" readonly
                                 required autocomplete="off">                            
                             <!-- <mat-error *ngIf="matriculaForm.get('tiempo_contratado').hasError('required')">
                                Fecha de abono es obligatorio
                            </mat-error> -->
                        </mat-form-field>
                    </div>
                    <div class="col-6 estilo_row" >
                        <mat-form-field class="example-full-width"  appearance="outline">
                            <mat-label>Inicio Curso</mat-label>
                            <input matInput  formControlName="inicio_curso" type="text" readonly
                                 required autocomplete="off">                            
                             <!-- <mat-error *ngIf="matriculaForm.get('tiempo_contratado').hasError('required')">
                                Fecha de abono es obligatorio
                            </mat-error> -->
                        </mat-form-field>
                    </div>
                    <div class="col-6 estilo_row" >
                        <mat-checkbox [checked]="reenviarEmail" (change)="changeEmail($event)">Reenviar email</mat-checkbox>
                    </div>
                </div>
            </div>

            <div class="btn-sec">                
                <button type="button" mat-button (click)="closeDialog()">Cancelar</button>
                <button class="mr-3" mat-raised-button color="primary" [disabled]="!matriculaForm.valid" >Guardar</button>
            </div>
        </form>
    </div>
</div>