<div class="container">
    <div class=""><h1>Procesos Estrategicos</h1></div>
    <ul class="estilo_lista">
        <li class="width-per-{{ancho}}" *ngFor = "let i = index; let c of poligono; trackBy:trackByFn" >
            <canvas attr.id="canvas-{{i}}" (click)="selectCanvas(i)" style="cursor: pointer; width: 100%;"></canvas>
        </li>
    </ul>
    <div *ngIf="isClickCanvas == true" class=""><h1>Estrategicos</h1></div>
    <ul class="estilo_lista">
        
        <li class="width-per-{{ancho2}}" *ngFor = "let i = index; let a of arry2; trackBy:trackByFn">
            
            <canvas attr.id="subcanvas-{{i}}" (click)="selectSubCanvas(i)" style="cursor: pointer; width: 100%;"></canvas>
        </li>
    </ul>
    <ul class="estilo_lista">
        <div *ngIf="isClickSubCanvas == true"  class=""><h1>Subprocesos Estrategicos</h1></div>
        <li class="width-per-{{ancho3}}" *ngFor = "let i = index; let b of arry3; trackBy:trackByFn">
            <canvas attr.id="hCanvas-{{i}}" (click)="selectSubCanvas2(i)" style="cursor: pointer; width: 100%;"></canvas>
        </li>
    </ul>
</div>