.boton_procesar
    width : 100%

.mat-toolbar-multiple-rows
    background: rgba(0,0,0,0);
.display_boton
    display: none;
.pull-right
    text-align: right;
.profile-header
    color: black !important;
    min-height: 50px;
.caja_boton
    padding-top: 10px

.nueva_cuota
    padding: 15px 0px;
    background-color: white;
.estilo_paginator
    z-index: 1;
.estilo_row
    margin-bottom: 0px !important

.texto_derecha
    text-align: left;

.texto_izq
    text-align: right;

.centrar_img
    text-align: center !important;

.img_nofound
    width: 40%

.img_voucher
    width: 40%
    text-align: center !important;
.tamano_icon
    font-size: 20px !important;

.tamano_icon_add
    font-size: 40px !important;
    width: 60px;
.gCenter
    text-align: center !important;
    padding: 5px 7.5px;

.btn-tbl-add
    height: 60px !important
    width: 60px !important;
    background-color: #96a2b4


.list-group-item
    padding: 5px 7.5px;
.caja_checks
    padding-top: 20px
.mat-paginator, .mat-paginator-page-size .mat-select-trigger
    background-color: initial !important;
.estilo_header
    color: white !important
    background:#96a2b4
    padding: 25px 0px;

.color_valor_green
    padding: 5px 8px
    line-height: 12px
    border: 1px solid
    font-weight: 400
    font-size: 13px
    color: #198754 !important;
    display: inline-block;
    text-align: center;
.color_valor_orange
    padding: 5px 8px
    line-height: 12px
    border: 1px solid
    font-weight: 400
    font-size: 13px
    color: orange !important;
    display: inline-block;
    text-align: center;

.color_valor_red
    padding: 5px 8px
    line-height: 12px
    border: 1px solid
    font-weight: 400
    font-size: 13px
    color: red !important;
    display: inline-block;
    text-align: center;
