.boton_opcion{
    background-color: #0E99C1;
    color: white;
}
.tamanio_i{
    font-size: 48px;
}
.chart_est{
    padding: 0.5em 1.5em !important;
}  
.boton_espacio{
    width : 100%;
}
.estilo_btn{
    margin-bottom: 10px;
}
.boton_opcion{
    background-color: #0E99C1;
    color: white;
}
.estilo_txt{
    margin-bottom: 0px !important;
}
.graph-container {
    border: 2px solid #DDDDDD;
    width: 100%;
    height: 370px;
    position: relative;
    justify-content: center;
    align-items: center; 
}

.estilo_btn{
    margin-bottom: 10px;
}
.estilo_card{
    height: 35%
}
.echart-height{
    height: 290px
}
.estilo_input{
    padding-bottom: 0px !important
}