<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <ul class="breadcrumb breadcrumb-style ">
                  <li class="breadcrumb-item">
                    <h4 class="page-title">Excel</h4>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="body">
                            <div class="col-6">
                                <!-- <input id="my-file-selector" type="file" matImput (change)="onFileChange($event)" name="uploadExcel"> -->
                                <mat-form-field class="example-full-width " appearance="outline">
                                  <mat-label>Archivo</mat-label>
                                  <ngx-mat-file-input (change)="onFileChange($event)">
                                  </ngx-mat-file-input>
                                  <mat-icon matSuffix>file</mat-icon>
                                  </mat-form-field>
                            </div>
                        </div>  
                    </div>
                </div>  
            </div>

    </div>
</section>