<div>
    <h2 mat-dialog-title>Pago</h2>
    <div mat-dialog-content>
        <div class="text-inside">
            <form [formGroup]="detalleForm" class="form_width">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 estilo_row">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <input matInput formControlName="nombre" type="text"
                                required autocomplete="off">
                            <mat-icon matSuffix>credit_card</mat-icon>
                             <!-- <mat-error *ngIf="detalleForm.get('dni').hasError('required')">
                                DNI es obligatorio
                            </mat-error> -->
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 estilo_row">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <input matInput formControlName="dni" type="text"
                                required autocomplete="off">
                            <mat-icon matSuffix>credit_card</mat-icon>
                             <!-- <mat-error *ngIf="detalleForm.get('dni').hasError('required')">
                                DNI es obligatorio
                            </mat-error> -->
                        </mat-form-field>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 estilo_row">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <input matInput formControlName="fecha_abono" type="text"
                                 required autocomplete="off">
                            <mat-icon matSuffix>credit_card</mat-icon>
                             <!-- <mat-error *ngIf="detalleForm.get('fecha_abono').hasError('required')">
                                Fecha de abono es obligatorio
                            </mat-error> -->
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 estilo_row">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <input matInput formControlName="id" type="text"
                                required autocomplete="off">
                            <mat-icon matSuffix>credit_card</mat-icon>
                             <!-- <mat-error *ngIf="detalleForm.get('dni').hasError('required')">
                                DNI es obligatorio
                            </mat-error> -->
                        </mat-form-field>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 estilo_row">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <input matInput formControlName="monto" type="text"
                                 required autocomplete="off">
                            <mat-icon matSuffix>credit_card</mat-icon>
                             <!-- <mat-error *ngIf="detalleForm.get('fecha_abono').hasError('required')">
                                Fecha de abono es obligatorio
                            </mat-error> -->
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 estilo_row">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <input matInput formControlName="telefono" type="text"
                                required autocomplete="off">
                            <mat-icon matSuffix>credit_card</mat-icon>
                             <!-- <mat-error *ngIf="detalleForm.get('dni').hasError('required')">
                                DNI es obligatorio
                            </mat-error> -->
                        </mat-form-field>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 estilo_row">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <input matInput formControlName="url" type="text"
                                 required autocomplete="off">
                            <mat-icon matSuffix>credit_card</mat-icon>
                             <!-- <mat-error *ngIf="detalleForm.get('fecha_abono').hasError('required')">
                                Fecha de abono es obligatorio
                            </mat-error> -->
                        </mat-form-field>
                    </div>
                </div>
                <div class="btn-sec contenedor_botones">                
                    <div class="fila_botones">
                        <div class="btn_izquierda">
                            <button type="button" mat-raised-button color="warn" (click)="closeDialog()">Cancelar</button>
                        </div>
                        <div class="btn_derecha">
                            <button class="mr-3" mat-raised-button color="primary" (click)="enviarFormulario()">Guardar</button>
                        </div>
                    </div>                
                </div>
            </form>
        </div>
    </div>
</div>