<ngx-spinner bdColor="rgb(63,69,95,{{opacity}})" size="medium" color="#0af0d5" type="ball-scale-pulse" [fullScreen]="true">
  <!-- <p style="color: white"> </p> -->
  <p style="font-size: 30px;color: lightgrey;">{{message}}</p>
</ngx-spinner>
