<div>
    <h2 mat-dialog-title>{{nombre}}</h2>
    <div mat-dialog-content>
       
        <form [formGroup]="addCusForm" class="form_width">
            <div class="text-inside">
                <mat-form-field class="example-full-width" appearance="outline">
                    <input matInput placeholder="Nombre de universidad" formControlName="nombre" required> 
                    <mat-error *ngIf="addCusForm.controls.nombre.hasError('required')">
                        Ingresa un nombre
                    </mat-error>
                    <mat-error *ngIf="addCusForm.controls.nombre.hasError('pattern')">
                        Ingresa un universidad valida
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="text-inside">
                <mat-form-field class="example-full-width" appearance="outline">
                    <input matInput placeholder="Descripcion" formControlName="descripcion" required> 
                    <mat-error *ngIf="addCusForm.controls.descripcion.hasError('required')">
                        Ingresa una descripcion
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="text-inside">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Pais</mat-label>
                    <mat-select formControlName="pais" required (selectionChange)="selectPais($event.value)">
                      <mat-option *ngFor="let pais of lista_paises" [value]="pais">
                        {{pais.pai_nombre}}
                      </mat-option>
                    </mat-select>
                    <mat-icon matSuffix>travel_explore</mat-icon>
                    <mat-error *ngIf="addCusForm.controls.pais.hasError('required')">
                      Pais es obligatorio
                    </mat-error>
                  </mat-form-field>
            </div>
            
            <div class="btn-sec contenedor_botones">                
                <div class="fila_botones">
                    <div class="btn_izquierda">
                        <button type="button" mat-raised-button color="warn" (click)="closeDialog()">Cancelar</button>
                    </div>
                    <div class="btn_derecha">
                        <button class="mr-3" mat-raised-button color="primary" [disabled]="!addCusForm.valid" (click)="enviarFormulario()">Guardar</button>
                    </div>
                </div>                
            </div>
        </form>
    </div>
</div>
