<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <ul class="breadcrumb breadcrumb-style ">
                  <li class="breadcrumb-item">
                    <h4 class="ventas-title">Pagos Equipo
                    </h4>
                  </li>
                </ul>
              </div>
            </div>
        </div>
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
              <div class="card">
                  <div class="body">
                    <form [formGroup]="formdata">
                      <div class="justify-content-between">
                        <div class="row">
                          <div class="row col-9">
                            <div class="col-4 estilo_row ">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>Vendedor</mat-label>
                                    <mat-select matSelect formControlName="vendedor" (selectionChange)="selectedTipo($event.value)">
                                      <mat-option [value]="0">
                                        Todos
                                      </mat-option>
                                      <mat-option  *ngFor="let vend of lista_vendedores" [value]="vend">
                                        {{vend.usu_nombre}}
                                      </mat-option>
                                    </mat-select>                    
                                    <mat-error *ngIf="formdata.get('vendedor').hasError('required')">
                                        Selecciona un Vendedor
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-4 estilo_row ">
                              <mat-form-field appearance="outline" id="fecha_inicial" >
                                <mat-label>Desde</mat-label>
                                <input matInput [matDatepicker]="picker" formControlName="desde"  [max]="maximo">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                              </mat-form-field>
                            </div>
                            <div class="col-4 estilo_row">
                              <mat-form-field appearance="outline" id="fecha_final">
                                <mat-label>Hasta</mat-label>
                                <input matInput [matDatepicker]="picker2" formControlName="hasta" [max]="maximo"
                                  (dateChange)="EndDateChange($event)">
                                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                <mat-datepicker #picker2></mat-datepicker>
                              </mat-form-field>
                            </div>
                          </div>

                          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 estilo_row">
                          <div class="boton_busqueda">
                            <button mat-raised-button class="boton_opcion"
                            (click)="filtrarByFechas()">
                            <mat-icon class="col-white icono_clase">search
                            </mat-icon>
                            </button>
                          </div>                          
                        </div>
                      </div> 
                      </div>
                       
                    </form>  
                  </div>
              </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <div class="card h-100">
              <div class="card-body">
                <div class="task-module paginador">
                  <div class="row">
                    <div class="col-md-12 col-sm-12">                    
                          <div class="materialTableHeader clase_cabecera">
                            <div class="row">
                              <div class="col-8">
                                <ul class="header-buttons-left ml-0">                                
                                  <li class="dropdown m-l-20">                                 
                                    <label for="search-input"><i class="material-icons search-icon">search</i></label>
                                    <input [(ngModel)]=txtNuevo placeholder="Buscar" type="text" #filter (keyup)="applyFilter($event.target.value)" class="browser-default search-field"
                                      aria-label="Search box">
                                  </li>                                 
                                </ul>
                              </div> 
                              <div class="col-4">                                
                                <ul class="header-buttons">                                
                                  <!-- <li>
                                    <div class="icon-button-demo">
                                      <button mat-mini-fab class="boton_opcion" (click)="filtrarByFechas()">
                                        <mat-icon class="col-white">refresh
                                        </mat-icon>
                                      </button>
                                    </div>
                                  </li> -->
                                  <!-- <li> 
                                    <div class="icon-button-demo">
                                      <button mat-mini-fab class="btn_opcion" (click)="downloadFileExcel()">
                                        <mat-icon class="col-white">file_download
                                        </mat-icon>
                                      </button>
                                    </div>
                                  </li>                            -->
                                </ul>
                              </div>                                                         
                            </div>                          
                          </div>                     
                          <mat-table #table [dataSource]="DSlistaPagosPendientes" matSort (matSortChange)="sortData($event)" class="mat-cell" >                                                      
                            <!-- [ngClass]="{'inactivo':row.pro_activo=='N'}" -->
                            <ng-container matColumnDef="infoPago">
                              <mat-header-cell *matHeaderCellDef>
                              </mat-header-cell>
                              <mat-cell *matCellDef="let row; let i = index" >
                                <div class="">
                                  <span aria-hidden="true" (click)="detallePendiente(row,i)"><i class="material-icons color_icono">zoom_out_map</i></span>
                             
                                </div>
                              </mat-cell>
                              </ng-container>
                              <ng-container matColumnDef="fecha">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Fecha
                                </mat-header-cell>
                                <mat-cell *matCellDef="let row" >{{row.pag_fecha_abono}}
                                </mat-cell>                                               
                              </ng-container>  
                              <ng-container matColumnDef="vendedor">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Vendedor
                                </mat-header-cell>
                                <mat-cell *matCellDef="let row" >{{row.usu_vendedor}}
                                </mat-cell>
                              </ng-container>
                              <ng-container matColumnDef="nombre">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre
                                </mat-header-cell>
                                <mat-cell *matCellDef="let row" > {{row.pag_nombre}}
                                </mat-cell>
                              </ng-container>
                              <ng-container matColumnDef="dni">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>DNI
                                </mat-header-cell>
                                <mat-cell *matCellDef="let row" >{{row.pag_dni}}  
                                </mat-cell>
                              </ng-container>
                              <ng-container matColumnDef="telefono">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Telefono
                                </mat-header-cell>
                                <mat-cell *matCellDef="let row" >{{row.pag_telefono}}
                                </mat-cell>
                              </ng-container>
                              
                              <ng-container matColumnDef="programa">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Programa
                                </mat-header-cell>
                                <mat-cell *matCellDef="let row" >{{row.pro_nombre}}
                                </mat-cell>                                               
                              </ng-container>  
                              <ng-container matColumnDef="curso">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Curso
                                </mat-header-cell>
                                <mat-cell *matCellDef="let row" >{{row.cur_nombre}}
                                </mat-cell>                                               
                              </ng-container>  
                            <mat-header-row *matHeaderRowDef="displayedColumns">
                            </mat-header-row>
                            
                            <mat-row *matRowDef="let row; columns: displayedColumns;"
                              [style.cursor]="'pointer'">
                            </mat-row>
                          </mat-table>
                          <mat-paginator #paginator [pageIndex]="0"
                                    [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
                          </mat-paginator> 
                          <!-- <button mat-raised-button (click)="exporter.exportTable('xlsx', {fileName:'test', sheet: 'sheet_name', Props: {Author: 'Talha'},hiddenColumns:[]})">Excel</button>
                          <button mat-raised-button (click)="generarReporte()">Generar Reporte</button> -->
                    </div>
                  </div>   
  
                </div>
                
              </div>
            </div>
          </div>
        </div>
    </div>
  </section>