
.btn-sec
    text-align: center; 
.mr-3
    margin: 0 0 0 25px;

.estilo_close
    cursor: pointer;
    
.img_voucher
    width: 100%;
    text-align: center; 
.img_voucher_nofound
    width: 20%;
.estilo_img
    text-align: center; 
    margin: 15px 0px;
.title_popup
    text-align: center; 
    padding-left: 70px; 

.estilo_img
    text-align: center


    
