<div class="container">
    <div class="row">
        <div class="col-10 estilo_title">
            <h2 mat-dialog-title class="title_popup">{{accion}} Usuario</h2>
        </div>
        <div class="col-2 estilo_close" (click)="closeDialog()">
            <mat-icon matSuffix>close</mat-icon>
        </div>
    </div>
    <div mat-dialog-content>
        <form [formGroup]="formUsuario" (ngSubmit)="onSubmitClick()">
            <div class="container" >
                <div class="row">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 estilo_row">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Usuario</mat-label>
                          <mat-select formControlName="usuario" required (selectionChange)="selectUsuario($event.value)">
                              <mat-option *ngFor="let usu of lista_usuarios" [value]="usu">
                              {{usu.usu_usuario}}
                              </mat-option>
                          </mat-select>
                          <!-- <mat-icon matSuffix>account_balance</mat-icon> -->
                          <mat-error *ngIf="formUsuario.get('usuario').hasError('required')">
                            Usuario es obligatorio
                          </mat-error>                        
                  </mat-form-field>
                    <!-- <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Usuario</mat-label>
                      <mat-select matSelect formControlName="usuario" (selectionChange)="selectUsuario($event.value)">
                        <mat-option  *ngFor="let usu of lista_usuarios" value="usu">
                          {{usu.usu_nombre}}
                        </mat-option>
                      </mat-select>                    
                      <mat-error *ngIf="formUsuario.get('usuario').hasError('required')">
                          Selecciona un usuario
                      </mat-error>
                    </mat-form-field> -->
                  </div>
                </div>
            </div>
            <div class="btn-sec">                
                <button type="button" mat-button (click)="closeDialog()">Cancelar</button>
                <button class="mr-3" mat-raised-button color="primary" [disabled]="" >Guardar</button>
            </div>
        </form>
    </div>
</div>