<h2 mat-dialog-title>¿Desea comenzar el proceso?</h2>
<div mat-dialog-content>
    <div class="text-inside">
        <form [formGroup]="procesarForm" class="form_width">
            <mat-form-field class="example-full-width form_campo" appearance="outline">
                <mat-label>Usuario</mat-label>
                <input matInput placeholder="Usuario" formControlName="usuario" required autocomplete="off">
                <mat-error *ngIf="procesarForm.controls.usuario.hasError('required')">
                    Usuario es obligatorio
                </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width form_campo" appearance="outline">
                <mat-label>Clave</mat-label>
                <input matInput placeholder="Clave" formControlName="clave" required autocomplete="off">
                <mat-error *ngIf="procesarForm.controls.clave.hasError('required')">
                    Clave es obligatorio
                </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width form_campo" appearance="outline">
                <mat-label>Correo</mat-label>
                <input matInput placeholder="Correo" formControlName="correo" required autocomplete="off">
                <mat-error *ngIf="procesarForm.controls.correo.hasError('required')">
                    Correo es obligatorio
                </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width form_campo" appearance="outline">
                <mat-label>Nombres</mat-label>
                <input matInput placeholder="Nombres" formControlName="nombres" required autocomplete="off">
                <mat-error *ngIf="procesarForm.controls.nombres.hasError('required')">
                    Nombres son obligatorios
                </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width form_campo" appearance="outline">
                <mat-label>Programa</mat-label>
                <input matInput placeholder="Programa" formControlName="programa" required autocomplete="off">
                <mat-error *ngIf="procesarForm.controls.programa.hasError('required')">
                    Programa es obligatorio
                </mat-error>
            </mat-form-field>

            <div class="btn-sec contenedor_botones">
                <div class="fila_botones">
                    <div class="btn_izquierda">
                        <button type="button" mat-raised-button color="warn" (click)="closeDialog()">Cancelar</button>
                    </div>
                    <div class="btn_derecha">
                        <button class="mr-3" mat-raised-button color="primary"
                            (click)="enviarFormulario()">Guardar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>