.breadcrumb .page-title
    border-right : none !important

.estilo_row
    margin-bottom: 0px !important

#fecha_inicial
    width : 100% !important

#fecha_final
    width : 100% !important

.opciones_estilos
    justify-content: flex-end


.boton_opcion
    background-color:#0E99C1
    color: white
    width : 100%

.fila_botones
    padding-top : 10px

.clase_opciones
    width : 100%
    display : flex
    align-content: center
    justify-content: space-between
    padding-top: 7px
    padding-left: 15px
    padding-right: 15px