<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Dashboard Caja</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/admin/dashboard/main">
                <i class="fas fa-home"></i> Home</a>
            </li>
            <li class="breadcrumb-item active">Dashboard</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Widgets -->
    <div class="row ">
      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12 pb-3">
        <div class="card">
          <div class="card-statistic-4 pb-4">
            <div class="align-items-center justify-content-between">
              <div class="row ">
                <div class="col-12 card-spacing">
                  <div class="card-content">
                    <form [formGroup]="formSearch" >
                      <div class="col-12">
                        <p class="estilo_txt">Desde</p>
                        <mat-form-field class="col-12" style="padding:0px" appearance="outline" id="fecha_inicial">
                          <mat-label>Desde</mat-label>
                          <input matInput [matDatepicker]="picker" [max]="date_hoy" formControlName="desde">
                          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                          <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                      </div> 
                      <div class="col-12">
                        <p class="estilo_txt">Hasta</p>
                        <mat-form-field class="col-12" style="padding:0px" appearance="outline" id="fecha_final">
                          <mat-label>Hasta</mat-label>
                          <input matInput [matDatepicker]="picker2" [max]="date_hoy" formControlName="hasta"
                            (dateChange)="EndDateChange($event)">
                          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                          <mat-datepicker #picker2></mat-datepicker>
                        </mat-form-field>
                      </div>
                      <div class="col-12">
                        <div class="estilo_btn">
                          <button mat-raised-button class="boton_opcion boton_espacio"
                          (click)="realizarBusqueda2()"
                            >
                          <mat-icon class="col-white icono_clase">search
                          </mat-icon>
                          </button>
                        </div>
                        <div class="estilo_btn">
                          <button mat-raised-button class="boton_opcion boton_espacio"
                          (click)="downloadExcel_e_v()"
                            >
                          <mat-icon class="col-white icono_clase">download
                          </mat-icon>
                          </button>
                        </div>
                      </div>
                    </form>
                   
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 estilo_card">
          <div class="card ">
            <div class="card-statistic-4">
              <div class="align-items-center ">
                <div class="row ">
                  <div class="col-8 card-spacing">
                    <div class="card-content">
                      <h5 class="font-15"> Total Ventas</h5>
                      <h2 class="mb-3 font-26">s/. {{infoCard?.total_anio | number: '1.0-0' || ''}}</h2>                      
                    </div>
                  </div>  
                  <div class="col-4 card-spacing">
                    <div class="banner-img">
                      <i class="fas fa-coins tamanio_i"></i>
                    </div>
                  </div>               
                </div>
              </div>
            </div>
          </div>
        </div>      
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="card">
            <div class="card-statistic-4">
              <form [formGroup]="formAnio">
                <div class="col-12">
                  <mat-form-field class="example-full-width estilo_input" appearance="outline">
                    <mat-label>Año</mat-label>
                    <mat-select matSelect formControlName="anios" (selectionChange)="selectAnio($event.value)">
                      <mat-option  *ngFor="let anio of anios_lista" [value]="anio">
                        {{anio.anio_nombre}}
                      </mat-option>
                    </mat-select>                    
                  </mat-form-field>
                </div>
                <div class="col-12">
                  <div class="estilo_btn">
                    <button mat-raised-button class="boton_opcion boton_espacio"
                    (click)="busquedaAnio()">
                    <mat-icon class="col-white icono_clase">search
                    </mat-icon>
                    </button>
                  </div>
                  <div class="estilo_btn">
                    <button mat-raised-button class="boton_opcion boton_espacio"
                    (click)="downloadExcel_anio()">
                    <mat-icon class="col-white icono_clase">download
                    </mat-icon>
                    </button>
                  </div>
                </div>
             </form>
          </div>
          </div>
        </div>
      </div>
      <div class="row col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <div class="card">
            <div class="header">
              <h2>Ventas Anuales</h2>
            </div>
            <div class="chart_est">          
              <div echarts [options]="line_bar_chart" class="echart-height"></div>
            </div>
            </div>
        </div>
      </div>
    </div>
    <!-- #END# Widgets -->
    <div class="row col-12">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
        <div class="card">
          <div class="header">
            <h2>
              Venta Actuales Vendedores</h2>
          </div>
          <div class="chart_est" >           
            <!-- <apx-chart [series]="areaChartOptions.series" [chart]="areaChartOptions.chart"
              [xaxis]="areaChartOptions.xaxis" [yaxis]="areaChartOptions.yaxis" [colors]="areaChartOptions.colors"
              [stroke]="areaChartOptions.stroke" [legend]="areaChartOptions.legend" [tooltip]="areaChartOptions.tooltip"
              [dataLabels]="areaChartOptions.dataLabels"></apx-chart> -->
              <div echarts [options]="vendedor_mes" [ngStyle]="{'height' : this.altura+'px'}"></div>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
        <div class="card">
          <div class="header">
            <h2>
              Venta Actuales Embajadores</h2>
          </div>
          <div class="chart_est" >           
              <div echarts [options]="embajador_mes"></div>
          </div>
        </div>
      </div>
    </div>
   
    
   
  </div>
</section>
