<div>
    <h2 mat-dialog-title>{{nombre}}</h2>
    <div mat-dialog-content>
       
        <form [formGroup]="addCusForm" class="form_width">
            <div class="text-inside">
                <mat-form-field class="example-full-width" appearance="outline">
                    <input matInput placeholder="First Name" formControlName="nombre" required> 
                    <mat-error *ngIf="addCusForm.controls.nombre.hasError('required')">
                        Ingresa un nombre
                    </mat-error>
                    <mat-error *ngIf="addCusForm.controls.nombre.hasError('pattern')">
                        Ingresa un banco valido
                    </mat-error>
                </mat-form-field>
            </div>
            
            <div class="btn-sec contenedor_botones">                
                <div class="fila_botones">
                    <div class="btn_izquierda">
                        <button type="button" mat-raised-button color="warn" (click)="closeDialog()">Cancelar</button>
                    </div>
                    <div class="btn_derecha">
                        <button class="mr-3" mat-raised-button color="primary" [disabled]="!addCusForm.valid" (click)="enviarFormulario()">Guardar</button>
                    </div>
                </div>                
            </div>
        </form>
    </div>
</div>
