.fondo_page
    background-image : url('/assets/images/fondo.jpg')
    background-repeat: no-repeat
    background-attachment: fixed
    background-position: center center
    background-size: cover
    min-height: 100vh
    justify-content: center
    align-items: center
    vertical-align: middle
    padding-top: 50px
    


.noArts
    width: unset !important
    padding-top : 20px
    padding-bottom : 20px

.imagen_register
    width : 300px
    height : 75px

.centrador
    text-align : center

.titulo
    padding-top : 10px

.programa_completo
    background-color : red

.fondo_azul
    background-color: blue

.fondo_rojo
    background-color: red

.centrador
    text-align :center

.clase_cuerpo
    padding-top : 10px
    padding-right : 10px
    padding-left : 10px