<section class="content">
    <div class="container-fluid">
        <div class="block-header">
        <div class="row">
            <div class="col-xs-8 col-sm-6 col-md-6 col-lg-9">
                <ul class="breadcrumb breadcrumb-style ">
                    <li class="breadcrumb-item">
                        <h4 class="page-title">Detalle Usuario</h4>
                    </li>
                </ul>
          </div>
          <div class="col-xs-4 col-sm-6 col-md-6 col-lg-3 estile_paginator" layout-align="end center">
              <mat-toolbar>
                  <mat-toolbar-row>
                    <mat-paginator #paginador style-paginator showFirstLastButtons          
                          [length]="length"
                          [pageIndex]="pageIndex"           
                          [pageSize] = pageSize
                          [hidePageSize]= true
                          (page)="pageEvent = getServerData($event)">
                      </mat-paginator>
                      <mat-icon style="cursor:pointer;color: red;"(click)="cerrarDetalle()" >close</mat-icon>
                  </mat-toolbar-row>
                </mat-toolbar>
          </div>
        </div>
      </div>
  
      <div class="row clearfix">
        <div class="col-lg-4 col-md-12">
          <div class="card">
            <div class="m-b-20">
              <div class="contact-grid">
                <div class="profile-header bg-dark estilo_row_h">
                  <div class="user-name">{{rowUsu?.usu_nombre || ''}}</div>
                  <div class="name-center">Nombre</div>
                </div>
               <img *ngIf="rowUsu?.usu_foto != null || rowUsu?.usu_foto != ''" src="{{rowUsu?.usu_foto}}" class="user-img" alt=""> 
                <img *ngIf="rowUsu?.usu_foto == null || rowUsu?.usu_foto == ''" src="/assets/images/sin_imagen.png" class="user-img" alt="">
                <div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 estilo_row">
                    <small class="text-muted">Usuario: </small>
                    <p>{{rowUsu?.usu_usuario || ''}}</p>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                    <small class="text-muted"> Email: </small>
                    <p>{{rowUsu?.usu_email || ''}}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                      <small class="text-muted"> Email: </small>
                      <p>{{rowUsu?.usu_email || ''}}</p>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                    <small class="text-muted"> Telefono: </small>
                    <p>{{rowUsu?.usu_telefono || ''}}</p>
                </div>
              </div>  
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                    <small class="text-muted"> Codigo: </small>
                    <p>{{rowUsu?.usu_codigo || ''}}</p>
                </div>
                <!-- <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                  <small class="text-muted"> Telefono: </small>
                  <p>{{rowUsu?.usu_telefono || ''}}</p>
              </div> -->
            </div>  
              </div>
              <div class="container text-center">
                <div class="btn btn-primary" (click)="editarInfoUsu()">
                  Editar
                </div>
              </div>
              
            </div>
          </div>
        </div>
      
       <div class="col-lg-8 col-md-12" >
           <div class="card">
               <mat-tab-group>
                   <!-- <mat-tab >
                       <ng-template mat-tab-label>
                           <mat-icon class="example-tab-icon mr-2">paid
                           </mat-icon>Roles
                       </ng-template>
                       <div class="col-lg-12 col-md-12 col-sm-12 pt-25" >
                          <mat-table #table [dataSource]="dataSource_locales_totales" matSort (matSortChange)="sortData($event)" class="mat-cell" id="tabla_total">                                                      
                              <ng-container matColumnDef="rol">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre 
                                </mat-header-cell>
                                <mat-cell *matCellDef="let row" [ngClass]="{'inactivo':row.usu_activo=='N'}">{{row.usu_nombre}}                                                      
                                </mat-cell>
                              </ng-container>                                                                                                      
                              <ng-container matColumnDef="acciones">
                                <mat-header-cell *matHeaderCellDef>Acciones
                                </mat-header-cell>
                                <mat-cell *matCellDef="let row;let i = index">                                
                                  <div class="acciones_locales" (click)="editUser(row)"><mat-icon class="col-black">edit</mat-icon></div> 
                                  <div class="acciones_locales" (click)="ocultarRow(row)"><mat-icon class="col-black">visibility</mat-icon></div>                                                                                                                                                                                                
                                </mat-cell>    
                              </ng-container>                    
                              <mat-header-row *matHeaderRowDef="displayedColumns">
                              </mat-header-row>                            
                              <mat-row *matRowDef="let row; columns: displayedColumns;"
                                [style.cursor]="'pointer'">
                              </mat-row>
                            </mat-table>
                              <mat-paginator #paginator2 [pageIndex]="0"
                              [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
                              </mat-paginator> 
                       </div>                    
                   </mat-tab> -->
                   <mat-tab >
                      <ng-template mat-tab-label>
                          <mat-icon class="example-tab-icon mr-2">paid
                          </mat-icon>Metas
                      </ng-template>
                       <div class="col-lg-12 col-md-12 col-sm-12 pt-2"> 
                            <div class="materialTableHeader clase_cabecera">
                              <div class="row">
                                <div class="col-8">
                                  <ul class="header-buttons-left ml-0">                                
                                    <li class="dropdown m-l-20">                                 
                                      <label for="search-input"><i class="material-icons search-icon">search</i></label>
                                      <input [(ngModel)]=txtNuevo placeholder="Buscar" type="text" #filter (keyup)="applyFilter($event.target.value)" class="browser-default search-field"
                                        aria-label="Search box">
                                    </li>
                                  </ul>
                                </div> 
                                <div class="col-4">                                
                                  <ul class="header-buttons">  
                                      <li>
                                          <div class="icon-button-demo">
                                            <button mat-mini-fab class="boton_opcion" (click)="addtable()">
                                              <mat-icon class="col-white">add
                                              </mat-icon>
                                            </button>
                                          </div>
                                        </li>                               
                                    <li>
                                      <div class="icon-button-demo">
                                        <button mat-mini-fab class="boton_opcion" (click)="actualizarLista()">
                                          <mat-icon class="col-white">refresh
                                          </mat-icon>
                                        </button>
                                      </div>
                                    </li>                            
                                  </ul>
                                </div>                                                         
                              </div>                          
                          </div>
                            <mat-table #table [dataSource]="dataSource_locales_meta" matSort (matSortChange)="sortData2($event)" class="mat-cell" id="tabla_total">                                                      
                              <ng-container matColumnDef="mes">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Mes 
                                </mat-header-cell>
                                <mat-cell *matCellDef="let row" [ngClass]="{'inactivo':row.usu_activo=='N'}">{{row.mes_nombre}}                                                      
                                </mat-cell>
                              </ng-container>   
                              <ng-container matColumnDef="anio">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Año 
                                </mat-header-cell>
                                <mat-cell *matCellDef="let row" [ngClass]="{'inactivo':row.usu_activo=='N'}">{{row.anio_nombre}}                                                      
                                </mat-cell>
                              </ng-container>   
                              <ng-container matColumnDef="valor">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Valor 
                                </mat-header-cell>
                                <mat-cell *matCellDef="let row" [ngClass]="{'inactivo':row.usu_activo=='N'}">{{row.met_meta}}                                                      
                                </mat-cell>
                              </ng-container>                                                                                                      
                              <ng-container matColumnDef="acciones">
                                <mat-header-cell *matHeaderCellDef>Acciones
                                </mat-header-cell>
                                <mat-cell *matCellDef="let row;let i = index">                                
                                  <div class="acciones_locales" (click)="deleteMeta(row)"><mat-icon class="col-black">delete</mat-icon></div>                                                                            
                                </mat-cell>    
                              </ng-container>                    
                              <mat-header-row *matHeaderRowDef="displayedColumns2">
                              </mat-header-row>                            
                              <mat-row *matRowDef="let row; columns: displayedColumns2;"
                                [style.cursor]="'pointer'">
                              </mat-row>
                            </mat-table>
                              <mat-paginator #paginator3 [pageIndex]="0"
                              [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
                              </mat-paginator> 
                      </div> 
                   </mat-tab>                 
               </mat-tab-group>
           </div>
       </div>
      </div>
    </div>
  </section>