
.estile_paginator
    text-align:right !important

.pull-right
    text-align: right;
.profile-header 
  min-height: 150px;
  color: #fff;



.estilo_row
    margin-bottom: 0px !important

.tamano_icon
    font-size: 20px !important;
    
.tamano_icon_add
    font-size: 40px !important;
    width: 60px;
.gCenter
    text-align: center !important;
    padding: 5px 7.5px;

.btn-tbl-add
    height: 60px !important
    width: 60px !important;
    background-color: #96a2b4


.list-group-item    
    padding: 5px 7.5px;
.caja_checks
    padding-top: 20px
.mat-paginator, .mat-paginator-page-size .mat-select-trigger
    background-color: initial !important;
.estilo_row_h
    padding: 15px 0px
.estilo_header
    color: white !important
    background:#96a2b4
    padding: 25px 0px;
.mat-toolbar-multiple-rows
    background: rgba(0,0,0,0);
.color_valor_green
    padding: 5px 8px
    line-height: 12px
    border: 1px solid
    font-weight: 400
    font-size: 13px
    color: #198754 !important;
    display: inline-block;
    text-align: center;
.color_valor_orange
    padding: 5px 8px
    line-height: 12px
    border: 1px solid
    font-weight: 400
    font-size: 13px
    color: orange !important;
    display: inline-block;
    text-align: center;

.color_valor_red
    padding: 5px 8px
    line-height: 12px
    border: 1px solid
    font-weight: 400
    font-size: 13px
    color: red !important;
    display: inline-block;
    text-align: center;