<div class="mainBG fondo_page">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-6 col-md-10 col-sm-10"> 
                    <div class="row justify-content-center">
                        <div class="col-12">
                            <div class="card">                    
                                <div class="body">
                                    <div class="row justify-content-center">
                                        <div class="col-12 centrador">
                                            <img src="/assets/images/infox_logo.png"  class="imagen_register" alt="">
                                        </div>
                        
                                        <div class="titulo centrador">
                                            <h2>CONSULTAR </h2>                        
                                        </div>
                                    </div>
                
                                    <div class="row clase_cuerpo">    
                                        <div class="col-12">
                                            <form [formGroup]="validarForm">                                                                                                       
                                                <div class="row justify-content-center">
                                                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                                        <mat-form-field class="example-full-width" appearance="outline">
                                                            <mat-label>DNI</mat-label>
                                                            <input matInput formControlName="dni" required autocomplete="off" type="number">
                                                            <mat-icon matSuffix>credit_card</mat-icon>
                                                            <mat-error *ngIf="validarForm.get('dni').hasError('required')">
                                                                DNI es requerido
                                                            </mat-error>
                                                        </mat-form-field>
                                                    </div>                                                    
                                                </div>
                                            
                                                <div class="row">
                                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 centrador">
                                                        <button  mat-raised-button
                                                            (click)="enviarFormulario()" color="primary">Consultar</button>
                                                        <!-- <button type="button" mat-button>Cancel</button> -->
                                                    </div>
                                                </div>
                                            </form>
                                        </div>                                                                    
                                    </div>                    
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    
                </div>
            </div>
        </div>        
</div>