<section class="content">
    <div class="container-fluid">
      <div class="block-header">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="breadcrumb breadcrumb-style ">
              <li class="breadcrumb-item">
                <h4 class="page-title"> Pago
                </h4>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="card h-100">
            <div class="card-body">              
                <form [formGroup]="pagoForm" class="form_width">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 estilo_row">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Nombre</mat-label>
                                <input matInput placeholder="Nombre" formControlName="nombre" required autocomplete="off"> 
                                <mat-error *ngIf="pagoForm.controls.nombre.hasError('required')">
                                    Ingresa nombre
                                </mat-error>
                            </mat-form-field> 
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 estilo_row">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>DNI</mat-label>
                                <input matInput placeholder="DNI" formControlName="dni" required autocomplete="off"> 
                                <mat-error *ngIf="pagoForm.controls.dni.hasError('required')">
                                    Ingresa codigo de DNI
                                </mat-error>
                            </mat-form-field> 
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 estilo_row">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Telefono</mat-label>
                                <input matInput placeholder="Representante" formControlName="telefono" required autocomplete="off"> 
                                <mat-error *ngIf="pagoForm.controls.telefono.hasError('required')">
                                    Ingresa Telefono
                                </mat-error>
                            </mat-form-field> 
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Correo</mat-label>
                                <input matInput placeholder="Correo" formControlName="correo" required autocomplete="off"> 
                                <mat-error *ngIf="pagoForm.controls.correo.hasError('required')">
                                    Ingresa Correo
                                </mat-error>
                            </mat-form-field> 

                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                            <div class="caja_checks">
                                <mat-checkbox class="example-margin" formControlName="activo">Activo</mat-checkbox>
                                <mat-checkbox class="example-margin" formControlName="matriculado">Matriculado</mat-checkbox>
                            </div>
                            
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Universidad</mat-label>
                                <mat-select matSelect formControlName="universidad">
                                  <mat-option  *ngFor="let uni of universidades_lista" [value]="uni">
                                    {{uni.uni_nombre}}
                                  </mat-option>
                                </mat-select>                    
                                <mat-error *ngIf="pagoForm.get('universidad').hasError('required')">
                                    Selecciona una Universidad
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Otros</mat-label>
                                <input matInput placeholder="Otros" formControlName="otros" required autocomplete="off"> 
                                <mat-error *ngIf="pagoForm.controls.otros.hasError('required')">
                                    Ingresa Otros
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Programa</mat-label>
                                <mat-select matSelect formControlName="programa">
                                  <mat-option  *ngFor="let pro of programas_lista" [value]="pro">
                                    {{pro.pro_nombre}}
                                  </mat-option>
                                </mat-select>                    
                                <mat-error *ngIf="pagoForm.get('programa').hasError('required')">
                                    Selecciona un Programa
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Curso</mat-label>
                                <input matInput placeholder="Curso" formControlName="curso" required autocomplete="off"> 
                                <mat-error *ngIf="pagoForm.controls.curso.hasError('required')">
                                    Ingresa Codigo promocional
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>País</mat-label>
                                <mat-select matSelect formControlName="programa">
                                  <mat-option  *ngFor="let pro of programas_lista" [value]="pro">
                                    {{pro.pro_nombre}}
                                  </mat-option>
                                </mat-select>                    
                                <mat-error *ngIf="pagoForm.get('programa').hasError('required')">
                                    Selecciona un País
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                            <mat-form-field class="example-full-width form_campo" appearance="outline">
                                <mat-label>Inicio Curso</mat-label>
                                <input matInput [matDatepicker]="picker2" formControlName="inicio_curso" readonly>
                                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                <mat-datepicker #picker2></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Descripción</mat-label>
                                <input matInput placeholder="Descripción" formControlName="descripcionCombo" required autocomplete="off"> 
                                <mat-error *ngIf="pagoForm.controls.descripcionCombo.hasError('required')">
                                    Descripción es Obligatorio
                                </mat-error>
                            </mat-form-field> 
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Representante</mat-label>
                                <input matInput placeholder="Representante" formControlName="representante" required autocomplete="off"> 
                                <mat-error *ngIf="pagoForm.controls.representante.hasError('required')">
                                    Ingresa Representante
                                </mat-error>
                            </mat-form-field> 
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 caja_boton">
                            <button type="button" mat-raised-button class="mr-3 boton_procesar" color="accent" (click)="procesar()">Procesar</button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Vendedor</mat-label>
                                <mat-select matSelect formControlName="vendedor">
                                  <mat-option  *ngFor="let vendedor of vendedores_lista" [value]="vendedor">
                                    {{vendedor.ven_nombre}}
                                  </mat-option>
                                </mat-select>                    
                                <mat-error *ngIf="pagoForm.get('vendedor').hasError('required')">
                                    Selecciona un curso
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Codigo Promocional</mat-label>
                                <input matInput placeholder="Codigo" formControlName="codigo_promocional" required autocomplete="off"> 
                                <mat-error *ngIf="pagoForm.controls.codigo_promocional.hasError('required')">
                                    Ingresa Codigo promocional
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">                        
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">                            
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Usuario</mat-label>
                                <input matInput placeholder="Representante" formControlName="usuario" required autocomplete="off"> 
                                <mat-error *ngIf="pagoForm.controls.usuario.hasError('required')">
                                    Ingresa Usuario
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Clave</mat-label>
                                <input matInput placeholder="Clave" formControlName="clave" required autocomplete="off"> 
                                <mat-error *ngIf="pagoForm.controls.clave.hasError('required')">
                                    Ingresa Clave
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Banco</mat-label>
                                <mat-select matSelect formControlName="banco">
                                  <mat-option  *ngFor="let banco of bancos_lista" [value]="banco">
                                    {{banco.ban_nombre}}
                                  </mat-option>
                                </mat-select>                    
                                <mat-error *ngIf="pagoForm.get('banco').hasError('required')">
                                    Selecciona una Banco
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Número Operación</mat-label>
                                <input matInput placeholder="Número" formControlName="numero" required autocomplete="off"> 
                                <mat-error *ngIf="pagoForm.controls.numero.hasError('required')">
                                    Ingresa Clave
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Monto Abonado</mat-label>
                                <input matInput placeholder="Monto" formControlName="monto" required autocomplete="off"> 
                                <mat-error *ngIf="pagoForm.controls.monto.hasError('required')">
                                    Ingresa Monto
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                            <mat-form-field class="example-full-width form_campo" appearance="outline">
                                <mat-label>Fecha</mat-label>
                                <input matInput [matDatepicker]="picker" formControlName="fecha" readonly>
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">                            
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Modo</mat-label>
                                <mat-select matSelect formControlName="modo">
                                  <mat-option  *ngFor="let modo of modos_lista" [value]="modo">
                                    {{modo.mod_nombre}}
                                  </mat-option>
                                </mat-select>                    
                                <mat-error *ngIf="pagoForm.get('modo').hasError('required')">
                                    Selecciona un modo de pago
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">                            
                            <!-- <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Imagen URL</mat-label>
                                <input matInput placeholder="Imagen" formControlName="image_url" required autocomplete="off"> 
                                <mat-icon matSuffix>image</mat-icon>
                                <mat-error *ngIf="pagoForm.controls.image_url.hasError('required')">
                                    Ingresa una url de imagen
                                </mat-error>
                            </mat-form-field> -->

                            <mat-form-field class="example-full-width mb-3" appearance="outline">
                                <mat-label>Voucher Imagen</mat-label>
                                <ngx-mat-file-input formControlName="image_url">
                                </ngx-mat-file-input>
                                <mat-icon matSuffix>image</mat-icon>
                            </mat-form-field>

                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                            <button mat-raised-button color="warn" (click)="volver()">Cancelar</button>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                            <button type="submit" class="mr-3" mat-raised-button color="primary" (click)="enviarFormulario()">Guardar</button>
                        </div>
                    </div>                   
                </form>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>