.breadcrumb .page-title
    border-right : none !important

.boton_procesar
    width : 100%

.caja_boton
    padding-top: 10px

.caja_checks
    display: flex
    width: 100%
    justify-content: space-around
    padding-top: 11px

.estilo_row
    margin-bottom: 0px !important