<div>
    <h2 mat-dialog-title>{{nombre_modal}}</h2>
    <div mat-dialog-content>
      <div class="container">
        <form [formGroup]="programaForm">
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 estilo_row">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Programa</mat-label>
                <input matInput formControlName="programa" required autocomplete="off">
                <mat-error *ngIf="programaForm.get('programa').hasError('required')">
                  Nombre de programa requerido
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 estilo_row">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Descripcion</mat-label>
                <input matInput formControlName="descripcion" required autocomplete="off">
                <mat-error *ngIf="programaForm.get('descripcion').hasError('required')">
                  Decripcion del programa
                </mat-error>
              </mat-form-field>
            </div>
          

            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 estilo_row">
              <mat-checkbox class="px-2" [checked]="isMes1" (change)="changeStatus($event)" value="1m">1 M</mat-checkbox>
              <mat-checkbox class="px-2" [checked]="isMes3" (change)="changeStatus($event)" value="3m">3 M</mat-checkbox>
              <mat-checkbox class="px-2" [checked]="isMes6" (change)="changeStatus($event)" value="6m">6 M</mat-checkbox>
              <mat-checkbox class="px-2" [checked]="isMes12" (change)="changeStatus($event)" value="12m">12 M</mat-checkbox>
            </div>

            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 estilo_row">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Tipo</mat-label>
                <mat-select formControlName="tipo" required (selectionChange)="selectPrograma($event.value)">
                  <mat-option *ngFor="let tipo of tipo_programa" [value]="tipo">
                    {{tipo.nombre}}
                  </mat-option>
                </mat-select>
                <mat-icon matSuffix>account_balance</mat-icon>
                <mat-error *ngIf="programaForm.get('tipo').hasError('required')">
                  Tipo de programa es obligatorio
                </mat-error>
              </mat-form-field>
            </div>
            <div *ngIf="isCombo==true"class="col-xl-12 col-lg-12 col-md-12 col-sm-12 estilo_row">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Cantidad de cursos</mat-label>
                <input type="number" matInput formControlName="cantidad" required autocomplete="off">
                <mat-error *ngIf="programaForm.get('cantidad').hasError('required')">
                  Ingrese una cantidad
                </mat-error>
              </mat-form-field>
            </div>
          </div> 

        </form>
      </div>
        

        <div class="btn-sec contenedor_botones">                
            <div class="fila_botones">
                <div class="btn_izquierda">
                    <button type="button" mat-raised-button color="warn" (click)="closeDialog()">Cancelar</button>
                </div>
                <div class="btn_derecha">
                    <button class="mr-3" mat-raised-button color="primary" (click)="enviarFormulario()">Guardar</button>
                </div>
            </div>                
        </div>

    </div>
</div>