<section class="content">
    <div class="container-fluid">
      <div class="block-header">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="breadcrumb breadcrumb-style ">
              <li class="breadcrumb-item">
                <h4 class="page-title">Factura
                </h4>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="card h-100">
            <div class="card-body">              
                <form [formGroup]="documentoForm" class="form_width">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 estilo_row">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Tipo Documento Destino</mat-label>
                                <input matInput placeholder="Nombre" formControlName="tipo_doc" required autocomplete="off"> 
                                <mat-error *ngIf="documentoForm.controls.tipo_doc.hasError('required')">
                                    Campo Obligatorio
                                </mat-error>
                            </mat-form-field> 
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 estilo_row">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Estado</mat-label>
                                <input matInput placeholder="DNI" formControlName="estado" required autocomplete="off"> 
                                <mat-error *ngIf="documentoForm.controls.estado.hasError('required')">
                                    Estado es Obligatorio
                                </mat-error>
                            </mat-form-field> 
                        </div>
                        <!-- <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 estilo_row">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Telefono</mat-label>
                                <input matInput placeholder="Representante" formControlName="telefono" required autocomplete="off"> 
                                <mat-error *ngIf="documentoForm.controls.telefono.hasError('required')">
                                    Ingresa Telefono
                                </mat-error>
                            </mat-form-field> 
                        </div> -->
                    </div>

                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>N° del Documento</mat-label>
                                <input matInput placeholder="Numero" formControlName="numero" required autocomplete="off"> 
                                <mat-error *ngIf="documentoForm.controls.numero.hasError('required')">
                                    Número es obligatorio
                                </mat-error>
                            </mat-form-field> 

                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                            <mat-form-field class="example-full-width form_campo" appearance="outline">
                                <mat-label>Fecha Orden</mat-label>
                                <input matInput [matDatepicker]="picker" formControlName="fecha_orden" readonly>
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Tercero</mat-label>
                                <input matInput placeholder="Tercero" formControlName="tercero" required autocomplete="off"> 
                                <mat-error *ngIf="documentoForm.controls.tercero.hasError('required')">
                                    Ingresa Otros
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Total</mat-label>
                                <input matInput placeholder="Total" formControlName="total" required autocomplete="off"> 
                                <mat-error *ngIf="documentoForm.controls.total.hasError('required')">
                                    Total es Obligatorio
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">                        
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Descripción</mat-label>
                                <input matInput placeholder="Descripcion" formControlName="descripcion" required autocomplete="off"> 
                                <mat-error *ngIf="documentoForm.controls.descripcion.hasError('required')">
                                    Ingresa Codigo promocional
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <!-- <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>País</mat-label>
                                <mat-select matSelect formControlName="programa">
                                  <mat-option  *ngFor="let pro of programas_lista" [value]="pro">
                                    {{pro.pro_nombre}}
                                  </mat-option>
                                </mat-select>                    
                                <mat-error *ngIf="documentoForm.get('programa').hasError('required')">
                                    Selecciona un País
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                            <mat-form-field class="example-full-width form_campo" appearance="outline">
                                <mat-label>Inicio Curso</mat-label>
                                <input matInput [matDatepicker]="picker2" formControlName="inicio_curso" readonly>
                                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                <mat-datepicker #picker2></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div> -->

                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Descripción</mat-label>
                                <input matInput placeholder="Descripción" formControlName="descripcion" required autocomplete="off"> 
                                <mat-error *ngIf="documentoForm.controls.descripcion.hasError('required')">
                                    Descripción es Obligatorio
                                </mat-error>
                            </mat-form-field> 
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                            <mat-form-field class="example-full-width form_campo" appearance="outline">
                                <mat-label>Fecha Facturación</mat-label>
                                <input matInput [matDatepicker]="picker2" formControlName="fecha_facturacion" readonly>
                                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                <mat-datepicker #picker2></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                            <mat-form-field class="example-full-width form_campo" appearance="outline">
                                <mat-label>Fecha Contable</mat-label>
                                <input matInput [matDatepicker]="picker3" formControlName="fecha_contable" readonly>
                                <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                                <mat-datepicker #picker3></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Dirección Tercero</mat-label>
                                <input matInput placeholder="Codigo" formControlName="direccion_tercero" required autocomplete="off"> 
                                <mat-error *ngIf="documentoForm.controls.direccion_tercero.hasError('required')">
                                    Direccipon es obligatorio
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Usuario</mat-label>
                                <mat-select matSelect formControlName="usuario">
                                  <mat-option  *ngFor="let banco of bancos_lista" [value]="banco">
                                    {{banco.ban_nombre}}
                                  </mat-option>
                                </mat-select>                    
                                <mat-error *ngIf="documentoForm.get('usuario').hasError('required')">
                                    Selecciona un Usuario
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Moneda</mat-label>
                                <mat-select matSelect formControlName="moneda">
                                  <mat-option  *ngFor="let banco of bancos_lista" [value]="banco">
                                    {{banco.ban_nombre}}
                                  </mat-option>
                                </mat-select>                    
                                <mat-error *ngIf="documentoForm.get('moneda').hasError('required')">
                                    Selecciona una Moneda
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
 
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                            <button mat-raised-button color="warn" (click)="volver()">Cancelar</button>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                            <button type="submit" class="mr-3" mat-raised-button color="primary" (click)="enviarFormulario()">Guardar</button>
                        </div>
                    </div>                   
                </form>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>