<div>
    <h2 mat-dialog-title>{{nombre}}</h2>
    <div mat-dialog-content>


        <div class="text-inside">
            <form [formGroup]="cursoForm" class="form_width">
                <div class="col-12">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <input matInput placeholder="Curso" formControlName="curso" required autocomplete="off"> 
                        <mat-error *ngIf="cursoForm.controls.curso.hasError('required')">
                            Ingresa nombre de curso
                        </mat-error>
                        <!-- <mat-error *ngIf="cursoForm.controls.curso.hasError('pattern')">
                            Ingresa un curso valido
                        </mat-error> -->
                    </mat-form-field> 
                </div>
                <div class="col-12">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <input matInput placeholder="Descripcion" formControlName="descripcion" required autocomplete="off"> 
                        <mat-error *ngIf="cursoForm.controls.descripcion.hasError('required')">
                            Ingresa descipcion del curso
                        </mat-error>
                        <!-- <mat-error *ngIf="cursoForm.controls.curso.hasError('pattern')">
                            Ingresa un curso valido
                        </mat-error> -->
                    </mat-form-field> 
                </div>
                <!-- <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Programa</mat-label>
                    <mat-select matSelect formControlName="programa">
                      <mat-option  *ngFor="let pro of programas_totales" [value]="pro">
                        {{pro.pro_nombre}}
                      </mat-option>
                    </mat-select>                    
                    <mat-error *ngIf="cursoForm.get('programa').hasError('required')">
                        Selecciona un Programa
                    </mat-error>
                </mat-form-field> -->
                <!-- <mat-form-field class="example-full-width" appearance="outline">
                    <input matInput placeholder="Curso" formControlName="nombre" required autocomplete="off"> 
                    <mat-error *ngIf="cursoForm.controls.nombre.hasError('required')">
                        Ingresa nombre De curso
                    </mat-error>
                    <mat-error *ngIf="cursoForm.controls.nombre.hasError('pattern')">
                        Ingresa un curso valido
                    </mat-error>
                </mat-form-field>                 -->
            </form>
        </div>
        

        <div class="btn-sec contenedor_botones">                
            <div class="fila_botones">
                <div class="btn_izquierda">
                    <button type="button" mat-raised-button color="warn" (click)="closeDialog()">Cancelar</button>
                </div>
                <div class="btn_derecha">
                    <button class="mr-3" mat-raised-button color="primary" (click)="enviarFormulario()">Guardar</button>
                </div>
            </div>                
        </div>

    </div>
</div>