.breadcrumb .page-title
    border-right : none !important

::ng-deep .mat-slide-toggle.mat-primary.mat-checked .mat-slide-toggle-thumb
    background-color: #0E99C1

::ng-deep .mat-slide-toggle.mat-primary.mat-checked .mat-slide-toggle-bar
    background-color: #0E99C1

::ng-deep .form_campo.mat-form-field-appearance-outline .mat-form-field-wrapper
    margin: 0px !important
    padding-bottom: 8px

.toggle_add
    padding-right: 15px

.letra_toggle
    color: white
    font-weight: bold
    line-height: 100%
    padding-top: 15px
    font-size: 20px

#fecha_inicial
    width : 100% !important

#fecha_final
    width : 100% !important

.fila_botones
    padding-top : 10px

.boton_opcion
    background-color: #0E99C1
    color: white

.boton_width
    width: 100%

.acciones_reg
    display : flex
    justify-content: flex-end
    flex-direction: row
    width: 100%

.estado_reg
    margin-left : 5px
    margin-right : 5px

.edit_reg
    margin-left : 5px
    margin-right : 5px

.inactivo
    color:#f00
    text-decoration-line: line-through

.clase_cabecera
    background-color: #A0AAAB

.color_icono
    color: #0E99C1

.estilo_row
    margin-bottom: 0px !important