<section class="content">
    <div class="container-fluid">
      <div class="block-header">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="breadcrumb breadcrumb-style ">
              <li class="breadcrumb-item">
                <h4 class="page-title">Pagos
                </h4>
              </li>
            </ul>
          </div>
        </div>
      </div>


      <!-- <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="card">            
                <div class="body">
                    <div class="example-container">
                        <form [formGroup]="formBusqueda">
                            <div class="row">
                              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 estilo_row">
                                <div class="row">
                                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 estilo_row">
                                    <mat-form-field class="example-full-width form_campo" appearance="outline">
                                      <mat-label>Universidad</mat-label>
                                      <mat-select formControlName="universidad" >
                                        <mat-option [value]="'0'">
                                          Todos
                                        </mat-option>
                                        <mat-option *ngFor="let uni of universidades_lista" [value]="uni.uni_id">
                                          {{uni.uni_nombre}}
                                        </mat-option>
                                      </mat-select>                                       
                                  </mat-form-field>
                                  </div>
                                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 estilo_row">
                                    <mat-form-field class="example-full-width form_campo" appearance="outline">
                                      <mat-label>Banco</mat-label>
                                      <mat-select formControlName="banco" >
                                        <mat-option [value]="'0'">
                                          Todos
                                        </mat-option>
                                        <mat-option *ngFor="let banco of bancos_lista" [value]="banco.ban_id">
                                          {{banco.ban_nombre}}
                                        </mat-option>                                                                                
                                      </mat-select>                                        
                                    </mat-form-field>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 estilo_row">
                                    <mat-form-field class="example-full-width form_campo" appearance="outline">
                                      <mat-label>Programa</mat-label>
                                      <mat-select formControlName="programa" >
                                        <mat-option [value]="'0'">
                                          Todos
                                        </mat-option>
                                        <mat-option *ngFor="let programa of programas_lista" [value]="programa.pro_id">
                                         {{ programa.pro_nombre}}
                                        </mat-option>
                                      </mat-select>                                        
                                    </mat-form-field>
                                  </div>
                                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 estilo_row">
                                    <mat-form-field class="example-full-width form_campo" appearance="outline">
                                      <mat-label>Curso</mat-label>
                                      <mat-select formControlName="curso" >
                                        <mat-option [value]="'0'">
                                          Todos
                                        </mat-option>
                                        <mat-option *ngFor="let curso of cursos_lista" [value]="curso.cur_id">
                                          {{curso.cur_nombre}}
                                        </mat-option>                                                                                
                                      </mat-select>                                        
                                    </mat-form-field>
                                  </div>
                                </div>
                              </div>
    
                              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 estilo_row">
                                <div class="row">
                                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 estilo_row">
                                    <mat-form-field appearance="outline" id="fecha_inicial" class="form_campo">
                                      <mat-label>Desde</mat-label>
                                      <input matInput [matDatepicker]="picker" formControlName="desde" >
                                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                      <mat-datepicker #picker></mat-datepicker>
                                  </mat-form-field>
                                  </div>
                                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 estilo_row">
                                    <mat-form-field appearance="outline" id="fecha_final" class="form_campo">
                                      <mat-label>Hasta</mat-label>
                                      <input matInput [matDatepicker]="picker2" formControlName="hacia" (dateChange)="EndDateChange($event)" >
                                      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                      <mat-datepicker #picker2></mat-datepicker>
                                  </mat-form-field>
                                  </div>
                                </div>                                
                                <div class="row">
                                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 estilo_row">
                                    <mat-form-field class="example-full-width form_campo" appearance="outline">
                                      <mat-label>Vendedor</mat-label>
                                      <mat-select formControlName="vendedor" >
                                        <mat-option [value]="'0'">
                                          Todos
                                        </mat-option>
                                        <mat-option *ngFor="let vendedor of vendedores_lista" [value]="vendedor.ven_id">
                                          {{vendedor.ven_nombre}}
                                        </mat-option>                                                                                
                                      </mat-select>                                        
                                    </mat-form-field>
                                  </div>
                                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 estilo_row">
                                    <div class="row fila_botones">
                                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 estilo_row">
                                        <button mat-raised-button class="boton_opcion boton_width">
                                          <mat-icon class="col-white">search
                                          </mat-icon>
                                        </button>
                                      </div>
      
                                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 estilo_row">
                                        <button mat-raised-button class="boton_opcion boton_width">
                                          <mat-icon class="col-white">cloud_download
                                          </mat-icon>
                                        </button>
                                      </div> 
      
                                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 estilo_row">
                                        <button mat-raised-button class="boton_opcion boton_width" (click)="createPDF()">
                                          <mat-icon class="col-white">print
                                          </mat-icon>
                                        </button>
                                      </div>
                                    </div> 
                                  </div>
                                </div>
                              </div>                              
                            </div>                        
                        </form>
                    </div>                                                               
                </div>
            </div>
        </div>
      </div> -->


      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="card h-100">
            <div class="card-body">
              <div class="task-module paginador">
                <div class="row">
                  <div class="col-md-12 col-sm-12">                    
                        <div class="materialTableHeader clase_cabecera">
                          <div class="row">
                            <div class="col-8">
                              <ul class="header-buttons-left ml-0">                                
                                <li class="dropdown m-l-20">                                 
                                  <label for="search-input"><i class="material-icons search-icon">search</i></label>
                                  <input placeholder="Buscar" type="text" #filter (keyup)="applyFilter($event.target.value)" class="browser-default search-field"
                                    aria-label="Search box">
                                </li>
                              </ul>
                            </div> 
                            <div class="col-4">                                
                                <ul class="header-buttons">
                                  <!-- <li>
                                    <div class="toggle_add">                                        
                                      <mat-slide-toggle [formControl]="filtro_control" color="primary" class="toggle_estado">
                                          <p class="letra_toggle">Todos</p>  
                                      </mat-slide-toggle>                                                                  
                                    </div> 
                                  </li> -->
                                  <li>
                                    <div class="icon-button-demo">
                                      <button mat-mini-fab class="boton_opcion" (click)="nuevoPago()">
                                        <mat-icon class="col-white ">add</mat-icon>
                                      </button>
                                    </div>
                                  </li>
                                  <!-- <li>
                                    <div class="icon-button-demo">
                                      <button mat-mini-fab class="boton_opcion" (click)="actualizarLista()">
                                        <mat-icon class="col-white">refresh
                                        </mat-icon>
                                      </button>
                                    </div>
                                  </li>                             -->
                                </ul>
                            </div>                                                         
                          </div>                          
                        </div>                     
                        <mat-table #table [dataSource]="dataSource_promociones_totales" matSort class="mat-cell">                                                      
                          
                          <ng-container matColumnDef="dni">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>DNI
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row" [ngClass]="{'inactivo':row.pro_activo=='N'}"> {{row.pro_nombre}}
                            </mat-cell>
                            </ng-container>

                          <ng-container matColumnDef="telefono">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Telefono
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row" [ngClass]="{'inactivo':row.pro_activo=='N'}"> {{row.prg_nombre}}
                            </mat-cell>                                               
                          </ng-container>  

                          <ng-container matColumnDef="correo">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Correo
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row" [ngClass]="{'inactivo':row.pro_activo=='N'}"> {{row.pro_code}}
                            </mat-cell>
                          </ng-container>

                          <ng-container matColumnDef="activo">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Activo
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row" [ngClass]="{'inactivo':row.pro_activo=='N'}"> {{row.pro_descripcion}}
                            </mat-cell>
                          </ng-container>

                          <!-- <ng-container matColumnDef="proDesde">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Desde
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row" [ngClass]="{'inactivo':row.pro_activo=='N'}"> {{row.pro_desde}}
                            </mat-cell>
                          </ng-container>

                          <ng-container matColumnDef="proHasta">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Hasta
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row" [ngClass]="{'inactivo':row.pro_activo=='N'}"> {{row.pro_hasta}}
                            </mat-cell>
                          </ng-container> -->

                          <ng-container matColumnDef="matriculado">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Matriculado
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row" [ngClass]="{'inactivo':row.pro_activo=='N'}">
                             {{row.pro_desde}}  {{row.pro_hasta}}
                            </mat-cell>
                          </ng-container>

                          <ng-container matColumnDef="universidad">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Universidad
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row" [ngClass]="{'inactivo':row.pro_activo=='N'}">
                             {{row.pro_desde}}  {{row.pro_hasta}}
                            </mat-cell>
                          </ng-container>

                          <ng-container matColumnDef="otros">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Otros
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row" [ngClass]="{'inactivo':row.pro_activo=='N'}">
                             {{row.pro_desde}}  {{row.pro_hasta}}
                            </mat-cell>
                          </ng-container>

                          <!-- <ng-container matColumnDef="acciones">
                            <mat-header-cell *matHeaderCellDef>
                              <div class="titulo_acciones">
                                Acciones
                              </div>                              
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                              <div class="acciones_reg">
                                <div class="estado_reg">
                                  <span aria-hidden="true" *ngIf="row.pro_activo=='N'" (click)="cambiarEstado(row)"><i class="material-icons color_icono">visibility</i></span>              
                                  <span aria-hidden="true" *ngIf="row.pro_activo=='Y'" (click)="cambiarEstado(row)"><i class="material-icons color_icono">visibility_off</i></span>
                                </div>
                                <div class="edit_reg">
                                  <span aria-hidden="true" (click)="editarPromocion(row)"><i class="material-icons color_icono">edit</i></span>
                                </div>
                              </div>                                                            
                            </mat-cell>
                          </ng-container>                                                                                                                           -->
                          <mat-header-row *matHeaderRowDef="displayedColumns">
                          </mat-header-row>
                          
                          <mat-row *matRowDef="let row; columns: displayedColumns;"
                            [style.cursor]="'pointer'">
                          </mat-row>
                        </mat-table>
                        <mat-paginator #paginator [pageIndex]="0"
                        [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
                        </mat-paginator> 
                        <!-- <button mat-raised-button (click)="exporter.exportTable('xlsx', {fileName:'test', sheet: 'sheet_name', Props: {Author: 'Talha'},hiddenColumns:[]})">Excel</button>
                        <button mat-raised-button (click)="generarReporte()">Generar Reporte</button> -->
                  </div>
                </div>   

              </div>
              
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>