<section class="content">
    <div class="container-fluid">
      <div class="block-header">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="breadcrumb breadcrumb-style ">
              <li class="breadcrumb-item">
                <h4 class="page-title">Perfil de Usuario</h4>
              </li>              
            </ul>
          </div>
        </div>
      </div>
      <!-- Your content goes here  -->
      <div class="row clearfix">
        <div class="col-lg-4 col-md-12">
          <div class="card">
            <div class="m-b-20">
              <div class="contact-grid">
                <div class="profile-header bg-dark fondo_tarjeta">
                  <div class="user-name">{{data_user.usu_nombre||'Sin Nombre'}}</div>
                  <div class="name-center">{{data_user.nod_noporpagar}}</div>
                </div>
                <img src="assets/images/empty-avatar.jpg" class="user-img" alt="">
                <p>
                  <!-- 456, Estern evenue, Courtage area,
                  <br />New York -->
                </p>
                <div>
                  <span class="phone">
                    <i class="material-icons">phone</i></span>
                </div>
                <!-- <div class="row">
                  <div class="col-4">
                    <h5>564</h5>
                    <small>Following</small>
                  </div>
                  <div class="col-4">
                    <h5>18k</h5>
                    <small>Followers</small>
                  </div>
                  <div class="col-4">
                    <h5>565</h5>
                    <small>Post</small>
                  </div>
                </div> -->
              </div>
            </div>
          </div>
          <div class="card">
            <mat-tab-group mat-align-tabs="start">
              <!-- <mat-tab label="About">
                <div class="p-4">
                  <p class="text-default">Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has
                    been the industry's standard dummy text ever since the 1500s, when an unknown
                    printer
                    took a galley of type and scrambled it to make a type specimen book. It has
                    survived
                    not only five centuries, but also the leap into electronic typesetting, remaining
                    essentially
                    unchanged.</p>
                  <small class="text-muted">Email address: </small>
                  <p>john@gmail.com</p>
                  <hr>
                  <small class="text-muted">Phone: </small>
                  <p>+91 1234567890</p>
                  <hr>
                </div>
              </mat-tab> -->
              <mat-tab label="Pordes">
                <ul class="list-unstyled p-4">
                  <li>
                    <div>Pordes 01</div>
                    <div class="progress skill-progress m-b-20">
                      <div class="progress-bar l-bg-green width-per-12" role="progressbar" aria-valuenow="12"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </li>
                  <li>
                    <div>Pordes 02</div>
                    <div class="progress skill-progress m-b-20">
                      <div class="progress-bar l-bg-orange width-per-35" role="progressbar" aria-valuenow="35"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </li>
                  <li>
                    <div>Pordes 03</div>
                    <div class="progress skill-progress m-b-20">
                      <div class="progress-bar l-bg-cyan width-per-72" role="progressbar" aria-valuenow="72"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </li>
                  <!-- <li>
                    <div>Angular</div>
                    <div class="progress skill-progress m-b-20">
                      <div class="progress-bar l-bg-purple width-per-70" role="progressbar" aria-valuenow="70"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </li> -->
                </ul>
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>
        <div class="col-lg-8 col-md-12">
          <div class="card">
            <mat-tab-group>
              <mat-tab>
                <ng-template mat-tab-label>
                  <mat-icon class="example-tab-icon mr-2">face</mat-icon>
                  Detalles de Cuenta
                </ng-template>
                <div class="col-lg-12 col-md-12 col-sm-12">
                  <div class="project_widget">
                    <div class="header">
                      <h2><strong>About</strong></h2>
                    </div>
                    <div class="body">
                      <div class="row" *ngIf="!editar_personal">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                          <div class="row">
                            <div class="col-md-3 col-6 b-r">
                              <strong>Nombres</strong>
                              <br>
                              <p class="text-muted">{{this.data_user.usu_nombre}}</p>
                            </div>
                            <div class="col-md-3 col-6 b-r">
                              <strong>Mobile</strong>
                              <br>
                              <p class="text-muted">(123) 456 7890</p>
                            </div>
                            <div class="col-md-3 col-6 b-r">
                              <strong>Email</strong>
                              <br>
                              <p class="text-muted">{{this.data_user.usu_email}}</p>
                            </div>
                            <div class="col-md-3 col-6">
                              <strong>DNI</strong>
                              <br>
                              <p class="text-muted">{{this.data_user.usu_dni}}</p>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 centrador">
                              <button mat-raised-button (click)="editarPersonal()" class="boton_editar">                             
                                Actualizar
                              </button>
                            </div>
                          </div>

                        </div>                        
                        
                      </div>

                      <div class="example-container" *ngIf="editar_personal">
                        <form [formGroup]="formPersonales">
                          <div class="example-container">    
                            <mat-form-field class="example-full-width" appearance="outline">
                              <mat-label>Nombres</mat-label>
                              <input matInput formControlName="nombres">
                            </mat-form-field>

                            <mat-form-field class="example-full-width" appearance="outline">
                              <mat-label> Telefono</mat-label>
                              <input matInput formControlName="telefono">
                            </mat-form-field>

                            <mat-form-field class="example-full-width" appearance="outline">
                              <mat-label>Email</mat-label>
                              <input matInput formControlName="correo">
                            </mat-form-field>  

                            <mat-form-field class="example-full-width" appearance="outline">
                              <mat-label>DNI</mat-label>
                              <input matInput formControlName="dni">
                            </mat-form-field>  
                            
                            
                            <div class="row">
                              <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="boton_enviar">
                                  <button mat-raised-button color="warn" (click)="editarPersonal()">Cancelar</button>                              
                                </div>
                              </div>  
                              <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="boton_enviar">
                                  <button mat-raised-button color="primary" [disabled]="!formPersonales.valid"   (click)="cambiarInfo()">Guardar</button>
                                </div>
                              </div>                        
                            </div>                                               
                          </div>                                                                 
                        </form>
                      </div>                                                                 
                      
                      <br>
                    </div>
                  </div>
                </div>
                <!-- <div class="col-lg-12 col-md-12 col-sm-12">
                  <div class="project_widget">
                    <div class="header">
                      <h2><strong>Education</strong></h2>
                    </div>
                    <div class="body">
                      <ul>
                        <li>B.A.,Gujarat University, Ahmedabad,India.</li>
                        <li>M.A.,Gujarat University, Ahmedabad, India.</li>
                        <li>P.H.D., Shaurashtra University, Rajkot</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                  <div class="project_widget">
                    <div class="header">
                      <h2><strong>Experience</strong></h2>
                    </div>
                    <div class="body">
                      <ul>
                        <li>One year experience as Jr. Professor from April-2009 to march-2010
                          at B.
                          J. Arts College, Ahmedabad.</li>
                        <li>Three year experience as Jr. Professor at V.S. Arts &amp; Commerse
                          Collage
                          from April - 2008 to April - 2011.</li>
                        <li>Lorem Ipsum is simply dummy text of the printing and typesetting
                          industry.
                        </li>
                        <li>Lorem Ipsum is simply dummy text of the printing and typesetting
                          industry.
                        </li>
                        <li>Lorem Ipsum is simply dummy text of the printing and typesetting
                          industry.
                        </li>
                        <li>Lorem Ipsum is simply dummy text of the printing and typesetting
                          industry.
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                  <div class="project_widget">
                    <div class="header">
                      <h2><strong>Conferences, Cources &amp; Workshop Attended</strong></h2>
                    </div>
                    <div class="body">
                      <ul>
                        <li>Lorem Ipsum is simply dummy text of the printing and typesetting
                          industry.
                        </li>
                        <li>Lorem Ipsum is simply dummy text of the printing and typesetting
                          industry.
                        </li>
                        <li>Lorem Ipsum is simply dummy text of the printing and typesetting
                          industry.
                        </li>
                        <li>Lorem Ipsum is simply dummy text of the printing and typesetting
                          industry.
                        </li>
                        <li>Lorem Ipsum is simply dummy text of the printing and typesetting
                          industry.
                        </li>
                        <li>Lorem Ipsum is simply dummy text of the printing and typesetting
                          industry.
                        </li>
                        <li>Lorem Ipsum is simply dummy text of the printing and typesetting
                          industry.
                        </li>
                      </ul>
                    </div>
                  </div>
                </div> -->
              </mat-tab>
  
              <mat-tab>
                <ng-template mat-tab-label>
                  <mat-icon class="example-tab-icon mr-2">settings</mat-icon>
                  Seguridad
                </ng-template>
                <div class="header">
                  <h2>
                    <strong>Credenciales</strong> Acceso</h2>
                </div>
                <div class="body">
                  <div class="example-container">
                    <form [formGroup]="passwordForm">
                        <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Usuario</mat-label>
                            <input matInput formControlName="usuario">
                        </mat-form-field>
                        <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Contraseña Actual</mat-label>
                            <input matInput type="password" formControlName="actual">
                        </mat-form-field>
                        <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Nueva Contraseña</mat-label>
                            <input matInput type="password" formControlName="nuevo">
                        </mat-form-field>
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Confirma Nueva Contraseña</mat-label>
                            <input matInput type="password" formControlName="confirmacion">
                        </mat-form-field>

                        <div class="centrador">
                            <button mat-raised-button color="primary" (click)="enviarFormulario()">Guardar</button>
                        </div> 

                    </form>
                  </div>
                                   
                </div>
                <!-- <div class="header">
                  <h2>
                    <strong>Account</strong> Settings</h2>
                </div>
                <div class="body">
                  <div class="row clearfix">
                    <div class="col-lg-6 col-md-12">
                      <div class="form-group">
                        <mat-form-field class="example-full-width" appearance="fill">
                          <mat-label>First Name</mat-label>
                          <input matInput>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                      <div class="form-group">
                        <mat-form-field class="example-full-width" appearance="fill">
                          <mat-label>Last Name</mat-label>
                          <input matInput>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                      <div class="form-group">
                        <mat-form-field class="example-full-width" appearance="fill">
                          <mat-label>City</mat-label>
                          <input matInput>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                      <div class="form-group">
                        <mat-form-field class="example-full-width" appearance="fill">
                          <mat-label>Email</mat-label>
                          <input matInput>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                      <div class="form-group">
                        <mat-form-field class="example-full-width" appearance="fill">
                          <mat-label>Country</mat-label>
                          <input matInput>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <mat-form-field class="example-full-width" appearance="fill">
                          <mat-label>Address</mat-label>
                          <textarea matInput></textarea>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <mat-checkbox class="example-margin">Profile Visibility For Everyone
                        </mat-checkbox>
                      </div>
                      <div class="form-group">
                        <mat-checkbox class="example-margin">New task notifications
                        </mat-checkbox>
                      </div>
                      <div class="form-group">
                        <mat-checkbox class="example-margin">New friend request notifications
                        </mat-checkbox>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <button mat-raised-button color="primary">Save Changes</button>
                    </div>
                  </div>
                </div> -->
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>
      </div>
    </div>
  </section>
  