.fondo_page
    background-image : url('/assets/images/fondo.jpg')
    background-repeat: no-repeat
    background-attachment: fixed
    background-position: center center
    background-size: cover
    min-height: 100vh
    justify-content: center
    align-items: center
    vertical-align: middle
    display: flex

.imagen_register
    height: 50px
    margin: 10px

.noArts
    width: unset !important
    padding-top : 20px
    padding-bottom : 20px

.centrador
    text-align : center

.titulo
    padding-top : 10px

.centrador
    text-align :center

.clase_cuerpo
    padding-top : 10px
    padding-right : 10px
    padding-left : 10px


.contenedor
    width: 100%

.det_promo
    text-align : center

.estilo_row
    margin-bottom: 0px !important

ng::deep .mat-form-field-appearance-outline .mat-form-field-wrapper 
    margin: 0px !important

.info_telefono
    display : flex
    width : 100%


.pais_cod
    width : 30%
    padding-right: 5px

.numero_telefono
    width : 70%
    padding-left: 5px

.input_codigo
    text-align : center

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button 
    -webkit-appearance: none
    margin: 0

input[type=number]
    -moz-appearance:textfield