
    <div class="mainBG fondo_page">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-6 col-lg-6 col-md-10 col-sm-10"> 
                    <div class="row justify-content-center">
                        <div class="col-12">
                            <div class="card">                    
                                <div class="body">
                                    <div class="row justify-content-center">
                                        <div class="col-12 centrador">
                                            <img src="/assets/images/infox_logo.png"  class="imagen_register" alt="">
                                        </div>
                        
                                        <div class="titulo centrador">
                                            <h2>REGISTRO DE PARTICIPANTES </h2>                        
                                        </div>
                                    </div>
                                    <div class="det_promo"><p>{{promocion}}</p></div>
                                    <div class="row clase_cuerpo">    
                                        <div class="col-12">
                                            <form [formGroup]="formPromo">
                                                <div class="row">
                                                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 estilo_row">
                                                        <mat-form-field class="example-full-width" appearance="outline">
                                                            <mat-label>País</mat-label>
                                                            <mat-select formControlName="pais" required (selectionChange)="selecPais($event.value)">
                                                                <mat-option [value]="pais" *ngFor="let pais of paises_lista">
                                                                    {{pais.pai_nombre}}
                                                                </mat-option>                                                                             
                                                            </mat-select>
                                                            <mat-icon matSuffix>account_balance</mat-icon>
                                                            <mat-error *ngIf="formPromo.get('pais').hasError('required')">
                                                                Pais es obligatorio
                                                            </mat-error>
                                                        </mat-form-field>
                                                    </div>
                                                    

                                                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 estilo_row">
                                                        <mat-form-field class="example-full-width" appearance="outline">
                                                          <mat-label>Tipo Documento</mat-label>
                                                          <mat-select formControlName="tipo_doc" (selectionChange)="selectTipoDoc($event.value)"
                                                            required>
                                                            <mat-option [value]="doc" *ngFor="let doc of documentos">
                                                              {{doc.nombre}}
                                                            </mat-option>
                              
                                                          </mat-select>
                                                          <mat-icon matSuffix>credit_card</mat-icon>
                                                          <mat-error *ngIf="formPromo.get('tipo_doc').hasError('required')">
                                                            Tipo de documento es obligatorio
                                                          </mat-error>
                                                        </mat-form-field>
                                                      </div>

                                                </div>

                                                <div class="row">
                                                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 estilo_row">
                                                        <mat-form-field class="example-full-width" appearance="outline">
                                                            <mat-label>{{nombre_documento}}</mat-label>
                                                            <input matInput formControlName="documento" required autocomplete="off"
                                                            (keyup)="buscarDocumento($event.target.value)" type="text"
                                                            >
                                                            <mat-icon matSuffix>credit_card</mat-icon>
                                                            <mat-error *ngIf="formPromo.get('documento').hasError('required')">
                                                                Documento es obligatorio
                                                            </mat-error>
                                                        </mat-form-field>
                                                    </div>

                                                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 estilo_row">
                                                        <mat-form-field class="example-full-width" appearance="outline">
                                                            <mat-label>Email</mat-label>
                                                            <input matInput formControlName="correo" required autocomplete="off">
                                                            <mat-icon matSuffix>email</mat-icon>
                                                            <mat-error *ngIf="formPromo.get('correo').hasError('required')">
                                                                Email es obligatorio
                                                            </mat-error>
                                                        </mat-form-field>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 estilo_row">
                                                        <mat-form-field class="example-full-width" appearance="outline">
                                                            <mat-label>Nombres</mat-label>
                                                            <input matInput formControlName="nombres" autocomplete="off">
                                                            <mat-icon matSuffix>person</mat-icon>
                                                            <mat-error *ngIf="formPromo.get('nombres').hasError('required')">
                                                                Nombres es obligatorio
                                                            </mat-error>
                                                        </mat-form-field>
                                                    </div>
                                                </div>
    
                                                <div class="row">
                                                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 estilo_row">
                                                        <mat-form-field class="example-full-width" appearance="outline">
                                                            <mat-label>Universidad</mat-label>
                                                            <mat-select formControlName="universidad" 
                                                                (selectionChange)="selectUniversidad($event.value)" required>
                                                                <mat-option [value]="uni" *ngFor="let uni of universidades_lista">
                                                                    {{uni.uni_nombre}}
                                                                </mat-option>                                                                             
                                                            </mat-select>
                                                            <mat-icon matSuffix>account_balance</mat-icon>
                                                            <mat-error *ngIf="formPromo.get('universidad').hasError('required')">
                                                                Universidad es obligatorio
                                                            </mat-error>
                                                        </mat-form-field>
                                                    </div>

                                                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 estilo_row" *ngIf="otra_universidad">
                                                        <mat-form-field class="example-full-width" appearance="outline">
                                                            <mat-label>Otros</mat-label>
                                                            <input matInput formControlName="otros" autocomplete="off">
                                                            <mat-icon matSuffix>account_balance</mat-icon>
                                                            <mat-error *ngIf="formPromo.get('otros').hasError('required')">
                                                                Campo obligatorio
                                                            </mat-error>
                                                        </mat-form-field>
                                                    </div>

                                                </div>

                                                
                                                <div class="row">
                                                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 estilo_row">
                                                        <div class="info_telefono">
                                                            <div class="pais_cod">
                                                                <mat-form-field class="example-full-width" appearance="outline">        
                                                                    <!-- <mat-label>Codigo</mat-label> -->
                                                                    <input matInput formControlName="cod_pais" type="text" autocomplete="off" readonly class="input_codigo">                                                           
                                                                  </mat-form-field>
                                                            </div>
                                                            <div class="numero_telefono">
                                                                <mat-form-field class="example-full-width" appearance="outline">
                                                                    <mat-label>Telefono</mat-label>
                                                                    <input matInput formControlName="telefono" type="number" required autocomplete="off">
                                                                    <mat-icon matSuffix>phone</mat-icon>
                                                                    <mat-error *ngIf="formPromo.get('telefono').hasError('required')">
                                                                        Teléfono es obligatorio
                                                                    </mat-error>
                                                                </mat-form-field>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    
                                                </div>

                                                <div class="row">
                                                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 estilo_row">
                                                        <mat-form-field class="example-full-width" appearance="outline">
                                                            <mat-label>Semestre</mat-label>
                                                            <mat-select formControlName="semestre" required (selectionChange)="selectSemestre($event.value)">
                                                                <mat-option [value]="item" *ngFor="let item of semestres_lista">
                                                                    {{item.sem_nombre}}
                                                                </mat-option>                                                                             
                                                            </mat-select>
                                                            <mat-icon matSuffix>account_balance</mat-icon>
                                                            <mat-error *ngIf="formPromo.get('semestre').hasError('required')">
                                                                Semestre es obligatorio
                                                            </mat-error>
                                                        </mat-form-field>
                                                    </div>

                                                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 estilo_row">
                                                        <mat-form-field class="example-full-width" appearance="outline">
                                                            <mat-label></mat-label>
                                                            <input matInput formControlName="sorteo" required autocomplete="off" readonly>
                                                            <mat-icon matSuffix>bookmark</mat-icon>
                                                        </mat-form-field>
                                                    </div>

                                                </div>
                                                <div class="row">
                                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 centrador estilo_row">
                                                        <button  mat-raised-button [disabled]="!formPromo.valid || enviando"
                                                            (click)="enviarFormulario()" color="primary">Registrar</button>
                                                        <!-- <button type="button" mat-button>Cancel</button> -->
                                                    </div>
                                                </div>
                                            </form> 
                                            
                                        </div>                                                                    
                                    </div>                    
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    
                </div>
            </div>
        </div>        
    </div>