<section class="content">
    <div class="container-fluid">
      <div class="block-header">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="breadcrumb breadcrumb-style ">
              <li class="breadcrumb-item">
                <h4 class="page-title">Certificados
                </h4>
              </li>              
            </ul>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="card h-100">
            <div class="card-body">
              <div class="task-module paginador">
                <div class="row">
                  <div class="col-md-12 col-sm-12">                    
                        <div class="materialTableHeader clase_cabecera">
                          <div class="row">
                            <div class="col-8">
                              <ul class="header-buttons-left ml-0">                                
                                <li class="dropdown m-l-20">                                 
                                  <label for="search-input"><i class="material-icons search-icon">search</i></label>
                                  <input placeholder="Buscar" type="text" #filter (keyup)="applyFilter($event.target.value)" class="browser-default search-field"
                                    aria-label="Search box">
                                </li>
                              </ul>
                            </div> 
                            <div class="col-4">                                
                                <ul class="header-buttons">
                                  <li>
                                    <div class="toggle_add">                                        
                                      <mat-slide-toggle [formControl]="filtro_control" color="primary" class="toggle_estado">
                                          <p class="letra_toggle">Todos</p>  
                                      </mat-slide-toggle>                                                                  
                                    </div> 
                                  </li>
                                  <li>
                                    <div class="icon-button-demo">
                                      <button mat-mini-fab class="boton_opcion" (click)="nuevoCertificado()">
                                        <mat-icon class="col-white ">add</mat-icon>
                                      </button>
                                    </div>
                                  </li>
                                  <li> 
                                    <div class="icon-button-demo">
                                      <button mat-mini-fab class="boton_opcion" (click)="downloadFileExcel()">
                                        <mat-icon class="col-white">file_download
                                        </mat-icon>
                                      </button>
                                    </div>
                                  </li> 
                                  <li>
                                    <div class="icon-button-demo">
                                      <button mat-mini-fab class="boton_opcion" (click)="actualizarLista()">
                                        <mat-icon class="col-white">refresh
                                        </mat-icon>
                                      </button>
                                    </div>
                                  </li>                            
                                </ul>
                            </div>                                                         
                          </div>                          
                        </div>                     
                        <mat-table #table [dataSource]="dataSource_certificados_totales" matSort (matSortChange)="sortData($event)" class="mat-cell" id="tabla_total">                                                      
                          
                          <ng-container matColumnDef="codigo">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Codigo
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row" [ngClass]="{'inactivo':row.cer_activo=='N'}"> {{row.cer_codigo}}
                            </mat-cell>
                          </ng-container>
                          <ng-container matColumnDef="nombre">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row" [ngClass]="{'inactivo':row.cer_activo=='N'}"> {{row.cer_nombre}}
                            </mat-cell>
                          </ng-container> 
                          <ng-container matColumnDef="dni">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>DNI
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row" [ngClass]="{'inactivo':row.cer_activo=='N'}"> {{row.cer_dni}}
                            </mat-cell>
                          </ng-container>
                          <ng-container matColumnDef="programa">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Programa
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row" [ngClass]="{'inactivo':row.cer_activo=='N'}"> {{row.programa_nombre}}
                            </mat-cell>
                          </ng-container> 
                          <ng-container matColumnDef="curso">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Curso
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row" [ngClass]="{'inactivo':row.cer_activo=='N'}"> {{row.curso_nombre}}
                            </mat-cell>
                          </ng-container>
                          <ng-container matColumnDef="fecha">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Fecha
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row" [ngClass]="{'inactivo':row.cer_activo=='N'}"> 
                              {{row.fecha_certificado}}
                            </mat-cell>
                          </ng-container> 
                          <ng-container matColumnDef="archivo">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Url
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row" [ngClass]="{'inactivo':row.cer_activo=='N'}"> 
                              <span (click)="verArchivo(row)"><a href="{{row.cer_descarga}}" target="_blank"><mat-icon class="icon">description</mat-icon></a></span>
                              <!-- {{row.cer_descarga}} -->
                            </mat-cell>
                          </ng-container>   
                          <ng-container matColumnDef="estado">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Estado
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row" [ngClass]="{'inactivo':row.ban_activo=='N'}"> 
                              <mat-chip [ngClass]="{'chip_color_primary':row.cer_activo == 'Y','chip_color_accent':row.cer_activo == 'N'}">
                                {{row.cer_activo == 'Y' ? 'Activo' : 'Inactivo'}}
                              </mat-chip>
                            </mat-cell>
                          </ng-container> 


                          <ng-container matColumnDef="acciones">
                            <mat-header-cell *matHeaderCellDef>Acciones
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                              <div class="acciones_reg">
                                <div class="estado_reg">
                                  <span (click)="chageState(row)"aria-hidden="true"><i class="material-icons color_icono">{{row.cer_activo=='N' ? 'visibility' : 'visibility_off'}}</i></span>
                                </div>
                                <div class="edit_reg">
                                  <span aria-hidden="true" (click)="editarCertificado(row)"><i class="material-icons color_icono">edit</i></span>
                                </div>
                              </div>
                            </mat-cell>
                          </ng-container>                                                                                                  
                          <mat-header-row *matHeaderRowDef="displayedColumns">
                          </mat-header-row>
                          
                          <mat-row *matRowDef="let row; columns: displayedColumns;"
                            [style.cursor]="'pointer'">
                          </mat-row>
                        </mat-table>
                        <mat-paginator #paginator [pageIndex]="0"
                        [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
                        </mat-paginator> 
                        <!-- <button mat-raised-button (click)="exporter.exportTable('xlsx', {fileName:'test', sheet: 'sheet_name', Props: {Author: 'Talha'},hiddenColumns:[]})">Excel</button>
                        <button mat-raised-button (click)="generarReporte()">Generar Reporte</button> -->
                  </div>
                </div>   

              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>