.clase_cabecera
    background-color: #A0AAAB
.clase_opciones
    padding-top : 5px
    text-align : end
.card .body
    padding: 25px 10px 5px 10px !important
.color_icono
    color: #0E99C1
.boton_opcion
    background-color: #0E99C1
    color: white
.boton_espacio
    width : 100%
.boton_busqueda
    padding-top : 10px
.acciones_reg
    display : flex
    flex-direction: row
    width: 100%

.estado_reg
    margin-left : 5px
    margin-right : 5px

.edit_reg
    margin-left : 5px
    margin-right : 5px

.mat-column-dni
    flex: 0 0 7%
.mat-column-nombre
    flex: 0 0 15%
.mat-column-correo
    flex: 0 0 15%
.mat-column-telefono
    flex: 0 0 7%
.mat-column-universidad 
    flex: 0 0 11%
.mat-column-programa 
    flex: 0 0 10%
.mat-column-promocion 
    flex: 0 0 12%
.mat-column-semestre
    flex: 0 0 5%
.mat-column-pais
    flex: 0 0 7%
.mat-column-fecha
    flex: 0 0 7%
.mat-column-acciones
    flex: 0 0 4%

#fecha_inicial
    width : 100% !important

#fecha_final
    width : 100% !important