<section class="content">
    <div class="container-fluid">
      <div class="block-header">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="breadcrumb breadcrumb-style ">
              <li class="breadcrumb-item">
                <h4 class="page-title">Prospectos
                </h4>
              </li>              
            </ul>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div class="card">
                <div class="body">
                    <div class="example-container">
                        <form [formGroup]="formdata">
                            <div class="row">
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 estilo_row">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Promocion</mat-label>
                                        <mat-select formControlName="promocion" (selectionChange)="selectedPromocion($event.value)">
                                          <mat-option [value]="'0'">
                                            Todos
                                          </mat-option>
                                          <mat-option *ngFor="let pros of lista_promociones" [value]="pros">
                                            {{pros.prg_nombre}}
                                          </mat-option>
                                        </mat-select>
                                      </mat-form-field>
                                </div>
                                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 estilo_row">
                                    <mat-form-field appearance="outline" id="fecha_inicial">
                                      <mat-label>Desde</mat-label>
                                      <input matInput [matDatepicker]="picker" formControlName="desde">
                                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                      <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field>
                                  </div>
                                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 estilo_row">
                                    <mat-form-field appearance="outline" id="fecha_final">
                                      <mat-label>Hasta</mat-label>
                                      <input matInput [matDatepicker]="picker2" formControlName="hasta" (dateChange)="EndDateChange($event)">
                                      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                      <mat-datepicker #picker2></mat-datepicker>
                                    </mat-form-field>
                                  </div>
                                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 estilo_row">
                                    <div class="boton_busqueda">
                                      <button mat-raised-button class="boton_opcion boton_espacio"
                                      (click)="realizarBusqueda()"
                                        >
                                      <mat-icon class="col-white icono_clase">search
                                      </mat-icon>
                                      </button>
                                    </div>
                                    
                                  </div>
                            </div>
                        </form>               
                    </div>
                </div>
            </div>
        </div>      
      </div>

      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="card h-100">
            <div class="card-body">
              <div class="task-module paginador">
                <div class="row">
                  <div class="col-md-12 col-sm-12">                    
                        <div class="materialTableHeader clase_cabecera">
                          <div class="row">
                            <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-xs-8">
                              <ul class="header-buttons-left ml-0">                                
                                <li class="dropdown m-l-20">                                 
                                  <label for="search-input"><i class="material-icons search-icon">search</i></label>
                                  <input placeholder="Buscar" type="text" #filter (keyup)="applyFilter($event.target.value)" class="browser-default search-field"
                                    aria-label="Search box">
                                </li>
                              </ul>
                            </div> 
                            <div class="col-xl-2 col-lg-2 col-md-2">                                
                                <ul class="header-buttons">
                                  <!-- <li>
                                    <div class="toggle_add">                                        
                                      <mat-slide-toggle [formControl]="filtro_control" color="primary" class="toggle_estado">
                                          <p class="letra_toggle">Todos</p>  
                                      </mat-slide-toggle>                                                                  
                                    </div> 
                                  </li>
                                  <li>
                                    <div class="icon-button-demo">
                                      <button mat-mini-fab class="boton_opcion" (click)="nuevoBanco()">
                                        <mat-icon class="col-white ">add</mat-icon>
                                      </button>
                                    </div>
                                  </li>
                                  <li>
                                    <div class="icon-button-demo">
                                      <button mat-mini-fab class="boton_opcion" (click)="actualizarLista()">
                                        <mat-icon class="col-white">refresh
                                        </mat-icon>
                                      </button>
                                    </div>
                                  </li>                             -->
                                  <li> 
                                    <div class="icon-button-demo">
                                      <button mat-mini-fab class="boton_opcion" (click)="downloadFileExcel()">
                                        <mat-icon class="col-white">file_download
                                        </mat-icon>
                                      </button>
                                    </div>
                                  </li>
                                </ul>
                            </div>                                                         
                          </div>                          
                        </div>                     
                        <mat-table #table [dataSource]="dataSource_prospectos_totales" matSort (matSortChange)="sortData($event)" class="mat-cell" id="tabla_total">
                          <ng-container matColumnDef="fecha">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Fecha
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row" [ngClass]="{'inactivo':row.ban_activo=='N'}"> {{row.pros_fecha}}
                            </mat-cell>
                          </ng-container>
                          <ng-container matColumnDef="promocion">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Promocion
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row" [ngClass]="{'inactivo':row.ban_activo=='N'}"> {{row.promocion_nombre}}
                            </mat-cell>
                          </ng-container>
                          <ng-container matColumnDef="dni">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>DNI
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row" [ngClass]="{'inactivo':row.ban_activo=='N'}"> {{row.pros_dni}}
                            </mat-cell>
                          </ng-container>
                          <ng-container matColumnDef="nombre">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row" [ngClass]="{'inactivo':row.ban_activo=='N'}"> {{row.pros_nombre}}
                            </mat-cell>
                          </ng-container> 
                          <ng-container matColumnDef="correo">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Correo
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row" [ngClass]="{'inactivo':row.ban_activo=='N'}"> {{row.pros_email}}
                            </mat-cell>
                          </ng-container> 
                          <ng-container matColumnDef="telefono">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Telfono
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row" [ngClass]="{'inactivo':row.ban_activo=='N'}"> {{row.pros_telefono}}
                            </mat-cell>
                          </ng-container> 
                          <ng-container matColumnDef="universidad">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Universidad
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row" [ngClass]="{'inactivo':row.ban_activo=='N'}"> {{row.univ_otros}}
                            </mat-cell> 
                          </ng-container> 
                          <ng-container matColumnDef="programa">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Programa
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row" [ngClass]="{'inactivo':row.ban_activo=='N'}"> {{row.programa_nombre}}
                            </mat-cell>
                          </ng-container> 
                          
                          <ng-container matColumnDef="semestre">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Semestre
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row" [ngClass]="{'inactivo':row.ban_activo=='N'}"> {{row.semestre_nombre}}
                            </mat-cell>
                          </ng-container>
                          <ng-container matColumnDef="pais">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Pais
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row" [ngClass]="{'inactivo':row.ban_activo=='N'}"> {{row.pais_nombre}}
                            </mat-cell>
                          </ng-container>
                           
                          <ng-container matColumnDef="acciones">
                            <mat-header-cell *matHeaderCellDef>
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                              <div class="acciones_reg">
                                <div class="estado_reg">
                                  <span (click)="chageState(row)"aria-hidden="true"><i class="material-icons color_icono">{{row.ban_activo=='N' ? 'visibility' : 'visibility_off'}}</i></span>
                                </div>
                                <!-- <div class="edit_reg">
                                  <span aria-hidden="true" (click)="editarBanco(row)"><i class="material-icons color_icono">edit</i></span>
                                </div> -->
                              </div>
                            </mat-cell>
                          </ng-container>                                                                                                  
                          <mat-header-row *matHeaderRowDef="displayedColumns">
                          </mat-header-row>
                          
                          <mat-row *matRowDef="let row; columns: displayedColumns;"
                            [style.cursor]="'pointer'">
                          </mat-row>
                        </mat-table>
                        <mat-paginator #paginator [pageIndex]="0"
                        [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
                        </mat-paginator> 
                        <!-- <button mat-raised-button (click)="exporter.exportTable('xlsx', {fileName:'test', sheet: 'sheet_name', Props: {Author: 'Talha'},hiddenColumns:[]})">Excel</button>
                        <button mat-raised-button (click)="generarReporte()">Generar Reporte</button> -->
                  </div>
                </div>   

              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>