<div>
    <h2 mat-dialog-title>{{nombre_modal}}</h2>
    <div mat-dialog-content>


        <div class="text-inside">
            <form [formGroup]="semestreForm" class="form_width">
                
                <mat-form-field class="example-full-width" appearance="outline">
                    <input matInput placeholder="Semestre" formControlName="nombre" required autocomplete="off"> 
                    <mat-error *ngIf="semestreForm.controls.nombre.hasError('required')">
                        Ingresa nombre De Semestre
                    </mat-error>
                    <mat-error *ngIf="semestreForm.controls.nombre.hasError('pattern')">
                        Ingresa un Semestre valido
                    </mat-error>
                </mat-form-field>                
            </form>
        </div>
        

        <div class="btn-sec contenedor_botones">                
            <div class="fila_botones">
                <div class="btn_izquierda">
                    <button type="button" mat-raised-button color="warn" (click)="closeDialog()">Cancelar</button>
                </div>
                <div class="btn_derecha">
                    <button class="mr-3" mat-raised-button color="primary" (click)="enviarFormulario()">Guardar</button>
                </div>
            </div>                
        </div>

    </div>
</div>