.boton_opcion
    background-color: #0E99C1
    color: white;
    
.inactivo
    color:#f00
    text-decoration-line: line-through;

.chip_color_primary
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    padding: 7px 12px;
    border-radius: 16px;
    align-items: center;
    cursor: default;
    min-height: 32px;
    height: 1px;
    background-color: #3f51b5;
    color: #fff;
.chip_color_secondary
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    padding: 7px 12px;
    border-radius: 16px;
    align-items: center;
    cursor: default;
    min-height: 32px;
    height: 1px;
    background-color: #28a745;
    color: #fff;

.chip_color_accent
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    padding: 7px 12px;
    border-radius: 16px;
    align-items: center;
    cursor: default;
    min-height: 32px;
    height: 1px;
    background-color: #ff4081;
    color: #fff;

.mat-column-expandir
    flex: 0 0 5%;

.mat-column-perfil
    flex: 0 0 10%;

.mat-column-nombre
    flex: 0 0 10%;

.mat-column-nombre_completo
    flex: 0 0 15%;

.mat-column-telefono
    flex: 0 0 10%;

.mat-column-usuario
    flex: 0 0 10%;

.mat-column-email
    flex: 0 0 15%;

.mat-column-tipo_usu
    flex: 0 0 10%;

.mat-column-activo
    flex: 0 0 10%;
    
.mat-column-acciones
    flex: 0 0 5%;
