<div class="container">
    <div class="row">
        <div class="col-10 estilo_title">
            <h2 mat-dialog-title class="title_popup">Editar Cuota</h2>
        </div>
        <div class="col-2 estilo_close" (click)="cerrar_popup()">
            <mat-icon matSuffix>close</mat-icon>
        </div>
    </div>
    <div mat-dialog-content>
        <form [formGroup]="editCuota" (ngSubmit)="onSubmitClick()">
            <div class="container" *ngIf=" isUnaCuota ==  false">
                <h5>Datos Cuota</h5>
                <div class="row">
                    <!-- <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 estilo_row">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Fecha Vencimiento</mat-label>
                            <input matInput formControlName="fechaVencimiento" type="text"
                                required autocomplete="off">
                            
                             <mat-error *ngIf="detalleForm.get('dni').hasError('required')">
                                DNI es obligatorio
                            </mat-error>
                        </mat-form-field>
                    </div> -->
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 estilo_row">
                        <mat-form-field class="example-full-width " appearance="outline">
                          <mat-label>Fecha de Vencimiento</mat-label>
                          <input matInput [matDatepicker]="rpicker" formControlName="fechaVencimiento" style="text-align: right;"
                            required autocomplete="off" >
                          <mat-datepicker-toggle matSuffix [for]="rpicker">

                          </mat-datepicker-toggle>
                          <mat-datepicker  #rpicker></mat-datepicker>
                          <mat-error *ngIf="editCuota.get('fechaVencimiento').hasError('required')">
                            Fecha de Vencimiento es obligatorio
                          </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 estilo_row" >
                        <mat-form-field class="example-full-width"  appearance="outline">
                            <mat-label>Monto Cuota</mat-label>
                            <input matInput  formControlName="montoCuota" type="text" style="text-align: right;" 
                                 required autocomplete="off">                            
                             <mat-error *ngIf="editCuota.get('montoCuota').hasError('required')">
                                Monto de abono es obligatorio
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>
           
            <div class="container" *ngIf="estado=='Validando'">
                <h5>Datos Pago</h5>
                <div class="row">
                    <div class="col-4 estilo_row">
                        <div class="estilo_img" (click)="verImageVoucher()" >
                            <a href="{{ruta_imagen}}" target="_blank"><img src="../../../../assets/images/paper_bill.png" style="width: 75%;"></a>
                        </div>
                     
                    </div>
                    <div class="col-4 estilo_row">
                   
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Fecha de Pago</mat-label>
                            <input matInput [matDatepicker]="picker2" [max]="fecha_maxima" formControlName="fechaPago"
                            required autocomplete="off">
                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker #picker2></mat-datepicker>
                            <mat-error *ngIf="editCuota.get('fechaPago').hasError('required')">
                            Fecha de Pago es obligatorio
                            </mat-error>
                        </mat-form-field>
                         
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Monto Pago</mat-label>
                            <input matInput formControlName="montoPagado" type="text" style="text-align: right;"
                                 required autocomplete="off">
                            
                           
                        </mat-form-field>
                    </div>
               
                    <div class="col-4 estilo_row">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Banco</mat-label>
                                <mat-select formControlName="banco_nom" required (selectionChange)="selecBanco($event.value)">
                                    <mat-option *ngFor="let banco of lista_bancos" [value]="banco">
                                    {{banco.ban_nombre}}
                                    </mat-option>
                                </mat-select>
                                <mat-icon matSuffix>account_balance</mat-icon>
                                <mat-error *ngIf="editCuota.get('banco_nom').hasError('required')">
                                    Banco es obligatorio
                                </mat-error>                        
                        </mat-form-field>
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Numero Operación</mat-label>
                            <input matInput formControlName="numOperacion" type="text" style="text-align: right;"
                                required autocomplete="off">
                           
                        </mat-form-field>
                    </div>  
                </div>    
            </div>
            <div class="container" *ngIf="estado=='Pendiente'">
                <h5>Datos Pago</h5>
                <div class="row">
                    <div class="col-12 estilo_img">
                        <img class="notice-object img_voucher_nofound" src="../../../../assets/images/nofound.jpg">
                      
                    </div>
                </div>  
            </div>

            <div class="btn-sec">                
                <button type="button" mat-button (click)="closeDialog()">Cancelar</button>
                <button class="mr-3" mat-raised-button color="primary" [disabled]="!editCuota.valid" >Guardar</button>
            </div>
        </form>
    </div>
</div>