.form_width
    width : 350px

.fila_botones
    display: flex
    width: 100%

.btn_izquierda
    width: 50%
    text-align: center

.btn_derecha
    width: 50%
    text-align: center

.fechas
    width : 100%
    display : flex 

.contenedor_fecha_desde
    width : 50%
    padding-right : 5px

.contenedor_fecha_hacia
    width : 50%
    padding-left : 5px