.breadcrumb .ventas-title
    border-right : none !important
::ng-deep .mat-slide-toggle.mat-primary.mat-checked .mat-slide-toggle-thumb
    background-color: #0E99C1

::ng-deep .mat-slide-toggle.mat-primary.mat-checked .mat-slide-toggle-bar
    background-color: #0E99C1

::ng-deep .form_campo.mat-form-field-appearance-outline .mat-form-field-wrapper
    margin: 0px !important
    padding-bottom: 8px

.toggle_add
    padding-right: 15px

.letra_toggle
    color: white
    font-weight: bold
    line-height: 100%
    padding-top: 15px
    font-size: 20px

#fecha_inicial
    width : 100% !important

#fecha_final
    width : 100% !important

.fila_botones
    padding-top : 10px
.boton_busqueda
    padding-top : 10px
.boton_opcion
    width: 100%
    background-color: #0E99C1
    color: white
.btn_opcion
    background-color: #0E99C1
    color: white
.boton_width
    width: 100%

.acciones_reg
    display : flex
    justify-content: flex-end
    flex-direction: row
    width: 100%

.estado_reg
    margin-left : 5px
    margin-right : 5px

.edit_reg
    margin-left : 5px
    margin-right : 5px

.inactivo
    color:#f00
    text-decoration-line: line-through

.clase_cabecera
    background-color: #A0AAAB

.color_icono
    color: #0E99C1

.estilo_row
    margin-bottom: 0px !important
    
.img-responsive
    width: 10%
.border_item
    padding: 5px 8px
    line-height: 12px
    border: 1px solid
    font-weight: 400
    font-size: 13px
    color: rgba(0,0,0,.54) !important;
    display: inline-block;
    text-align: center;
.breadcrumb .ventas-title
    border-right : none !important
::ng-deep .mat-slide-toggle.mat-primary.mat-checked .mat-slide-toggle-thumb
    background-color: #0E99C1

::ng-deep .mat-slide-toggle.mat-primary.mat-checked .mat-slide-toggle-bar
    background-color: #0E99C1

::ng-deep .form_campo.mat-form-field-appearance-outline .mat-form-field-wrapper
    margin: 0px !important
    padding-bottom: 8px

.toggle_add
    padding-right: 15px

.letra_toggle
    color: white
    font-weight: bold
    line-height: 100%
    padding-top: 15px
    font-size: 20px

#fecha_inicial
    width : 100% !important

#fecha_final
    width : 100% !important

.fila_botones
    padding-top : 10px

.boton_opcion
    background-color: #0E99C1
    color: white

.boton_width
    width: 100%

.acciones_reg
    display : flex
    justify-content: flex-end
    flex-direction: row
    width: 100%

.estado_reg
    margin-left : 5px
    margin-right : 5px

.edit_reg
    margin-left : 5px
    margin-right : 5px

.inactivo
    color:#f00
    text-decoration-line: line-through

.clase_cabecera
    background-color: #A0AAAB

.color_icono
    color: #0E99C1

.estilo_row
    margin-bottom: 0px !important
    
.img-responsive
    width: 10%
.border_item
    padding: 5px 8px
    line-height: 12px
    border: 1px solid
    font-weight: 400
    font-size: 13px
    color: rgba(0,0,0,.54) !important;
    display: inline-block;
    text-align: center;


.mat-column-infoPago
    flex: 0 0 5%
.mat-column-fecha
    flex: 0 0 7%
.mat-column-banco
    flex: 0 0 7%
.mat-column-monto
    flex: 0 0 5%

.mat-column-url
    flex: 0 0 5%

.mat-column-nombre
    flex: 0 0 15%

.mat-column-dni
    flex: 0 0 7%

.mat-column-telefono
    flex: 0 0 7%

.mat-column-programa
    flex: 0 0 15%
.mat-column-curso
    flex: 0 0 15%
.mat-column-tipo
    flex: 0 0 7%
.mat-column-estado
    flex: 0 0 5%
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline
  background-color: white
  border-radius: 7px


.chip_color_primary
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    padding: 7px 12px;
    border-radius: 16px;
    align-items: center;
    cursor: default;
    min-height: 32px;
    height: 1px;
    background-color: #3f51b5;
    color: #fff;
.chip_color_secondary
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    padding: 7px 12px;
    border-radius: 16px;
    align-items: center;
    cursor: default;
    min-height: 32px;
    height: 1px;
    background-color: #28a745;
    color: #fff;

.chip_color_t
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    padding: 7px 12px;
    border-radius: 16px;
    align-items: center;
    cursor: default;
    min-height: 32px;
    height: 1px;
    background-color: #2e86c1;
    color: #fff;

.chip_color_accent
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    padding: 7px 12px;
    border-radius: 16px;
    align-items: center;
    cursor: default;
    min-height: 32px;
    height: 1px;
    background-color: #ff4081;
    color: #fff;