<!-- <div class="content">
  <ul>
    <li>
      <canvas id="canvas" width="650" height="700"></canvas>
    </li>
  </ul>
  
</div> -->
<div class="container">
  <ul class="estilo_lista">
    <li  *ngFor = "let i = index; let c of poligono; trackBy:trackByFn" >
        <canvas attr.id="canvas-{{i}}" (click)="selectCanvas(i)" class="animacion" style="cursor: pointer;"></canvas>
    </li>
</ul>
</div>