.animacion
    position: absolute;
    top: 50%
    left: 50%
    width: 120px
    height: 120px
    margin: -60px 0 0 -60px
    -webkit-animation: spin 2s linear infinite
    -moz-animation: spin 2s linear infinite
    animation: spin 2s linear infinite

@-moz-keyframes spin 
    100% { -moz-transform: rotate(360deg) } 
