<section class="content">
    <div class="container-fluid">
      <div class="block-header">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="breadcrumb breadcrumb-style ">
              <li class="breadcrumb-item">
                <h4 class="page-title">Registro Prospecto
                </h4>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="card h-100">
            <div class="card-body">              
                <form [formGroup]="registroForm" class="form_width">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 estilo_row">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Cliente</mat-label>
                                <input matInput placeholder="Cliente" formControlName="cliente" required autocomplete="off"> 
                                <mat-error *ngIf="registroForm.controls.cliente.hasError('required')">
                                    Ingresa Cliente
                                </mat-error>
                            </mat-form-field> 
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Organización</mat-label>
                                <input matInput placeholder="Codigo" formControlName="organizacion" required autocomplete="off"> 
                                <mat-error *ngIf="registroForm.controls.organizacion.hasError('required')">
                                    Ingresa Organización
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 estilo_row">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>DNI</mat-label>
                                <input matInput placeholder="DNI" formControlName="dni" required autocomplete="off"> 
                                <mat-error *ngIf="registroForm.controls.dni.hasError('required')">
                                    Ingresa DNI
                                </mat-error>
                            </mat-form-field> 
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                            <div class="caja_checks">
                                <mat-checkbox class="example-margin" formControlName="activo">Activo</mat-checkbox>                                
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 estilo_row">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Nombre</mat-label>
                                <input matInput placeholder="Nombre" formControlName="nombre" required autocomplete="off"> 
                                <mat-error *ngIf="registroForm.controls.nombre.hasError('required')">
                                    Ingresa Nombre
                                </mat-error>
                            </mat-form-field> 
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Correo</mat-label>
                                <input matInput placeholder="Correo" formControlName="correo" required autocomplete="off"> 
                                <mat-error *ngIf="registroForm.controls.correo.hasError('required')">
                                    Ingresa Correo
                                </mat-error>
                            </mat-form-field> 
                        </div>

                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">                            
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Telefono</mat-label>
                                <input matInput placeholder="Representante" formControlName="telefono" required autocomplete="off"> 
                                <mat-error *ngIf="registroForm.controls.telefono.hasError('required')">
                                    Ingresa Telefono
                                </mat-error>
                            </mat-form-field>
                        </div>
                        
                    </div>

                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Universidad</mat-label>
                                <mat-select matSelect formControlName="universidad">
                                  <mat-option  *ngFor="let uni of universidades_lista" [value]="uni">
                                    {{uni.uni_nombre}}
                                  </mat-option>
                                </mat-select>                    
                                <mat-error *ngIf="registroForm.get('universidad').hasError('required')">
                                    Selecciona una Universidad
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Otros</mat-label>
                                <input matInput placeholder="Otros" formControlName="otros" required autocomplete="off"> 
                                <mat-error *ngIf="registroForm.controls.otros.hasError('required')">
                                    Ingresa Otros
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Programa</mat-label>
                                <mat-select matSelect formControlName="programa">
                                  <mat-option  *ngFor="let pro of programas_filtrados" [value]="pro">
                                    {{pro.nombre}}
                                  </mat-option>
                                </mat-select>                    
                                <mat-error *ngIf="registroForm.get('programa').hasError('required')">
                                    Selecciona un Programa
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                            <mat-form-field class="example-full-width form_campo" appearance="outline">
                                <mat-label>Fecha</mat-label>
                                <input matInput [matDatepicker]="picker" formControlName="fecha" readonly>
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Promoción</mat-label>
                                <mat-select matSelect formControlName="promocion">
                                  <mat-option  *ngFor="let promo of promociones_lista" [value]="promo">
                                    {{promo.pro_nombre}}
                                  </mat-option>
                                </mat-select>                    
                                <mat-error *ngIf="registroForm.get('promocion').hasError('required')">
                                    Selecciona una Promoción
                                </mat-error>
                            </mat-form-field> 
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>País</mat-label>
                                <mat-select matSelect formControlName="ifx_pais" (selectionChange)="selecPais($event.value)">
                                  <mat-option  *ngFor="let pais of paises_lista" [value]="pais">
                                    {{pais.pai_nombre}}
                                  </mat-option>
                                </mat-select>                    
                                <mat-error *ngIf="registroForm.get('ifx_pais').hasError('required')">
                                    Selecciona un País
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>User/Contact</mat-label>
                                <mat-select matSelect formControlName="user_contact">
                                  <mat-option  *ngFor="let usuario of usuarios_contactos" [value]="usuario">
                                    {{usuario.ven_nombre}}
                                  </mat-option>
                                </mat-select>                    
                                <mat-error *ngIf="registroForm.get('user_contact').hasError('required')">
                                    Este Campo es Obligatorio
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Semestre</mat-label>
                                <mat-select matSelect formControlName="semestre">
                                  <mat-option  *ngFor="let sem of semestres_lista" [value]="sem">
                                    {{sem.sem_nombre}}
                                  </mat-option>
                                </mat-select>                    
                                <mat-error *ngIf="registroForm.get('semestre').hasError('required')">
                                    Selecciona un Semestre
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                                                                           
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                            <button mat-raised-button color="warn" (click)="volver()">Cancelar</button>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                            <button type="submit" class="mr-3" mat-raised-button color="primary" (click)="enviarFormulario()">Guardar</button>
                        </div>
                    </div>                   
                </form>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>