<div>
    <h2 mat-dialog-title>{{nombre}}</h2>
    <div mat-dialog-content>
        <div class="text-inside p-4">
            <form [formGroup]="notificacionForm" class="form_width">
                <div class="row">
                    <div [ngClass]="{'col-6': isSelectT == '1' , 'col-12': isSelectT == '0'}">
                      <div class="row">
                        <div class="col-12">
                          <mat-form-field class="example-full-width" appearance="outline">
                              <mat-label>Tipo</mat-label>
                              <mat-select formControlName="tipo" required (selectionChange)="selectTipo($event.value)">
                                <mat-option *ngFor="let tipo of lista_tipo" [value]="tipo">
                                  {{tipo.name}}
                                </mat-option>
                              </mat-select>
                              <!-- <mat-icon matSuffix>travel_explore</mat-icon> -->
                              <mat-error *ngIf="notificacionForm.controls.tipo.hasError('required')">
                                Tipo es obligatorio
                              </mat-error>
                          </mat-form-field>
                          <div *ngIf="notificacionForm.get('tipo').value.id == 'LL'" class="">
                            <mat-checkbox class="example-margin" [checked]="isVendor" (change)="onChangeVendor($event)">Mismo vendedor</mat-checkbox>
                          </div>
                      </div>
                      <div *ngIf="!isVendor" class="col-12" >
                        <mat-form-field class="example-full-width" appearance="outline">
                          <mat-label>Seleccione un vendedor</mat-label>
                          <mat-select formControlName="vendedor" required (selectionChange)="selectVendedor($event.value)">
                            <mat-option *ngFor="let ven of lista_vendedores" [value]="ven">
                              {{ven.usu_nombre}}
                            </mat-option>
                          </mat-select>
                          <!-- <mat-icon matSuffix>travel_explore</mat-icon> -->
                          <mat-error *ngIf="notificacionForm.controls.tipo.hasError('required')">
                            Tipo es obligatorio
                          </mat-error>
                      </mat-form-field>
                      </div>
                      <!-- *ngIf="notificacionForm.get('tipo').value.id == '1' || notificacionForm.get('tipo').value.id == '2' || notificacionForm.get('tipo').value.id == '3'" -->
                      <div class="col-12">
                        <mat-form-field class="example-full-width" appearance="outline">
                          <mat-label>Dias</mat-label>
                            <input matInput  placeholder="Ingrese la cantidad de dias" formControlName="dias" required autocomplete="off"> 
                            <mat-error *ngIf="notificacionForm.get('dias').hasError('required')">
                                Ingresa cantidad de dias
                            </mat-error>
                        </mat-form-field>
                      </div>
                      <!-- *ngIf="notificacionForm.get('tipo').value.id == '1'" -->
                      <div class="col-12">
                        <mat-form-field class="example-full-width" appearance="outline">
                          <mat-label>Seleccione una hora</mat-label>
                          <mat-select formControlName="hora" required (selectionChange)="selectTipo($event.value)">
                            <mat-option *ngFor="let hora of lista_horas" [value]="hora">
                              {{hora.value}}
                            </mat-option>
                          </mat-select>
                          <!-- <mat-icon matSuffix>travel_explore</mat-icon> -->
                          <mat-error *ngIf="notificacionForm.controls.tipo.hasError('required')">
                            Tipo es obligatorio
                          </mat-error>
                        </mat-form-field>
                          <!-- <mat-form-field class="example-full-width " appearance="outline">
                            <mat-label>Hora</mat-label>
                            <input matInput type="time" formControlName="hora"
                              required autocomplete="off">
                            <mat-error *ngIf="notificacionForm.get('hora').hasError('required')">
                              Hora es obligatorio
                            </mat-error>
                          </mat-form-field> -->
                      </div>
                      <!-- *ngIf="notificacionForm.get('tipo').value.id == '1'"-->
                      <div class="col-12">
                        <mat-form-field class="example-full-width " appearance="outline">
                            <mat-label>Recordatorio</mat-label>
                            <textarea matInput formControlName="recordatorio" placeholder="Recordatorio..."></textarea>
                            <mat-error *ngIf="notificacionForm.get('recordatorio').hasError('required')">
                              Recordatorio es obligatorio
                            </mat-error>
                          </mat-form-field>
                      </div>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="row">
                        <div *ngIf="notificacionForm.get('tipo').value.id == 'WA' || notificacionForm.get('tipo').value.id == 'EM'" class="col-12">
                          <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>{{notificacionForm.get('tipo').value.id == 'WA' ? 'Telefono' : 'Correo Electronico'}}</mat-label>
                              <input matInput  [placeholder]="notificacionForm.get('tipo').value.id == 'WA' ? 'Numero de Telefono' : 'Correo Electronico'" formControlName="prueba" required autocomplete="off"> 
                              <mat-error *ngIf="notificacionForm.get('prueba').hasError('required')">
                                {{notificacionForm.get('tipo').value.id == 'WA' ? 'Ingrese un numero de telefono' : 'Ingrese un correo valido'}}
                              </mat-error>
                          </mat-form-field>
                        </div>
                        <div *ngIf="notificacionForm.get('tipo').value.id == 'WA'" class="col-12">
                          <mat-form-field class="example-full-width " appearance="outline">
                            <mat-label>Mensaje</mat-label>
                            <textarea matInput formControlName="mensaje" placeholder="Mensaje..."></textarea>
                            <mat-error *ngIf="notificacionForm.get('mensaje').hasError('required')">
                              Mensaje es obligatorio
                            </mat-error>
                          </mat-form-field>
                        </div>
                        <div *ngIf="notificacionForm.get('tipo').value.id == 'WA'" class="col-12">
                          <mat-form-field class="example-full-width " appearance="outline">
                            <mat-label>Adjunto</mat-label>
                            <ngx-mat-file-input formControlName="adjunto">
                            </ngx-mat-file-input>
                            <mat-icon matSuffix>image_aspect_ratio</mat-icon>
                            <mat-error *ngIf="notificacionForm.get('adjunto').hasError('required')">
                              Imagen es obligatorio
                            </mat-error>
                          </mat-form-field>
                        </div>
                        <div *ngIf="notificacionForm.get('tipo').value.id == 'EM'" class="col-12">
                          <angular-editor formControlName="mensaje" [config]="editorConfig "></angular-editor>
                        </div>
                        <div *ngIf="notificacionForm.get('tipo').value.id == 'WA' || notificacionForm.get('tipo').value.id == 'EM'" class="col-12 text-center">
                          <button type="button" mat-raised-button color="warn" (click)="enviarPrueba()">Aprobar</button>
                      </div>
                      </div>
                    </div>
                    <!-- <div class="col-12 text-right">
                        <button mat-mini-fab class="boton_opcion" (click)="addNotify()">
                            <mat-icon class="col-white">add
                            </mat-icon>
                          </button>
                    </div> -->
                </div>
            </form>
        </div>
        
    </div>
    <div class="btn-sec contenedor_botones">                
      <div class="fila_botones">
          <div class="btn_izquierda">
              <button type="button" mat-raised-button color="warn" (click)="closeDialog()">Cancelar</button>
          </div>
          <div class="btn_derecha">
              <button class="mr-3" mat-raised-button color="primary" (click)="enviarFormulario()">Guardar</button>
          </div>
      </div>                
  </div>
</div>