<div class="container">
    <div><h1>Desea generar cuotas?</h1></div>
    <div><p>El pago actual se convertira en la primera cuota</p></div>
    <div class="col-12 estilo_btn">
        <mat-button-toggle-group
       (change)="onChange($event)">
       <mat-button-toggle [value]="1">soles</mat-button-toggle>
       <mat-button-toggle [value]="2">dolares</mat-button-toggle>
    </mat-button-toggle-group>
    </div>
    <div class="row ">
        <div class="col-12 estilo_row">
            <button mat-raised-button color="warn" class="margin_btn" (click)="closeDialog()">No</button>
            <button [disabled]="!isGenerarCuota" type="submit" class="margin_btn_l" mat-raised-button color="primary" (click)="generarCuota()">Si</button>
        </div>
    </div> 
</div>