mat-button-toggle-group 
  margin-left: 12px;

.estilo_btn
  text-align: center
  margin: 15px auto;

.estilo_row
  text-align: center;

.margin_btn
  margin-right: 10px;

.margin_btn_l
  margin-left: 10px;