.btn-sec
    text-align: center; 
.mr-3
    margin: 0 0 0 25px;

.estilo_close
    cursor: pointer;    
.title_popup
    text-align: center; 
    padding-left: 70px; 
.etiqueta
    width: 100%;
    text-align: center;
