<div class="container">
  <div class="row">
    <div class="col-10 estilo_title">
      <h2 mat-dialog-title class="title_popup">{{accion}}</h2>
    </div>
    <div class="col-2 estilo_close" (click)="closeDialog()">
      <mat-icon matSuffix>close</mat-icon>
    </div>
  </div>
  <div mat-dialog-content>
    <form [formGroup]="formBusqueda">
      <div class="container">
        
        <div class="col-12">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Año</mat-label>
            <mat-select formControlName="anios" required>
              <mat-option *ngFor="let anio of lista_anios" [value]="anio">
                {{anio.anio_nombre}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-12">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Mes</mat-label>
            <mat-select formControlName="meses" required>
              <mat-option *ngFor="let mes of lista_meses" [value]="mes">
                {{mes.mes_nombre}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-12">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Valor</mat-label>
            <input matInput formControlName="valor" type="number" style="text-align: right;" required
              autocomplete="off">
            <!-- <mat-error *ngIf="editCuota.get('dni').hasError('required')">
              DNI es obligatorio
          </mat-error> -->
          </mat-form-field>
        </div>
      </div>

      <div class="btn-sec">
        <button type="button" mat-button [disabled]="enviando" (click)="closeDialog()">Cancelar</button>
        <!--  -->
        <button type="button" class="mr-3" mat-raised-button color="primary" [disabled]="!formBusqueda.valid || enviando" (click)="enviarMeta()">{{accion}}</button>
      </div>
    </form>

  </div>


</div>
