<section class="content">
    <div class="container-fluid">
        <div class="block-header">
        <div class="row justify-content-between">
            <div class="">
                <ul class="breadcrumb breadcrumb-style ">
                    <li class="breadcrumb-item">
                        <h4 class="page-title"></h4>
                    </li>
                </ul>
          </div>
            <div class="estile_paginator" layout-align="end center">
                <mat-toolbar>
                    <mat-toolbar-row>
                      <mat-paginator #paginator style-paginator showFirstLastButtons          
                            [length]="length"
                            [pageIndex]="pageIndex"           
                            [pageSize] = pageSize
                            [hidePageSize]= true
                            (page)="pageEvent = getServerData($event)">
                        </mat-paginator>
                       <mat-icon style="cursor:pointer;color: red;"(click)="cerrarDetalle()" >close</mat-icon>
                    </mat-toolbar-row>
                  </mat-toolbar>
            </div>
        </div>
      </div>

      <div class="row">
        <div [ngClass]="gCuota ? 'col-5' : 'col-md-5 col-sm-5'">
          <div class="card h-100">
            <div class="contact-grid"> 
                <div class="profile-header estilo_header">
                    <div class="name-center">Nombre:</div>
                    <div class="user-name">{{rowPago?.pag_nombre || ''}}</div>
                    <!-- <img src="../../../assets/images/nofound.jpg" clrowPago?.nameass="user-img" alt=""> -->
                  </div>
                 </div>
            
            <div class="card-body">              
                <form [formGroup]="pagoPendienteForm" class="form_width">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 estilo_row">
                            <!-- <small class="text-muted">Nombre</small>
                            <p>{{rowPago.pag_nombre}}</p> -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 estilo_row">
                            <small class="text-muted">DNI: </small>
                            <p>{{rowPago?.pag_dni || ''}}</p>
                            <!-- <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>DNI</mat-label>
                                <input matInput placeholder="DNI" formControlName="dni" required autocomplete="off" readonly> 
                                <mat-error *ngIf="pagoPendienteForm.controls.dni.hasError('required')">
                                    Ingresa codigo de DNI
                                </mat-error>
                            </mat-form-field>  -->
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 estilo_row">
                            <small class="text-muted">Telefono: </small>
                            <p>{{rowPago?.pag_telefono || ''}}</p>
                            <!-- <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Telefono</mat-label>
                                <input matInput placeholder="Representante" formControlName="telefono" required autocomplete="off" readonly> 
                                <mat-error *ngIf="pagoPendienteForm.controls.telefono.hasError('required')">
                                    Ingresa Telefono
                                </mat-error>
                            </mat-form-field>  -->
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                            <small class="text-muted">Correo: </small>
                            <p>{{rowPago?.pag_email || ''}}</p>
                            <!-- <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Correo</mat-label>
                                <input matInput placeholder="Correo" formControlName="email" required autocomplete="off" readonly> 
                                <mat-error *ngIf="pagoPendienteForm.controls.email.hasError('required')">
                                    Ingresa Correo
                                </mat-error>
                            </mat-form-field>  -->

                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                            <div class="caja_checks">
                                <mat-checkbox  [disabled]="true" [checked]= "isActivo" class="example-margin">Activo</mat-checkbox>                                
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                            <small class="text-muted">Universidad: </small>
                            <p>{{universidad}}</p>
                            <!-- <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Otros</mat-label>
                                <input matInput placeholder="Universidad" formControlName="universidad" required autocomplete="off" readonly> 
                                <mat-error *ngIf="pagoPendienteForm.controls.universidad.hasError('required')">
                                    Ingresa una Universidad
                                </mat-error>
                            </mat-form-field> -->
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                            <div class="caja_checks">
                                <mat-checkbox [disabled]="true" [checked]= "isMatriculado" class="example-margin">Matriculado</mat-checkbox>
                            </div>
                            
                            <!-- <small class="text-muted"> Otros: </small>
                            <p>{{rowPago.uni_otros}}</p>-->
                            <!-- <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Otros</mat-label>
                                <input matInput placeholder="Otros" formControlName="otros" required autocomplete="off" readonly> 
                                <mat-error *ngIf="pagoPendienteForm.controls.otros.hasError('required')">
                                    Ingresa Otros
                                </mat-error>
                            </mat-form-field> -->
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                            <small class="text-muted"> Programa: </small>
                            <p>{{rowPago?.pro_nombre || ''}}</p>
                            
                            <!-- <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Curso</mat-label>
                                <input matInput placeholder="Programa" formControlName="programa" required autocomplete="off" readonly> 
                                <mat-error *ngIf="pagoPendienteForm.controls.programa.hasError('required')">
                                    Ingresa Programa
                                </mat-error>
                            </mat-form-field> -->
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                            <small class="text-muted"> Curso: </small>
                            <p>{{rowPago?.cur_nombre || rowPago?.cur_lista_combo || ''}}</p> 
                            <!-- <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Curso</mat-label>
                                <input matInput placeholder="Curso" formControlName="curso" required autocomplete="off" readonly> 
                                <mat-error *ngIf="pagoPendienteForm.controls.curso.hasError('required')">
                                    Ingresa un Curso
                                </mat-error>
                            </mat-form-field> -->
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                            <small class="text-muted"> Meses Contratados: </small>
                            <p>{{rowPago?.pag_duracion || ''}}</p>  
                         
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                            <small class="text-muted"> Inicio Curso: </small>
                            <p>{{rowPago?.pag_inicio_curso || ''}}</p>  
                            
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                            <small class="text-muted"> Pais: </small>
                            <p>{{rowPago?.pas_nombre || ''}}</p>   
                           
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                            <small class="text-muted"> Codigo Personal: </small>
                            <p>{{rowPago?.usu_codigo_ref || ''}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                            <small class="text-muted"> Vendedor: </small>
                            <p>{{rowPago?.pag_vendedor || ''}}</p>      
                          
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                            <small class="text-muted"> Codigo Promocional: </small>
                            <p>{{rowPago?.pag_cod_promocion || ''}}</p>      
                          
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                            <small class="text-muted">Nombre Referido: </small>
                            <p>{{rowPago?.ref_nombre || ''}}</p>

                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                            <small class="text-muted">Dni Referido: </small>
                            <p>{{rowPago?.ref_dni || ''}}</p>
                        </div>
                    </div>


                   
             
                   
                    <div class="row">
                        <div [ngClass]="gCuota ? 'display_boton' : 'col-xl-12 col-lg-12 col-md-12 col-sm-12 caja_boton'">
                            <button [disabled]="isGenCuota" type="button" mat-raised-button class="mr-3 boton_procesar" color="accent" (click)="procesar()">Generar cuota</button>
                        </div>
                        <div Class='col-xl-12 col-lg-12 col-md-12 col-sm-12 caja_boton'>
                            <button [disabled]="!isEditMatricula" type="button" mat-raised-button class="mr-3 boton_procesar" color="primary" (click)="editarCursoByVendedor()">Editar</button>

                        </div>   
                        <!-- <div [ngClass]="isMatriculado ? 'display_boton' : 'col-xl-12 col-lg-12 col-md-12 col-sm-12 caja_boton'">
                            <button [disabled]="activeBtnMatricula" type="button" mat-raised-button class="mr-3 boton_procesar" color="accent" (click)="matricularByCaja()">Matricular</button>
                        </div>  -->
                    </div>                   
                </form>
            </div>
          </div>
        </div>
       <div class="col-7" >
           <div class="card">
               <mat-tab-group>
                   <mat-tab>
                       <ng-template mat-tab-label>
                           <mat-icon class="example-tab-icon mr-2">paid
                           </mat-icon>Pagos
                       </ng-template>
                       <div class="col-lg-12 col-md-12 col-sm-12 p-t-25" *ngIf="gCuota==true">
                        <mat-grid-list cols="3" rowHeight="1:1">
                            <div class="row mt-0 ml-0 mr-0">
                                <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 m-10">
                                    <div class="card border-apply">
                                    <div class="m-b-20">
                                        <div class="contact-grid">
                                        <div class="profile-header nueva_cuota">
                                            <div class="user-name">Generar Nueva Cuota</div>
                                            <button mat-icon-button color="accent" class="btn-tbl-add" (click)="crearCuota()">
                                                <mat-icon aria-label="Edit" class="col-white tamano_icon_add">add</mat-icon>
                                            </button>   
                                            <div class="p-1">                        
                                                <ul class="list-group list-group-unbordered">
                                                  <li class="gCenter">
                                                    <b>Total Venta:</b>
                                                  </li>
                                                  <li>
                                                    <div class="profile-desc-item pull-center" style="font-size: 15px;" *ngIf="monedaID=='308'">s/. {{montoTotal | number:'1.2-2'}}</div>
                                                    <div class="profile-desc-item pull-center" style="font-size: 15px;" *ngIf="monedaID=='100'">s/. {{montoTotal | number:'1.2-2'}}</div>
                                                  </li>
                                                  <li class="gCenter">
                                                    <b>Saldo:</b>
                                                  </li>          
                                                  <li>
                                                    <div class="profile-desc-item pull-center" style="font-size: 15px;" *ngIf="monedaID=='308'">s/. {{montoSaldo | number:'1.2-2'}}</div>
                                                    <div class="profile-desc-item pull-center" style="font-size: 15px;" *ngIf="monedaID=='100'">s/. {{montoSaldo | number:'1.2-2'}}</div>
                                                  </li>                                                                                                             
                                                </ul>
                                              </div>                      
                                        </div>
                                        
                                        </div>
                                    </div>
                                    </div>
                                </div>

                                <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12" *ngFor="let cuota of cuotas; let i = index">                  
                                    <div class="card">
                                      <div class="m-b-20">
                                        <div class="contact-grid">
                                          <div [ngClass]="{'profile-header l-bg-green':cuota.cuota_estado=='Validando','profile-header l-bg-orange':cuota.cuota_estado=='Procesado','profile-header l-bg-red':cuota.cuota_estado=='Pendiente'}">
                                            <div class="user-name">{{cuota.cuota_estado}}</div>
                                          </div>        
                                                <div class="p-1">                          
                                                  <ul class="list-group list-group-unbordered">
                                                    <li class="list-group-item">
                                                      <b>N° Cuota </b>
                                                      <div class="profile-desc-item pull-right">{{i+1}}</div>
                                                    </li>
                                                    <li class="list-group-item">
                                                      <b>F. Venc. </b>
                                                      <div class="profile-desc-item pull-right">{{cuota.fecha_vencimiento_l}}</div>
                                                    </li>
                                                    <li class="list-group-item">
                                                      <b>Monto Cuota </b>
                                                      <div class="profile-desc-item pull-right" *ngIf="monedaID=='308'">{{moneda[0]}} {{cuota.cuota_monto | number:'1.2-2'}}</div>
                                                      <div class="profile-desc-item pull-right" *ngIf="monedaID=='100'">{{moneda[1]}} {{cuota.cuota_monto | number:'1.2-2'}}</div>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <b>Vendedor</b>
                                                        <div class="profile-desc-item pull-right">{{cuota.fecha_vencimiento_l}}</div>
                                                      </li>
                                                    <li class="list-group-item" *ngIf="cuota.cuota_estado == 'Procesado'" >
                                                        <b><span (click)="verImageVoucher(cuota)"><a href="{{ruta_imagen}}" target="_blank"><img  class="img_voucher" src="../../../assets/images/paper_bill.png" ></a></span></b>
                                                        <div class="profile-desc-item pull-right">
                                                            <ul>                                                                
                                                                <li>{{cuota.banco_nombre}}</li>
                                                                <li *ngIf="monedaID=='308'">{{moneda[0]}} {{cuota.abono_monto | number:'1.2-2'}}</li>
                                                                <li *ngIf="monedaID=='100'">{{moneda[1]}} {{cuota.abono_monto | number:'1.2-2'}}</li>
                                                                <li>{{cuota.fecha_abono_l}}</li>
                                                                <li>#{{cuota.num_operacion}}</li>
                                                                <li><div *ngIf="cuota.validado_estado == 'Pendiente'" [ngClass]="{'color_valor_green':cuota.validado_estado=='Aprobado','color_valor_orange':cuota.validado_estado=='Procesado','color_valor_red':cuota.validado_estado=='Pendiente'}">
                                                                    {{cuota?.validado_estado || ''}}
                                                                </div></li> 
                                                            </ul>
                                                        </div>
                                                    </li>
                                                    <li class="list-group-item" *ngIf="cuota.cuota_estado == 'Validando'" >
                                                        <b><span (click)="verImageVoucher(cuota)"><a href="{{ruta_imagen}}" target="_blank"><img  class="notice-object img_voucher" src="../../../assets/images/paper_bill.png" ></a></span></b>
                                                        <div class="profile-desc-item pull-right">
                                                            <ul>
                                                                <li>{{cuota.banco_nombre}}</li>
                                                                <li *ngIf="monedaID=='308'">{{moneda[0]}}{{cuota.abono_monto | number:'1.2-2'}}</li>
                                                                <li *ngIf="monedaID=='100'">{{moneda[1]}}{{cuota.abono_monto | number:'1.2-2'}}</li>
                                                                <li>{{cuota.fecha_abono_l}}</li>
                                                                <li>#{{cuota.num_operacion}}</li>   
                                                                <li><div  [ngClass]="{'color_valor_green':cuota.validado_estado=='Aprobado','color_valor_orange':cuota.validado_estado=='Procesado','color_valor_red':cuota.validado_estado=='Pendiente'}">
                                                                    {{cuota?.validado_estado || ''}}
                                                                </div></li>                                         
                                                            </ul>
                                                        </div>
                                                    </li>
                                                    <li class="list-group-item  centrar_img" *ngIf="cuota.cuota_estado == 'Pendiente'">
                                                        <b><img class="notice-object img_nofound" src="../../../assets/images/nofound.jpg" ></b>
                                                                                       </li>                                
                                                  </ul>
                                                </div>         
                                        <div class="profile-userbuttons" *ngIf="cuota.cuota_estado == 'Validando' || cuota.cuota_estado == 'Pendiente' ">
                                            <button *ngIf="cuota.validado_estado == 'Pendiente' && cuota.cuota_estado == 'Validando' " mat-icon-button color="accent" class="btn-tbl-edit" (click)="$event.stopPropagation()"
                                            (click)="editCuota(i)">
                                                <mat-icon aria-label="Edit" class="col-white">edit</mat-icon>
                                            </button>
                                            
                                            <button *ngIf="cuota.cuota_estado == 'Pendiente'" mat-icon-button color="accent" class="btn-tbl-delete" (click)="$event.stopPropagation()"
                                                (click)="eliminarCuota(i)">
                                                <mat-icon aria-label="Delete" class="col-white">delete</mat-icon>
                                            </button>
                                                <button *ngIf="cuota.cuota_estado == 'Validando' && cuota.validado_estado == 'Pendiente'" mat-icon-button color="accent" class="btn-tbl-edit" (click)="$event.stopPropagation()"
                                                (click)="aprobarCuotas(i)">
                                                <mat-icon aria-label="Edit" class="col-white">done</mat-icon>
                                            </button>
                                          
                                            
                                          </div>

                                          <div class="profile-userbuttons" *ngIf="cuota.cuota_estado == 'Procesado' " >
                                            <div class="color_valor_green">
                                                Aprobado
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </mat-grid-list>
                       </div>
                       <div class="col-lg-4 col-md-4 col-sm-4 p-t-25" *ngIf="gCuota == false">                  
                        <div class="card">
                          <div class="m-b-20">
                            <div class="contact-grid">
                              <div class="profile-header l-bg-green">
                                <div class="user-name">{{estado}}</div>
                              </div>        
                                    <div class="p-1">                          
                                      <ul class="list-group list-group-unbordered">
                                        <!-- <li class="list-group-item">
                                          <b>N° Cuota </b>
                                          <div class="profile-desc-item pull-right">{{i+1}}</div>
                                        </li> -->
                                        <!-- <li class="list-group-item">
                                          <b>F. Venc. </b>
                                          <div class="profile-desc-item pull-right">{{rowPago.pag_fecha_abono}}</div>
                                        </li>
                                        <li class="list-group-item">
                                          <b>Monto Cuota </b>
                                          <div class="profile-desc-item pull-right">{{rowPago.pag_monto | number:'1.2-2'}}</div>
                                        </li> -->
                                        <li class="list-group-item" >
                                            <b><span (click)="verImageVoucher(rowPago)"><a href="{{ruta_imagen}}" target="_blank"><img class="img_voucher" src="../../../assets/images/paper_bill.png" ></a></span></b>
                                            <div class="profile-desc-item pull-right">
                                                <ul>
                                                    <li>{{rowPago?.name || ''}}</li>
                                                    <li *ngIf="monedaID=='308'">{{moneda[0]}} {{rowPago?.pag_monto || '' | number:'1.2-2'}}</li>
                                                    <li *ngIf="monedaID=='100'">{{moneda[1]}} {{rowPago?.pag_monto || '' | number:'1.2-2'}}</li>
                                                    <li>{{rowPago?.pag_fecha_abono_l || ''}}</li>
                                                    <li>#{{rowPago?.pag_num_operacion || ''}}</li>
                                                    <li><div *ngIf="isGenCuota == false" [ngClass]="{'color_valor_green': rowPago?.validado_estado == 'Aprobado','color_valor_red': rowPago?.validado_estado == 'Pendiente'}">
                                                        {{rowPago?.validado_estado || ''}}
                                                    </div></li>
                                                </ul>
                                            </div>
                                        </li>
                                        <!-- <li class="list-group-item" *ngIf="cuota.cuota_estado == 'Procesado'" >
                                            <b><img class="img_voucher" src="../../../assets/images/paper_bill.png" ></b>
                                            <div class="profile-desc-item pull-right">
                                                <ul>
                                                    <li>{{rowPago.name}}</li>
                                                    <li>s/. {{rowPago.pag_monto | number:'1.2-2'}}</li>
                                                    <li>{{rowPago.pag_fecha_abono}}</li>
                                                    <li>#{{rowPago.pag_num_operacion}}</li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li class="list-group-item" *ngIf="cuota.cuota_estado == 'Validando'" >
                                            <b><img class="notice-object img_voucher" src="../../../assets/images/paper_bill.png" ></b>
                                            <div class="profile-desc-item pull-right">
                                                <ul>
                                                    <li>{{rowPago.name}}</li>
                                                    <li>s/. {{rowPago.pag_monto | number:'1.2-2'}}</li>
                                                    <li>{{rowPago.pag_fecha_abono}}</li>
                                                    <li>#{{rowPago.pag_num_operacion}}</li>                                            
                                                </ul>
                                            </div>
                                        </li>
                                        <li class="list-group-item  centrar_img" *ngIf="cuota.cuota_estado == 'Pendiente'">
                                            <b><img class="notice-object img_nofound" src="../../../assets/images/nofound.jpg" ></b>
                                                                           </li>                                 -->
                                      </ul>
                                    </div>         
                            <div class="profile-userbuttons" *ngIf="rowPago?.validado_estado=='Pendiente' || estado == 'Procesado'">
                                <!-- <button mat-icon-button color="accent" class="btn-tbl-edit" (click)="$event.stopPropagation()"
                                (click)="editCuota(i)">
                                    <mat-icon aria-label="Edit" class="col-white">edit</mat-icon>
                                </button> -->
                                
                                <button mat-icon-button color="accent" class="btn-tbl-edit" (click)="$event.stopPropagation()"
                                                (click)="aprobarPago()">
                                                <mat-icon aria-label="Edit" class="col-white">done</mat-icon>
                                            </button>
                                
                              </div>
                              <div class="profile-userbuttons" *ngIf="isGenCuota == true">
                                <div [ngClass]="{'color_valor_green':rowPago.validado_estado=='Aprobado','color_valor_red':rowPago.validado_estado=='Pendiente'}">
                                    {{rowPago?.validado_estado || ''}}
                                </div>                                
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                       <!-- <div class="col-lg-12 col-md-12 col-sm-12" *ngIf="gCuota == false">
                            <mat-grid-list cols="3" rowHeight="1:1">
                                <div class="row mt-0 ml-0 mr-0">
                                    <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12">                  
                                        <div class="card">
                                          <div class="m-b-20">
                                            <div class="contact-grid">
                                              <div [ngClass]="{'profile-header l-bg-green':cuota.cuota_estado=='Validando','profile-header l-bg-orange':cuota.cuota_estado=='Procesado','profile-header l-bg-red':cuota.cuota_estado=='Pendiente'}">
                                                <div class="user-name">{{cuota.cuota_estado}}</div>
                                              </div>        
                                                    <div class="p-1">                          
                                                      <ul class="list-group list-group-unbordered">
                                                        <li class="list-group-item">
                                                          <b>N° Cuota </b>
                                                          <div class="profile-desc-item pull-right">1</div>
                                                        </li> 
                                                        <li class="list-group-item">
                                                            <b>F. Venc. </b>
                                                            <div class="profile-desc-item pull-right">{{rowPago.pag_fecha_abono}}</div>
                                                          </li> 
                                                          <li class="list-group-item">
                                                            <b>F. Pago</b>
                                                            <div class="profile-desc-item pull-right">{{rowPago.pag_fecha_abono}}</div>
                                                          </li> 
                                                          <li class="list-group-item">
                                                            <b>Banco </b>
                                                            <div class="profile-desc-item pull-right">{{rowPago.name}}</div>
                                                          </li>    
                                                          <li class="list-group-item">
                                                            <b>N. Operación </b>
                                                            <div class="profile-desc-item pull-right">{{rowPago.pag_num_operacion}}</div>
                                                          </li>         
                                                          <li class="list-group-item">
                                                            <b>Monto </b>
                                                            <div class="profile-desc-item pull-right">{{rowPago.pag_monto}}</div>
                                                          </li>              
                                                      </ul>
                                                    </div>         
                                            <div class="profile-userbuttons">
                                                <button mat-icon-button color="accent" class="btn-tbl-edit" (click)="$event.stopPropagation()"
                                                (click)="editCuota(i)">
                                                    <mat-icon aria-label="Edit" class="col-white">edit</mat-icon>
                                                </button>
                                
                                                <button mat-icon-button color="accent" class="btn-tbl-delete" (click)="$event.stopPropagation()"
                                                    (click)="eliminarCuota(i)">
                                                    <mat-icon aria-label="Delete" class="col-white">delete</mat-icon>
                                                </button>
                                                
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                </div>
                            </mat-grid-list>
                       </div> -->
                   </mat-tab>
                   <!-- <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon class="example-tab-icon mr-2">history
                        </mat-icon>Historial
                    </ng-template>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                     
                    </div>
                </mat-tab> -->
                <!-- <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon class="example-tab-icon mr-2">battery_full
                        </mat-icon>Total
                    </ng-template>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                     
                    </div>
                </mat-tab> -->
               </mat-tab-group>
           </div>
       </div>
      </div>
    </div>
  </section>